.modal {

    :global(.modal-content){
        top: 80px;
    }
    :global(.modal-dialog){
        max-width: 600px !important;
    }


    :global(.venueSelectlabel){
        label {
            margin-bottom: 10px;
            width: 100%;
            color: #000;
            font-family: "HarmoniaSansW01-Semibold";
            font-size: 1em;
            margin-bottom: 3px;
        }
    }

    :global(.venueSelect) {
        margin-bottom: 20px;
    }
     
     :global(.cancel){
        &:hover,:focus {
            background: #000;
            color: #fff;
        }
     }
}

.header {

    h1 {
        margin: 0 auto !important;
        font-size: 1.8em;
    }
    
    button {
        margin-left: 0 !important;
    }
}