.evented_description {
    font-size: 0.8em;
    overflow-y: scroll;
    height: 80px;
    border-bottom: 1px solid rgba(255, 108, 44, 0.2);
    @media screen and (max-width:767px) {
        height: 40px;
    }
}

.user_m{
    svg {
        height: 18px;
        fill: #858585;
    }
}

.message_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    // align-items: center;
    
    :global(.nameDate){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        :global(.user_m){
            padding-right: 10px;
            span {
                color: #858585;
                font-size: 0.8em !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            svg {
                height: 18px;
                fill: #858585;
            }
        }

    }
    :global(.button){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        :global(.approve-btn){
            margin-right: 10px;
            a {
                border: none;
                cursor: pointer;
                font-size: 0.8em !important;
                padding: 4px 26px;
                color:#fff;
                float:right;
                background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);

                @media screen and (min-width:768px) and (max-width:1480px) {
                    padding: 5px 13px
                }
            }
            @media screen and  (max-width:380px) {
                flex-direction: column;
             }
             @media screen and  (max-width:767px) {
                margin-right: 6px;
             }
        }

        :global(.remove-btn){
            a {
                border: none;
                cursor: pointer;
                font-size: 0.8em !important;
                padding: 4px 26px;
                color:#fff;
                float:right;
                background: radial-gradient(138.46% 137.77% at 90.14% -81.4%, #FFF 0%, red 100%);

                @media screen and (min-width:768px) and (max-width:1480px) {
                    padding: 5px 13px
                }
                @media screen and  (max-width:1480px) {
                    margin-left: 0;
                 }
            }
        }
        @media screen and  (max-width:300px) {
            flex-direction: column;
         }
        @media screen and  (max-width:1480px) {
           margin-top: 10px;
        }
    }
    @media screen and (max-width:992px) {
        flex-direction: column;
    }
}


.messageContainer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;

    @media (max-width:992px) {
        flex-direction: column;
        padding:0px;
        margin-top: 30px;
    }

    :global(.usersList){
        width: 40%;
        max-height: 800px;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: #fcfcfc;
        border: 1px solid #cccccc;

        @media (max-width:992px) {
            width: 100%;
        }

    }

    :global(.header){
        align-items: center;
        border-bottom: 1px solid #cccccc;
        h3 {
            padding:20px;
            margin: 0;
           
        }
    }
    
    :global(.user-container) {
        padding: 20px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        max-height: 750px;
        overflow-y: scroll;


        :global(.details) {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top:20px;
            padding-bottom:20px;
            gap:5px;
            border-bottom: 1px solid #cccccc;

            img {
                width: 50px;
                height: 50px;
                border-radius: 100%;
            }

            :global(.nameCon) {
                width: 60%;
            }


            div{
                h5 {
                    width: 100%;
                    margin: 0;
                    margin-top: 0px;
                    font-size: 1em;
                }
                span{
                    width: 100%;
                    opacity: 0.5;
                }
                &:hover {
                    h5 {
                       color: #FF6C2C;
                   }
               } 
            }
            :global(.messagetime) {
                opacity: 0.5;
                margin-left: auto;
            }

        }
        
    }


    :global(.userMessageList){
        width: 60%;
        max-height: 800px;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: #fcfcfc;
        border: 1px solid #cccccc;
        margin-left: 10px;
    
        @media (max-width:992px) {
            width: 100%;
            padding:0px;
            margin-top: 30px;
            margin-left: 0px;
        }
    

    }

     :global(.header-two){
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        gap: 5px;
        border-bottom: 1px solid #cccccc;
        h3 {
            margin: 0;
        }
        img {
           
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
    }

    :global(.messageList) {
        padding: 20px;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        max-height: 750px;
        overflow-y: scroll;
    }
    

    :global(.messagedetails) {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        // padding:20px;

        :global(.first) {
            width: 85%;
        }
    }

    :global(.message) {
        padding: 10px;
        background-color: #FFE5DB;
        border-radius: 10px;
    }
    
    :global(.show_name_date) {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    :global(.user_m){
        svg {
            height: 18px;
            fill: #858585;
            
        }
    }

    :global(.muted) {
        opacity: 0.5;
    }


    :global(.aproveReject) {
        width: 15%;
        height: fit-content;
        margin-top: auto;
        gap: 6px;

        span {
            margin-left: 5px;
            margin-top:5px;
            cursor: pointer;
        }
    }

    :global(.selectActive) {
        color: #FF6C2C;
    }
}