
.thumb {
    position: relative;
    text-align: center;
    color: white;
  
    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      height: 30%;
      width: 100%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
      border-radius: 10px;
    }
    
    img {
      max-width: 100%;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-right: 10px;
      width: 100%;
      object-fit: cover;
      max-height: 260px; 
      height: auto;
    }
  
    &__catgrs {
      position: absolute;
      bottom: 10px;
      right: 0px;
      width: 100%;
      font-size: 0.8em;
      text-align: left;
      padding: 4px 7px;
      max-width: 100%;
      overflow-x: scroll;
  
      span {
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        padding: 5px 15px;
        margin-right: 5px;
      }
  
      &::-webkit-scrollbar {
        width: 100%;
        height: 2px;
      }
  
      &::-moz-scrollbar {
        width: 100%;
        height: 2px;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: #FF6C2C;
        border-radius: 5px;
      }
  
      &::-moz-scrollbar-thumb {
        background-color: #FF6C2C;
        border-radius: 5px;
      }
    }
  
    &__favrt {
      position: absolute;
      top: 10px;
      left: 0px;
      width: 100%;
      font-size: 0.8em;
      text-align: left;
      padding: 0px 7px;
      text-align: right;
      transition: 0.5s;
  
      span {
        border: 1px solid #000;
        border-radius: 50%;
        background: #FFF;
        padding: 8px;
        cursor: pointer;
        position: relative;
  
        &:hover,
        &:focus {
          border-color: #FF6C2C;
          opacity: 0.8;
        }
  
      }
  
      img {
        max-width: 100%;
        width: 27px;
      }
  
      &:hover,
      focus {
        opacity: 0.6;
      }
    }
  }
  