@import "../../../styles/variables.scss";

// Start Header Section
.header {
    background-image: url("/images/landing-page/header-background.webp");
    background-repeat: no-repeat;
    background-size: cover;

    :global(.nav-link) {
        color: $white;
    }

    :global(.register_button) {
        button {
            font-family: $semibold-font;
            font-size: 16px;
            color:#fff;
            background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            padding:10px 40px;
            text-decoration:none;
            transition:0.5s;
            border:0px;
            &:hover, :focus {
                box-shadow: 0 0 1px rgb(0 0 0 / 0%);
                background: transparent;
                border: 1px solid #FF6C2C;
                color: #FF6C2C;
            }
        }

        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    :global(.register_button_mobile) {
        display: none;
        button {
            font-family: $semibold-font;
            font-size: 0.8rem;
            color:#fff;
            background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            padding: 5px 20px;
            text-decoration:none;
            transition:0.5s;
            border:0px;
            &:hover, :focus {
                opacity: 0.8;
                box-shadow: 0 0 1px rgb(0 0 0 / 0%);
            }
        }

        @media screen and (max-width: 992px) {
            display: block;
        }
    }
}
// End Header Section


// Start Mobile menu button
.mobileMenu {
    border: none;

    :global(.navbar-toggler-icon) {
        background-image: url('/images/home/menu.png');
    }

    :global(.navbar-toggler-icon.dark) {
        background-image: url('/images/home/menu-white.png');
    }
}
// End Mobile menu button

// Start Schedule a Call 
.schedule_a_call {
    display: flex;
    padding-top: 5rem;

    :global(.call_section) {
        flex-basis: 60%;
        padding: 0px 7vw;
        padding-top: 20px;
        h1 {
            font-family: $RoundoVariable;
            font-size: 5vw;
            color: $white;
            margin-bottom: 10px;
            line-height: 1;
        }
        p {
            font-size: 1vw;
            color: $white;
            line-height: 1.5;
            padding-right: 5vw;
        }

        :global(.call_input_section) {
            margin-top: 35px;
            padding-right: 5vw;
            position: relative;

            :global(.call_input_group) {
                background: #fff;
                -webkit-border-radius: 80px;
                -moz-border-radius: 80px;
                border-radius: 80px;
                padding: 7px 10px;
                position: relative;
                display: flex;

                height: 3.45vw;
                align-items: center;
                width: 100%;

                input {
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;
                    padding: 0.5vw 1vw 0.5vw 60px;
                    background-image: url("/images/landing-page/phone.png");
                    background-repeat: no-repeat;
                    background-size: auto;
                    background-position: 20px;
                    border: 0;
                    font-size: 1vw;
                    filter: grayscale(100%);
                    @media screen and (max-width: 767px) {
                      padding: 15px 32px;
                      background-position: 2px;
                    }
                }

                button {
                    height: 100%;
                    width: 15vw;
                    max-width: 10vw;
                    background: radial-gradient(
                        138.46% 137.77% at 53.14% -61.4%,
                        #ffb494 0%,
                        #ff6c2c 100%
                    );
                    -webkit-border-radius: 80px !important;
                    -moz-border-radius: 80px !important;
                    border-radius: 80px !important;
                    color: #fff;
                    transition: 0.5s;
                    padding: 0.3vw 1vw;
                    font-family: $semibold-font;
                    font-size: 1vw;
                    border: 0px;
                    &:hover,
                    :focus {
                        background: #000;
                    }
                    @media screen and (max-width: 767px) {
                        padding: 5px 30px;
                    }

                    img {
                        display: none;
                    }
                }
            }

            img {
                position: absolute;
                right: 7vw;
                top: 110%;
                max-width: 5vw;
            }
        }

        :global(.latest_artist_profile) {
            display: flex;
            margin-top: 35px;
            gap: 10px;
            align-items: center;
            ul {
                padding: 0px;
                margin-left: 20px;
                margin-bottom: 0px;
                li {
                    list-style: none;
                    float: left;
                    margin-left: -20px;
                }
            }

            :global(.rating) {
                display: flex;
                flex-direction: column;
                ul {
                    padding: 0px;
                    margin: 0px;
                    li {
                        list-style: none;
                        margin-left: 0px;
                        padding: 0px 3px;
                        color: $white;
                        font-size: 100%
                    }
                }
                p {
                    font-size: 70%;
                    color: $white;
                    margin-bottom: 0px;
                }
            }
        }
    }

    :global(.review_section) {
        flex-basis: 40%;
        padding-right: 7vw;
        
        :global(.review_box) {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(58, 22, 0, 0.48);
            border-radius: 10px;
            padding: 15px 20px;
            margin-bottom: 1.25rem;

            :global(.information) {
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: space-between;
                font-size: 1.05vw;
                font-family: $semibold-font;
                img {
                    padding-left: 10px;
                }

                ul {
                    display: flex;
                    padding: 0px;
                    margin: 0px;
                    li {
                        list-style: none;
                        margin-left: 0px;
                        padding: 0px 3px;
                        color: $white;
                    }
                }
            }

            :global(.review) {
                p {
                    font-size: 0.75vw;
                    margin: 0px;
                    color: $dark;
                }
            }

            &:nth-child(2) {
                max-width: 77%;
                margin-left: -14%;
            }

            &:nth-child(3) {
                max-width: 83%;
                margin-left: 5%;
            }

            &:nth-child(4) {
                max-width: 74%;
                margin-left: 10%;
            }
        }
    }

    @media (max-width:992px) {
        flex-direction: column;
        padding-top: 1rem;
        gap: 35px;

        :global(.call_section) {
            padding: 0px 6vw;

            p {
                font-size: 100%;
                padding-right: 0px;
            }

            :global(.call_input_section) {
                :global(.call_input_group) {
                    height: 60px;
                    input {
                        font-size: 100%;

                        @media (max-width:500px) {
                            padding: 15px 0px 15px 32px;
                        }
                    }

                    button {
                        width: 100%;
                        max-width: 175px;
                        font-size: 100%;

                        @media (max-width:500px) {
                            position: relative;
                            width: unset;
                            padding: 5px 15px;

                            span {
                                display: none;
                            }

                            img {
                                display: block;
                                position: relative;
                                right: auto;
                                top: auto;
                                width: 100%;
                            }
                        }
                    }
                }

                img {
                    max-width: 100%;

                    @media (max-width:500px) {
                        right: 0px;
                        right: 5%;
                        width: 50px;
                    }
                }
            }

            :global(.latest_artist_profile) {
                @media (max-width:500px) {
                   ul {
                    li {
                        img {
                            max-width: 38px;
                            height: auto;
                        }
                    }
                   }
                }
            }

            h1 {
                font-size: 6vw;

                @media (max-width:400px) {
                    font-size: 7vw;
                }
            }

            @media (max-width:300px) {
                padding: 0px;
            }
        }

        :global(.review_section) {
            padding: 0px 6vw;

            :global(.review_box) {
                :global(.information) {
                    font-size: 100%;
                }

                :global(.review) {
                    p {
                        font-size: 100%;
                    }
                }

                &:nth-child(2) {
                    max-width: 75%;
                    margin-left: -4%;
                }
            }

            @media (max-width:500px) {
                padding: 0px 5vw;
            }

        }
    }
}
// End Schedule a Call 
