@import "../../styles/variables.scss";

.PlayIcon {
  top: 36%;
}
.WhiteIcon {
  @media (max-width: 768px) {
    width: 40px;
    height: 40px;
  }
  @media (max-width: 530px) {
    width: 30px;
    height: 30px;
  }
}
.clockPosition {
  margin-left: 10px;
  float: left;
}
.sshare {
  float: right;
}
.shareIcon {
  &:hover {
    border-radius: 100%;
    background-color: #ff6c2c;
    stroke: white;
  }
}
.list {
  overflow-x: auto;
  overflow-y: hidden;
  padding-right: 10px;
  &::-webkit-scrollbar {
    height: 3px;
    background: #d9d9d9;
    margin-top: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ff6c2c;
    height: 3px;
    border-radius: 5px;
    margin-top: 5px;
  }
  &::-moz-scrollbar-thumb {
    background-color: #ff6c2c;
    height: 3px;
    border-radius: 2px;
    margin-top: 5px;
  }
}
.sliderIcon {
  a {
    svg {
      width: 50px;
    }
  }
}
.nextIcon {
  float: right;
  stroke: #ff6c2c;
  rect {
    stroke: #ff6c2c;
  }
}
.prevIcon {
  stroke: #ff6c2c;
  rect {
    stroke: #ff6c2c;
  }
}
.thumbImg {
  border-radius: 10px !important;
}
.vnslider2 {
  // padding-top: 0px !important;
}
// .vnIntro{
//     margin:40px;
// }
.iconThumb {
  margin-bottom: auto;
}


  .tags {
    font-size: 15px !important;
    font-family: $rgular-font;
    @media screen and (max-width: 767px) {
      font-size: 10px !important;
      padding: 6px 12px !important;
      line-height: 2.5715;
    }
}
  

.desc{
    margin-bottom:0px !important;
    @media screen and (max-width: 767px) {
      max-height:30px;
    }
  }
// .show_meta{
//     height:136px;
// }
