@import "../../../styles/variables.scss";

.button {
    
    background: $white;
    border-radius: 100px;
    border: 1px solid transparent;
    color: $primary;
    font-family: $semibold-font;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: 0.2s;
    height: auto;
    text-shadow: none;
    box-shadow: none;
    border-color: $primary;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover, &:focus, &:active {
        background: $primary;
        color: $white;
        border-color: $primary;

        svg {
            path {
                fill: $primary;
            }
        }
    }

    &[disabled] {
        background: $white;
        color: $primary;
        border-color: $primary;
        opacity: 0.8;
        
        &:hover, &:focus, &:active {
            background: $white;
            color: $primary;
            border-color: $primary;
        }
    }

    &[button-type='primary'] {
        background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, $primary 100%);
        color:$white;
        &:hover, &:focus, &:active {
            border-color: $dark;
            background: $dark;
            color: $white;
        }
    }

    &[button-type='ghost'] {
        background: $white;
        color:$dark;
        border:  1px solid $grey-300;

        &:hover, &:focus, &:active {
            border-color: $primary;
            background: $white;
            color: $primary;
        }
    }
    

    @media (max-width:580px) {
        font-size: 0.8em;
    }
}