@import "../../../styles/variables.scss";

.header {
  margin: var(--bs-modal-header-padding);
  padding-left: 0;
  padding-right: 0;
  color: $dark;
  align-items: start !important;

  :global(.headerPart) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  :global(.titleHeader) {
    width: 100% !important;
  }

  h3 {
    margin: 0;
    font-size: 24px;

    p {
      font-size: 18px;
      color: #6E6E6E;
      font-family: $rgular-font;
      margin: 0;
      margin-top: 5px;
    }
  }

  :global(.title) {
    width: 95% !important;
    max-height: 47px !important;
    border-radius: 10px;
    padding: 5px;
  }

  :global(.btn-close) {
    opacity: 1;
    width: 0.6em;
    height: 0.6em;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    background-size: 10px;
    // margin-top: 5px;

    position: absolute;
    top: 25px;
    right: 25px;

    &:hover {
      border-color: $primary;
    }
  }
}

.modal {
  :global(.modal-content) {
    border: 1px solid $primary;
    padding: 1rem;
    padding-top: 20px;

    h2 {
      text-align: center;
    }
  }

  :global(.modal-dialog) {
    max-width: 770px !important;

    @media (max-width:767px) {
      width: 100%;
    }
  }
}


.body {
  padding: 0px 20px !important;

  :global(.event-infomation),
  :global(.artist-infomation),
  :global(.booking-contact),
  :global(.payment-information) {
    border: 1px solid var(--bs-modal-header-border-color);
    border-radius: 10px;
    padding: 10px;

    label {
      color: #6E6E6E;
    }
  }

  :global(.notes) {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
  }

  :global(.artists) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 60px;

    div:nth-child(1),
    div:nth-child(2) {
      flex-basis: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  :global(.paymentContainer) {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  :global(.logTips) {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 6px;

    label {
      white-space: nowrap;
    }

    div {
      input {
        max-width: 200px;
      }
    }
  }

  :global(.dateAndTime) {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;

    :global(.ant-picker) {
      border-radius: 6px;
      height: 40px;
      min-width: 150px;
    }

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  :global(.paymentM) {
    margin-top: 10px;
    margin-right: 20px;

    :global(.checkboxImg) {
      margin-right: 5px;
      height: 24px;
      width: 28px;
    }
  }

  :global(.event-infomation) {
    label {
      color: #6E6E6E;
    }
  }

  :global(a) {
    color: $primary;
    border-bottom: 1px solid #000000D9;

    &:hover,
    :focus {
      color: $primary;
      border-color: $primary;
    }
  }

  :global(.linksAv) {
    color: $primary;
    border-bottom: none !important;

    &:hover,
    :focus {
      color: $primary;
      border-color: none;
    }

  }

  :global(p) {
    margin-bottom: 8px;
  }

  :global(input) {
    margin-right: 10px;
  }

  :global(img) {
    border-radius: 10px;
    height: auto;
  }

  :global(.no-border-radius) {
    border-radius: unset;
    width: 20px;
    padding-right: 5px;
  }

  :global(.booking-contact) {
    :global(.d-flex) {
      gap: 10px
    }
  }

  :global(.budget) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      justify-content: space-between;
    }

    padding-right: 20px;

    @media (max-width:767px) {
      flex-direction: column;
    }
  }

  :global(.payment) {
    div {
      display: flex;
      gap: 10px;
    }
  }

  :global(.ant-row-exedited) {
    margin-left: auto;
  }

  :global(.expeditedPy) {
    margin-left: auto;
  }

  :global(.dflex) {
    display: flex;
    flex-direction: row;

    @media (max-width:767px) {
      flex-direction: column;
    }
  }

  :global(.allExport) {
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }

  }

  :global(.noteSection) {
    max-height: 300px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }
  }

  :global(.note-history) {
    background: #FDF4E6;
    border-left: 6px solid #E79720;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    color: #E79720;

    div:nth-child(1) {
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      flex-direction: column;
    }
  }

  textarea {
    border: 1px solid #D9D9D9;
    border-radius: 10px;

    &:focus,
    &:focus-within,
    &:focus-visible {
      border-color: $primary;
      outline: $primary;
    }
  }

}