@import "../../../styles/variables.scss";

.modal_body {

    :global(.dividar) {
        padding-bottom: 10px;
        border-top: 1px solid $primary;
    }

    :global(.venueSearch) {
        button {
            border: none;
            background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, $primary 100%);
            padding: 2px 15px;
            color: $white;
            float: right;
            border-radius: 20px;
            margin-bottom: 5px;
        }
    }

    :global(.icons) {
        :global(.addIcon) {
            background-color: $primary;
            border-radius: 7px;
            /* width: 50%; */
            cursor: pointer;
            text-align: center;
            align-items: center;

            img {
                cursor: pointer;
            }
        }

    }

    :global(.btn-secondary) {

        &:hover {
            background: $dark;
            color: $white;
        }
    }
}


.header {
    border: none;
    text-align: center;

    h2 {
        text-align: center;
        align-items: center;
    }
}

.modalBody {
    margin: 0;

}

.venueSelect {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectFieldModal {
    width: 100%;

    &:hover,
    :focus {
        border-color: $dark;
        box-shadow: $dark;
    }
}

.venueSelectlabel {
    label {
        width: 100%;
        color: $dark;
        font-family: "HarmoniaSansW01-Semibold";
        font-size: 1em;
        margin-bottom: 3px;
    }

    :global(.ant-picker:hover) {
        border-color: hsl(0, 0%, 70%) !important;
    }

    :global(.ant-picker-focused) {
        border: 2px solid $dark !important;
    }

    :global(.timePiker) {

        :global(.ant-picker) {
            width: 100%;
            border: 1px solid;
            border-color: hsl(0, 0%, 80%);
            height: 39px;
            font-size: 19px;
            border-radius: 6px;

            :global(.ant-picker-input) {
                input {
                    font-size: 18px;
                }
            }

        }
    }

    @media (max-width:767px) {
        margin-top: 10px;
    }
}

.datePicker {
    // padding: 10px 11px 10px !important; 
    font-size: 20px !important;
    position: relative;
    display: flex !important;
    align-items: center !important;
    background: $white;

    // border: 1px solid #d9d9d9;
    border-radius: 6px !important;
    transition: border 0.3s, box-shadow 0.3s;

    // width: 100% !important;
    input {
        border: none !important;
        font-size: 18px !important;

        &:hover,
        :focus {
            border: none;
        }
    }
}

.DateSelect {
    width: 40%;
}

.TimeSelect {
    width: 25%;
}




.inputLabel {
    margin: 20px auto;
}

.checkbox {
    height: 100%;
    width: 100px;
    word-wrap: break-word;
}

.formatsDiv {
    width: 104%;
}

@media screen and (max-width: 580px) {
    .venueSelect {
        flex-direction: column;
        gap: 10px;
    }

    .DateSelect {
        width: 100%;
    }

    .TimeSelect {
        width: 100%;
    }
}