@import "../../../styles/variables.scss";

.header {
  margin: var(--bs-modal-header-padding);
  padding-left: 0;
  padding-right: 0;
  color: $dark;
  align-items: start !important;

  h3 {
    margin: 0;
    font-size: 24px;

    p {
      font-size: 18px;
      color: #6E6E6E;
      font-family: $rgular-font;
      margin: 0;
      margin-top: 5px;
    }
  }

  :global(.btn-close) {
    opacity: 1;
    width: 0.6em;
    height: 0.6em;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    background-size: 10px;
    // margin-top: 5px;

    position: absolute;
    top: 25px;
    right: 25px;

    &:hover {
      border-color: $primary;
    }
  }
}

.modal {
  :global(.modal-content) {
    border: 1px solid $primary;
    padding: 1rem;
    padding-top: 20px;

    h2 {
      text-align: center;
    }

  }

  :global(.modal-dialog) {
    max-width: 600px !important;
  }
}

.body {
  padding-bottom: 1rem;
  margin-bottom: 0 !important;

  h3 {
    font-size: 1rem;
  }

  :global(.event-infomation),
  :global(.artist-infomation),
  :global(.booking-contact),
  :global(.payment-information) {
    // background-color: #ffe8de;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 10px;
  }

  :global(p) {
    margin-bottom: 0px;
  }

  :global(.event-details) {
    :global(.detail) {
      display: flex;
      justify-content: space-between;
      padding: 10px 5px;
      border-bottom: 1px solid;
      border-color: #D9D9D9;

      :global(.label) {
        img {
          padding-right: 10px;
          max-width: 26px;
          width: 26px;
        }
      }

      &:nth-child(1) {
        border-top: 1px solid;
        border-color: #D9D9D9;
      }

      @media screen and (max-width: 500px) {
        flex-direction: column;
        gap: 5px;
      }
    }
  }

  :global(.notes) {
    width: 100%;
    border-radius: 10px;
    padding: 5px;
  }

  :global(.button-after-content) {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    color: $primary;
  }

  :global(button) {
    width: 100%;
  }

  textarea {
    border: 1px solid #D9D9D9;
    border-radius: 10px;

    &:focus,
    &:focus-within,
    &:focus-visible {
      border-color: $primary;
      outline: $primary;
    }
  }
}