@import "../../styles/variables.scss";

.artist_card {
  border-radius: 10px;
  transition: 0.5s;
  padding-bottom: 30px;
  &:hover {
    box-shadow: 0px 10px 20px rgb(43 81 177 / 10%);
  }
}

.thumb {
  position: relative;
  text-align: center;
  color: white;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
    border-radius: 10px;
  }

  img {
    max-width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    width: 100%;
    object-fit: cover;
    max-height: 260px;
    height: auto;
  }

  &__catgrs {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 100%;
    font-size: 0.8em;
    text-align: left;
    padding: 10px;
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 10px;
    display: flex;
    
    span {
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      padding: 5px 15px;
      margin-right: 5px;
    }

    &::-webkit-scrollbar {
      width: 100%;
      height: 2px;
    }

    &::-moz-scrollbar {
      width: 100%;
      height: 2px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
    }

    &::-moz-scrollbar-thumb {
      background-color:  $primary;
      border-radius: 5px;
    }
  }

  &__favrt {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    font-size: 0.8em;
    text-align: left;
    padding: 5px;
    text-align: right;
    transition: 0.5s;

    span {
      cursor: pointer;

      &:hover,
      &:focus {
        svg {
          circle {
            stroke: $primary;
          }
          path {
            fill: $primary;
          }
        }
        opacity: 0.8;
      }
    }
  }
}

.title {
  display: block;
  max-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: $semibold-font;
  margin-top: 15px;
  color: $dark;

  &:hover {
    color: $primary;
  }
}

.abstract {
  color: rgba(0, 0, 0, 0.66);
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
}