@import "../../styles/variables.scss";

.header{
   border: none;
}
.modalBody{
    margin: 0;
    
}


.modal_footer{
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}
.rateImage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color:$primary ;
}
.madal_scrollbar{
    max-height: 500px;
    overflow-y: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-moz-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 5px;
      }
    &::-moz-scrollbar-thumb {
        background-color: $primary;
        border-radius: 5px;
      }
}
.review_card{
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
    width: 100% !important;
    background-size: cover;
    background: #1D1D1D;
    display: flex;
    height: 100%;
    flex-direction: column;
   
    @media (max-width:768px) {
        width: 100% !important;
    }
}
.review_card_white{
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
    width: 100% !important;
    background-size: cover;
    background: rgb(230, 230, 230);
    display: flex;
    height: 120px;
    flex-direction: column;
    color: black;
    @media (max-width:767px) {
        width: 100% !important; 
    }
    h4{
        color: black;
    }
}
.card_text{
    float: left;

}
.videoContaint{
    border-radius: 10px;
    padding: 10px;
    @media (min-width:360px)and (max-width:410px){
        height:250px;
        width: 320px;
    }
    @media (min-width:410px)and (max-width:520px){
        height:250px;
        width: 360px;
    }
   
}
.modalContentApprove{
    border: none !important;
}

.venueSelect {
    width: 100%;
   }
.selectFieldModal {
       width: 100%;
       &:hover,:focus {
           border-color: $dark;
           box-shadow: $dark;
       }
}