@import "../../styles/variables.scss";

.thumb {
  position: relative;
  text-align: center;
  color: $white;

  img {
    
    max-width: 100%;
    border-radius: 10px;
    margin-right: 10px;
    width: 100%;
    object-fit: cover;
    max-height: 260px;
    height: auto;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
    border-radius: 10px
  }

  &__catgrs {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 100%;
    // font-size: 0.8em;
    text-align: left;
    padding: 15px;
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 10px;
    span {
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      padding: 5px 15px;
      margin-right: 5px;
    }

    &::-webkit-scrollbar {
      width: 100%;
      height: 2px;
    }

    &::-moz-scrollbar {
      width: 100%;
      height: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
    }

    &::-moz-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
    }
  }

  &__favrt {
    position: absolute;
    top: 20px;
    right: 5px;
    font-size: 0.8em;
    transition: 0.5s;
    
    span {
      border: 1px solid #000;
      border-radius: 50%;
      background: $white;
      padding: 8px 8px;
      cursor: pointer;
      position: relative;

      &:hover,
      &:focus {
        border-color: $primary;
        opacity: 0.8;
      }
    }

    img {
      max-width: 100%;
      width: 27px;
    }
  }
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 30px;
  font-size: 1.25em;
  font-weight: 600;
}

.text_primary {
  color: $primary;
}

.tags_slider_arrow {
    :global(.slick-next):before {
      content: url("/images/home/next-arrow.png");
    }
    
    [dir="rtl"] .slick-next:before {
      content: url("/images/home/next-arrow.png");
    }
  
    :global(.slick-prev):before {
      content: url("/images/home/previous-arrow.png");
    }
    
    [dir="rtl"] .slick-prev:before {
      content: url("/images/home/previous-arrow.png");
    }
   
    :global(.slick-arrow), :global(.slick-arrow):hover {
      background-color: $white;
      border-radius: 50px;
      border: 1px solid #D9D9D9;
      transition: 0.5s;
      top: 70%;
    }

    :global(.slick-next) {
      right: 10px;
    }

    :global(.slick-prev) {
      left: 10px;
    }
    
} 
