
@import "../../../styles/variables.scss";

.header {
    padding: 5px 0px;
    color: $dark;
    align-items: start !important;

    h3 {
        margin: 0;
        font-size: 24px;

        p {
            font-size: 18px;
            color: #6E6E6E;
            font-family: $rgular-font;
            margin: 0;
            margin-top: 5px;
        }
    }

    :global(.btn-close) {
        opacity: 1;
        width: 0.6em;
        height: 0.6em;
        border: 1px solid #D9D9D9;
        border-radius: 50%;
        background-size: 10px;
        position: absolute;
        top: 25px;
        right: 25px;

        &:hover {
            border-color: $primary;
        }
    }
}

.modal {

    :global(.modal-dialog) {
        max-width: 500px !important;
    }

    :global(.modal-content) {
        border: 1px solid $primary;
        padding: 1rem;
        padding-top: 20px;

        h2 {
            text-align: center;
        }
    }

    :global(.text-green) {
        color: #40A74E;
        width: 100%;
        text-align: center;
    }

    textarea {
        width: 100%;
        position: relative;
        background-color: #fff;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #D9D9D9;
        border-radius: 10px;

        &:focus,
        &:focus-within,
        &:focus-visible {
        border-color: $primary;
        outline: $primary;
        }
        @media screen and (max-width: 767px) {
            font-size: 14px;
        }
    }
}

.body {
    padding: 0px;

    p {
        display: flex;
        gap: 5px;
        align-items: center;
        // justify-content: center;
    }

    a {
        color: $primary;
    }

    :global(.text-muted) {
        color: #8d8d8d;
    }
}

.cremain{
    float: right;
    margin-top: 0px;
    font-size: 0.8em;
}

 .rateImage{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     font-size: 30px;
     color:#FF6C2C ;
 }