@import "../../../styles/variables.scss";

.header {
  margin: var(--bs-modal-header-padding);
  padding-left: 0;
  padding-right: 0;
  color: $dark;
  align-items: start !important;

  h3 {
    margin: 0;
    font-size: 24px;

    p {
      font-size: 18px;
      color: #6E6E6E;
      font-family: $rgular-font;
      margin: 0;
      margin-top: 5px;
    }
  }

  :global(.btn-close) {
    opacity: 1;
    width: 0.6em;
    height: 0.6em;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    background-size: 10px;
    // margin-top: 5px;

    position: absolute;
    top: 25px;
    right: 25px;

    &:hover {
      border-color: $primary;
    }
  }
}

.modal {
  :global(.modal-content) {
    border: 1px solid $primary;
    padding: 1rem;
    padding-top: 20px;

    h2 {
      text-align: center;
    }
  }

  :global(.modal-dialog) {
    max-width: 770px !important;
  }
}

.body {
  padding-bottom: 1rem;
  margin-bottom: 0 !important;

  h3 {
    font-size: 1rem;
  }

  :global(.event-infomation),
  :global(.artist-infomation),
  :global(.booking-contact),
  :global(.payment-information) {
    // background-color: #ffe8de;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 10px;
  }

  :global(p) {
    margin-bottom: 0px;
  }

  :global(.event-details) {
    :global(.detail) {
      display: flex;
      justify-content: space-between;
      padding: 10px 5px;
      border-bottom: 1px solid;
      border-color: #D9D9D9;

      :global(.label) {
        img {
          padding-right: 10px;
          max-width: 26px;
          width: 26px;
          height: auto;
        }
      }

      &:nth-child(1) {
        border-top: 1px solid;
        border-color: #D9D9D9;
      }

      @media screen and (max-width: 500px) {
        flex-direction: column;
        gap: 5px;
      }
    }
  }

  :global(.notes) {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
  }

  :global(.button-after-content) {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    color: $primary;
  }



  textarea {
    border: 1px solid #D9D9D9;
    border-radius: 10px;

    &:focus,
    &:focus-within,
    &:focus-visible {
      border-color: $primary;
      outline: $primary;
    }
  }


  :global(.headerPart) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }

  :global(.titleHeader) {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div {
      width: 85%;
    }

    :global(textarea) {
      width: 100%;
      padding: 10px;
      height: 50px !important;
    }

    :global(button) {
      width: 10%;
      margin-left: auto;
    }
  }

  :global(.dateAndTime) {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    gap: 5px;

    :global(.ant-picker) {
      border-radius: 6px;
      height: 40px;
      min-width: 150px;
    }

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

  }

  :global(.checkBoxrow) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  :global(.checkMe) {
    padding: 10px 60px !important;
    height: 100%;
  }


  :global(.message) {
    width: 100%;
  }
}