@import "../../../styles/variables.scss";

.fancy_dropdown_wrapper {
    position: relative;
    :global(.fancy-dropdown-sleeve) {
        display: flex;
        position: relative;

        input {
            border: 1px solid #EAEAEA;
            background: #fff;
            color: rgba(0, 0, 0, 0.6);
            padding: 4px 16px;
            font-size: 1em;
            cursor: pointer;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            margin-right: 5px;
        }

        &:after {
            content: "";
            width: 30px;
            height: 30px;
            position: absolute;
            top: 5px;
            right: 15px;
            border-radius: 0 4px 4px 0;
            background-image: url('/images/general/down.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 10px;
            pointer-events: none;
            transition: 0.3s ease;

            @media screen and (max-width: 1024px) {
                top: 0px;
            }
        }

        input:focus, input:active, input:focus-within, input:focus-visible {
            outline: none;
        }
    }

    :global(.fancy-dropdown-sleeve.show) {
        input {
            background: #FFF1EB;
            border: 1px solid #FF6C2C;
            border-radius: 200px;
        }

        &:after {
            background-image: url('/images/general/up.svg');
        }
    }

    :global(.fancy-dropdown-options) {
        width: 100%;
        display: none;
        position: absolute;
        top: 46px;
        background: white;
        box-shadow: 0 2px 13px 0 rgb(235 235 235 / 50%);
        padding: 0;
        border: 1px solid #efefef;
        border-radius: 20px;
        z-index: 999999;
        max-height: 300px;
        overflow-y: auto;

        ul {
            margin: 0;
            padding: 0;
            background: #FFFFFF;
            border: 1px solid #FF6C2C;
            box-shadow: 0px 132px 53px rgb(0 0 0 / 1%), 0px 74px 45px rgb(0 0 0 / 5%), 0px 33px 33px rgb(0 0 0 / 9%), 0px 8px 18px rgb(0 0 0 / 10%), 0px 0px 0px rgb(0 0 0 / 10%);
            border-radius: 20px;

            li {
                list-style: none;
                padding: 5px 15px;
                transition: 0.1s ease-in-out;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    :global(.fancy-dropdown-exportOptions) {
        width: 220px;
        display: none;
        position: absolute;
        top: 46px;
        background: white;
        box-shadow: 0 2px 13px 0 rgb(235 235 235 / 50%);
        padding: 0;
        border: 1px solid #efefef;
        border-radius: 20px;
        z-index: 999999;
        max-height: 300px;
        overflow-y: auto;

        ul {
            margin: 0;
            padding: 0;
            background: #FFFFFF;
            border: 1px solid #FF6C2C;
            box-shadow: 0px 132px 53px rgb(0 0 0 / 1%), 0px 74px 45px rgb(0 0 0 / 5%), 0px 33px 33px rgb(0 0 0 / 9%), 0px 8px 18px rgb(0 0 0 / 10%), 0px 0px 0px rgb(0 0 0 / 10%);
            border-radius: 20px;

            li {
                list-style: none;
                padding: 5px 15px;
                transition: 0.1s ease-in-out;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    :global(.fancy-dropdown-exportOptions.show) {
        display: block;
    }

    :global(.fancy-dropdown-options.show) {
        display: block;
    }

    &:global(.filter) {
        position: inherit;

        :global(.fancy-dropdown-options) {
            left: 0;
            max-height: unset;
            :global(.options) {
                margin: 0;
                padding: 0;
                background: #FFFFFF;
                border: 1px solid #FF6C2C;
                box-shadow: 0px 132px 53px rgb(0 0 0 / 1%), 0px 74px 45px rgb(0 0 0 / 5%), 0px 33px 33px rgb(0 0 0 / 9%), 0px 8px 18px rgb(0 0 0 / 10%), 0px 0px 0px rgb(0 0 0 / 10%);
                border-radius: 20px;

                :global(.op) {
                    padding: 15px;
                    padding-bottom: 5px;

                    &:last-child {
                        padding-bottom: 25px;
                    }
                    :global(.heading) {
                        font-size: 1rem;
                        color: #000;
                        font-family: $semibold-font;
                        padding-bottom: 5px;
                    }

                    :global(.after_option) {
                        &::after {
                            content: '';
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            margin-left: 5px;
                            position: relative;
                            top: 1px;
                            -moz-border-radius: 6px;
                            -webkit-border-radius: 6px;
                            border-radius: 6px;
                        }
                    }
                    :global(.Upcoming) {
                        &::after {
                            background: #31489A;
                        }
                    }

                    :global(.Completed) {
                        &::after {
                            background: #27941E;
                        }
                    }

                    :global(.Open) {
                        &::after {
                            background: #408BB5;
                        }
                    }

                    :global(.notes) {
                        &::after {
                            background: #E79720;
                        }
                    }
                    :global(.shows) {
                        &::after {
                            background: #0D9790;
                        }
                    }   
                    :global(.Submited) {
                        &::after {
                            background: #237448;
                        }
                    }

                    :global(.Canceled) {
                        &::after {
                            background: #9c3730;
                        }
                    }
                    :global(.Removed) {
                        &::after {
                            background: #9c3730;
                        }
                    }
                    :global(.Declined) {
                        &::after {
                            background: #9c3730;
                        }
                    }
                    :global(.suboption) { 
                        display: grid;
                        grid-template-columns: auto auto auto ; 
                        grid-gap: 10px;

                        :global(.filter_option) {
                            display: flex;
                            gap: 5px;

                            img {
                                width: 24px;
                                height: 24px;
                            }
                        }

                        @media screen and (max-width: 1340px) {
                            grid-template-columns: auto auto ; 
                        }

                        @media screen and (max-width: 470px) {
                            grid-template-columns: auto ; 
                        }
                    }
                }
            }
        }
    }
}