
.modal {

    :global(.modal-header) {
        border: none;
        justify-content: center;
    }

    :global(.modal-content) {
        margin-top: 80px;
    }
    
    :global(.btn-close) {
        display: none;
    }
}
.modalBody {

    :global(.panel-form) {
        width: 100% !important;
    }

    
}
.cremain{
    float: right;
    margin-top: 0px;
    font-size: 0.8em;
}

.modal-backdrop {
    background: rgba(0, 0, 0, 0.64);
}