@import "../../../styles/variables.scss";

// .dashboardIcon{
//     width: 20px;
//     height: 20px;
//     margin-right: 10px;
// }
.logoutIcon{
    margin-right: 10px;
}

.createArtistLink {
  a {
      &:hover {
          color: #ff6c2c;
      }
  }
}
.dMenu{
    //  margin-right:20px  !important;
    //  right:10px;
    margin-left: auto !important;

    @media screen and (max-width:1280px) {
        right:0;
    }
}

.other_links {
    a {
        font-size: 0.9em !important;
    }
     ul {
         font-size: 0.9em;
        li {
           a {
               margin-top: 10px;
           }
        }
     }
}