@import "../../../styles/variables.scss";

.checkbox {
    display: flex;
    gap: 10px;
    cursor: pointer;
    font-family: $rgular-font !important;
    width: 100%;
    justify-content: start;
    align-items: center;
    border-radius: 6px;
    background-color: #FFF7F3;
    color: $dark;
    padding: 1rem;
    font-size: 1rem;
}

.checked {
    background: radial-gradient(138.46% 137.77% at 53.14% -61.4%,#ffb494 0,#ff6c2c 100%);
    border-color: transparent;
    color: $white !important;
}