@import "../../styles/variables.scss";

// Start Introduce JCasp Light
.introduce_JCasp_light {
   width: 100%;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   padding: 20px;
   padding-top: 80px;
 
   h2 {
      font-family: $RoundoVariable;
      font-size: 2.40vw;

      @media (min-width: 600px) and (max-width:992px) {
         font-size: 5vw;
      }

      @media screen and (max-width: 600px) {
         font-size: 7vw;
      }
   }

   :global(.introGigLite) {
      width: 45%;
      font-weight: 400;
      font-size: 1rem;
      text-align: center;
      color: $dark;
      margin-bottom: 20px;
      line-height: 148.5%;
      letter-spacing: 0.02em;

      @media screen and (max-width: 992px) {
         width: 100%;
         height: auto;
      }
   }

   img {
      max-width: 100%;
      height: auto;
   }
}

// End Introduce JCasp Light

// Start Pricing section
.pricing {
   padding: 0px 6vw;
   margin-top: -20%;

   :global(.content-box) {
      display: flex;
      background-image: url("/images/landing-page/pricing-section-background.png");
      background-size: cover;
      border-radius: 40px;
      background-repeat: no-repeat;
      min-height: 447px;
      padding: 50px 6vw;
      gap: 50px;

      h2 {
         font-family: $RoundoVariable;
         font-size: 2.40vw;
         font-style: normal;
         font-weight: 600;

         @media (min-width: 600px) and (max-width:992px) {
            font-size: 5vw;
         }

         @media screen and (max-width: 600px) {
            font-size: 7vw;
         }
      }

      :global(.description) {
         flex-basis: 40%;
         a {
            color:rgba(0, 0, 0, 0.85);
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.30);
            white-space: nowrap;
            &:hover ,:focus {
             color: #ff6c2c;
             border-color: #ff6c2c;
            }
         }
         :global(.ant-divider-horizontal){
            width: 80% !important;
            min-width: 80%;
         }
      }
      :global(.annPaln) {
         box-shadow: 0px 92px 37px rgba(0, 0, 0, 0.02), 0px 52px 31px rgba(0, 0, 0, 0.08), 0px 23px 23px rgba(0, 0, 0, 0.13), 0px 6px 13px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
      }
      :global(.plan) {
         flex-basis: 30%;
         background: #FFFFFF;
         border: 1px solid #D0D0D0;
         border-radius: 36px;
         padding: 25px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         gap: 15px;
         position: relative;
         strong {
            color: $dark;
            font-size: 1.5rem;
         }

         button {
            height: 100%;
            max-height: 52px;
            background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
            border-radius: 100px;
            color: #fff;
            transition: 0.5s;
            padding: 15px 30px;
            font-family: $semibold-font;
            font-size: 0.9rem;
            border: 0px;

            &:hover,
            :focus {
               background: #000;
            }

            @media screen and (max-width: 767px) {
               padding: 10px 30px;
            }
            @media (min-width: 992px) and (max-width:1280px) {
               font-size: 0.6rem;
            }
         }
         :global(.getbutton) {
            height: 100%;
            max-height: 52px;
            background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, rgba(255, 180, 148, 0.05) 0%, rgba(255, 108, 44, 0.05) 100%);
            border-radius: 100px;
            color: #FF7300;
            transition: 0.5s;
            padding: 15px 15px;
            font-family: $semibold-font;
            font-size: 0.9rem;
            border: 1px solid #FF7300 ;

            &:hover,
            :focus {
               background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
               color: #fff;
            }

            @media screen and (max-width: 767px) {
               padding: 10px 30px;
            }
            @media (min-width: 992px) and (max-width:1280px) {
               font-size: 0.6rem;
            }
            @media screen and (max-width: 500px) {
               padding: 10px 20px;
            }
         }
         

         :global(.tag-button) {
            button {
               margin-left: 7px;
               background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, rgba(255, 180, 148, 0.05) 0%, rgba(255, 108, 44, 0.05) 100%);
               height: 52px;
               padding: 14px;
               color: #FF6C2C;
               border-radius: 40px;
               border: 1px solid #FFB493;

               &:hover,
               &:focus {
                  border-color: #FF6C2C;
               }
            }
            
         }
         :global(.mpop){
            background: linear-gradient( 180deg, #8CC6E7 0%, #39A6E3 100%);
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            width: auto;
            right: 10%;
            padding: 10px 20px;
            top: -7%;
            position: absolute;
         }
      }

      :global(.price) {
         h2 {
            font-family: $RoundoVariable;

            span {
               color: #FF6C2C;
               font-size: 1rem;
            }
         }
      }
      @media screen and (max-width: 992px) {
         flex-direction: column;
         padding: 50px 3vw;
      }
      @media screen and (min-width: 992px) and (max-width:1280) {
         flex-direction: column;
         padding: 50px 3vw;
      }
   }

   @media screen and (min-width: 2200px) { 
      margin-top: -10vw;
   }
}
// End Pricing section


//start JCasp feature section
.JCaspLightFeatureSection {
   padding: 0px 6vw;
   margin-top: 5%;

   :global(.featHeader) {
         margin: 30px;
         display: flex;
         flex-direction: column;
         text-align: center;
         align-items: center;
         h2 {
            font-family: $RoundoVariable;
            font-size: 2.40vw;
            font-style: normal;
            font-weight: 600;
      
            @media (min-width: 600px) and (max-width:992px) {
               font-size: 5vw;
            }
      
            @media screen and (max-width: 600px) {
               font-size: 7vw;
            }
         }
   :global(.introGigParaghraph) {
      width: 45%;
      font-weight: 400;
      font-size: 1rem;
      text-align: center;
      color: $dark;
      margin-bottom: 20px;
      line-height: 148.5%;
      letter-spacing: 0.02em;

      @media screen and (max-width: 992px) {
         width: 100%;
         height: auto;
      }
   }
  }
  :global(.featuresCollaps) {
      padding: 90px;
      width:65%;
      h2 {
         font-family: $RoundoVariable;
         font-size: 2vw;
         @media (min-width: 600px) and (max-width:992px) {
            font-size: 4vw;
         }
         @media screen and (max-width: 600px) {
            font-size: 5vw;
         }
      }
     :global(.accordion) {
      --bs-accordion-bg: transparent;
     }
     :global(.acordingToItem) {
         margin-bottom: 10px;
         border: 1px solid rgba(0, 0, 0, 0.09);
         border-radius: 10px;
         --bs-accordion-bg: unset
     }

     :global(.accordion-button:not(.collapsed)) {
         color:inherit;
         background-color: unset;
         box-shadow: unset;
     }

     :global(.accordion-button) {
       box-shadow: unset;
       border-color: transparent;
     }
     :global(.accordion-body){
        color: #868686;
        padding-top: 0 !important;
     }

     :global(.btn-outline-secondary) {
         min-width: 12vw;
         margin-top: 20px;
         padding: 15px 20px;
         background: radial-gradient(
             138.46% 137.77% at 53.14% -61.4%,
             #ffb494 0%,
             #ff6c2c 100%
         );
         -webkit-border-radius: 80px !important;
         -moz-border-radius: 80px !important;
         border-radius: 80px !important;
         color: #fff;
         transition: 0.5s;
         font-family: $semibold-font;
         font-size: 1rem;
         border: 0px;
         &:hover,
         :focus {
             background: #000;
         }
         @media screen and (max-width: 992px) {
            min-width: 30vw;
            padding: 15px 12px;
         }
         }
        @media (max-width:992px) {
           width: 100%;
         padding: 10px;
        }
      }
     
   }

.gigFeature {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: -120px;
   @media (max-width:992px) {
      width: 100%;
      flex-direction: column;
      margin-bottom: -30px;
   }
   :global(.imgForMobile){
   
     @media (max-width:992px) {
      margin-top: -15%;
      }
  }
  :global(.imgForMobileC) {
   @media (max-width:992px) {
      margin-top: -30%;
      }
  }

  img {
   max-width: 100%;
   height: auto;
   }
}


//end JCasp feature section



// dscription section 
.descriptionJCaspLite {
   display: flex;
   justify-content: center;
   padding: 50px 6vw;
   :global(.descriptionJCasp){
      background-image: url(/images/landing-page/descriptionImage.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      p {
         font-family: $RoundoVariable;
        width: 85%;
        font-weight: normal;
        font-size: 2vw;
        line-height: 161%;
        text-align: center;
        color: #000000;
        @media (max-width:992px) {
         font-size: 3vw;
         margin-top: 40px;
        }

        @media (max-width:500px) {
         font-size: 5vw;
        }
      }
   }
   @media (max-width:992px) {
      padding: 70px 6vw 50px 6vw;
   }
}

// Start Get in Touch Section
.get_in_touch {
   padding: 50px 6vw;
   background: linear-gradient(to bottom, #FFF 42.5%, #000 42.5%);
   position: relative;
   display: flex;
   gap: 40px;

   h3 {
      font-family: $RoundoVariable;
      font-size: 2.10vw;
      line-height: 1;
   }

   :global(.information) {
      flex-basis: 50%;

      :global(.contect-description) {
         font-size: 1rem;
         color: $dark;
      }

      :global(.contact_information_box) {
         display: flex;
         flex-direction: column;
         gap: 10px;

         button {
            background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, rgba(255, 180, 148, 0.05) 0%, rgba(255, 108, 44, 0.05) 100%);
            border-radius: 11px;
            width: 54px;
            height: 54px;
            padding: 14px;
            border-color: #FFB493;

            &:hover,
            &:focus {
               border-color: #FF6C2C;
            }
         }

         a {
            color: $dark;
            font-size: 1.25rem;
            font-family: $semibold-font;

            &:hover,
            &:focus {
               color: #FF6C2C;
            }
         }

         p {
            color: $mute-text;
            font-size: 1.125rem;
            margin: 0px;
         }
      }

      :global(.contact-box-spaces) {
         &:nth-child(1) {
            padding-right: 1rem;
         }

         &:nth-child(2) {
            padding-left: 1rem;
         }
      }
   }

   :global(.contact-form) {
      flex-basis: 50%;
      // align-self: center;
      z-index: 9999;
      padding-top: 3%;

      form {
         background: #FFFFFF;
         border: 1px solid #CFCECE;
         border-radius: 27px;
         padding: 35px;

         :global(.group) {
            display: flex;
            gap: 40px;
            margin-bottom: 25px;

            :global(.input-box) {
               flex-basis: 50%;

               label {
                  font-size: 0.875rem;
                  color: $dark;
               }

               input {
                  border: 1px solid rgba(0, 0, 0, 0.3);
                  border-radius: 6px;
                  height: 52px;
                  font-size: 1rem;
               }
            }

            // button {
            //    height: 100%;
            //    background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
            //    border-radius: 100px;
            //    color: #fff;
            //    transition: 0.5s;
            //    padding: 15px 30px;
            //    font-family: $semibold-font;
            //    font-size: 1rem;
            //    border: 0px;

            //    &:hover,
            //    :focus {
            //       background: #000;
            //    }

            //    @media screen and (max-width: 767px) {
            //       padding: 10px 30px;
            //    }
            // }

            textarea {
               border: 1px solid rgba(0, 0, 0, 0.3);
               border-radius: 6px;
               font-size: 1rem;
               height: 116px;
            }
         }

         @media (max-width:500px) {
            padding: 20px;
         }
      }
   }

   :global(.space-bottom) {
      margin-bottom: 30px;
   }

   :global(.space-top) {
      margin-top: 70px;
   }

   :global(.logos) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px;

      div {
         display: flex;
         justify-content: center;
         align-items: center;
      }

      @media (max-width:500px) {
         grid-template-columns: repeat(3, 1fr);

         :global(.hide-on-three-columns) {
            display: none;
         }
      }

      @media (max-width:330px) {
         grid-template-columns: repeat(2, 1fr);

         :global(.hide-on-three-columns) {
            display: flex;
         }
      }

      img {
         width: auto;
         height: auto;
      }
   }

   :global(.pattern) {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      opacity: 0.2;
      display: flex;
      justify-content: center;

      &::before,
      &:after {
         content: "";
         position: absolute;
         top: 0;
         height: 100%;
         width: 10%;
         background-color: rgba(0, 0, 0, 0.8);
      }

      &::before {
         left: 0;
      }

      &:after {
         right: 0;
      }
   }

   :global(.show-on-small-device) {
      display: none;
   }

   :global(.hide-on-small-device) {
      display: block;
   }

   @media (max-width:992px) {
      flex-direction: column;

      :global(.hide-on-small-device) {
         display: none;
      }

      :global(.contact-form) {
         padding-top: 0px;

         @media (max-width:600px) {
            form {
               :global(.group) {
                  flex-direction: column;
                  gap: 20px;
               }
            }
         }
      }

      :global(.show-on-small-device) {
         display: block;
         margin-top: 30px;
      }

      h3 {
         font-size: 4vw;

         @media (max-width:330px) {
            font-size: 6vw;
         }
      }

      :global(.information) {
         :global(.contact_information_box) {

            a,
            p {
               font-size: 3vw;

               @media (max-width:330px) {
                  font-size: 4vw;
               }
            }
         }
      }

   }

   @media (max-width:500px) {
      gap: 0px;
   }
}

// End Get in Touch Section

// Start Download JCasp light section
.download_container {
   padding-top: 50px;
   display: flex;
   flex-direction: row;
   text-align: center;
   gap: 10px;

   :global(.dwlPage),
   :global(.dwlPageApplication) {
      flex-basis: 33.33%;
   }

   :global(.dwlPage) {
      align-self: end;
   }

   :global(.dwlPageApplication) {
      margin-top: 5%;
      text-align: center;

      h2 {
         font-family: $RoundoVariable;
         font-weight: 600;
         font-size: 3vw;

         @media (min-width: 600px) and (max-width:1280px) {
            width: 100%;
         }

         @media screen and (max-width: 600px) {
            width: 100%;
            font-size: 6vw;
         }
      }

      p {
         font-weight: 400;
         font-size: 1rem;
         line-height: 166%;
         text-align: center;
         letter-spacing: 0.02em;
         color: #000000;
         padding: 0px 10%;
         margin: 0px;
      }

      :global(.downlaodLink) {
         margin-top: 30px;
         display: flex;
         flex-direction: row;
         justify-content: center;

         a {
            margin-right: 10px;
            background: rgba(255, 255, 255, 0.22);
            // border: 0.5625px solid rgba(0, 0, 0, 0.1);
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            text-align: center;
            align-items: center;
            transition: 0.5s;

            &:hover {
               background: #fff;
               color: #ff6c2c;
            }
         }
      }

      @media (max-width:992px) {
         margin-top: 2%;
         margin-bottom: 2%;
      }
   }

   @media (max-width:767px) {
      flex-direction: column;
   }

   @media (max-width:992px) {
      padding: 0px 6vw;
   }

   img {
      max-width: 100%;
      height: auto;
   }
}

// End Download JCasp light section