.viewer {
    :global(.ant-modal-content) {
        :global(.ant-modal-close) {
            display: none;
        }
    }

    :global(.ant-modal-footer) {
        justify-content: center !important;
        border-top: 0px;
    }
}

.iframeTag {
    width: 100%;
    min-height: 75vh;
    border: none;
}
