@import "../../styles/variables.scss";

.section {
  background: $dark;
  background-image: url('/images/nl-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 90px 0 !important;
}

.tcenter {
  text-align: center;

  div {
    h5 {
      @media screen and (max-width: 767px) {
        font-size: 1.4em;
      }
    }

    form {
      span {
        float: left;
      }
    }
  }
}

.nl_cta_hold {
  margin: 0 auto;
  padding: 0;
}

.nl_form {
  margin-top: 40px;

  &__input_group {
    background: $white;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    padding: 7px 10px;
    position: relative;
    display: flex;

    height: 60px;
    align-items: center;
    width: 100%;

    .nl_input {
      -webkit-border-radius: 80px;
      -moz-border-radius: 80px;
      border-radius: 80px;
      padding: 15px 56px;
      background-image: url("/images/general/profile-Icon.png");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: 20px;
      border: 0;
      filter: grayscale(100%);
      text-overflow: ellipsis !important;

      @media screen and (max-width: 992px) {
        padding: 15px 32px;
        background-position: 2px;

        &::placeholder {
          font-size: 1em;
        }
      }

      @media screen and (max-width: 535px) {
        padding: 4px 4px 4px 30px;

        &::placeholder {
          font-size: 0.8em;
        }
      }

      @media screen and (max-width: 300px) {
        padding: 2px 2px 2px 28px;

        &::placeholder {
          font-size: 0.6em;
        }
      }
    }

    .subscribeBtn {
      width: 100px;
      max-width: 150px;
      background: radial-gradient(138.46% 137.77% at 53.14% -61.4%,
          #ffb494 0%,
          $primary 100%);
      -webkit-border-radius: 80px !important;
      -moz-border-radius: 80px !important;
      border-radius: 80px !important;
      color: $white;
      transition: 0.5s;
      padding: 12px 35px;
      font-family: $semibold-font;
      font-size: 0.9em;
      border: 0px;

      &:hover,
      :focus {
        background: $dark;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      @media screen and (max-width: 767px) {
        width: 55px;
        padding: 15px;
      }
    }
  }
}