@import "../../../../styles/variables.scss";

.footer {
  background: radial-gradient(138.46% 137.77% at 53.14% -61.4%,
      #ffb494 0%,
      $primary 100%);
  padding: 50px 0;
  padding-bottom: 15px;

  &__widgets {
    padding-bottom: 30px;

    @media (max-width: 767px) {
      padding-bottom: 0px;
    }
  }

  &__foot_line {
    h5 {
      color: $white;
      font-family: $rgular-font;
      font-size: 1.9em;
      line-height: 1.4em;
    }
  }

  &__foot_menu {
    margin-top: 10px;
    margin-bottom: 10px;

    ul {
      padding: 0px;
      float: left;
      margin-bottom: 0px;

      li {
        list-style: none;
        float: left;
        margin-right: 2.5em;
        letter-spacing: 0px;

        a {
          color: $white;
          text-decoration: none;
          transition: 0.5s;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__foot_social {
    margin-top: 17px;

    ul {
      padding: 0px;
      float: left;
      margin-bottom: 0px;

      li {
        list-style: none;
        float: left;
        margin-right: 15px;
        letter-spacing: 0px;

        a {
          color: $white;
          text-decoration: none;
          transition: 0.5s;
          font-size: 1.4em;
          height: 40px;
          width: 40px;
          display: inline-block;
          background: rgba(255, 255, 255, 0.22);
          border: 0.5625px solid rgba(0, 0, 0, 0.1);
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          text-align: center;
          // padding-top: 7px;
          align-items: center;
          transition: 0.5s;

          &:hover {
            background: $white;
            color: $primary;
          }

          i {
            line-height: 31px;
          }

        }
      }
    }
  }

  &__foot_download {
    h6 {
      color: $white;
      font-size: 1em;
      margin-bottom: 15px;
      text-align: right;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    ul {
      padding: 0px;

      li {
        list-style: none;
        margin-bottom: 15px;
        text-align: right;

        a {
          transition: 0.5s;

          &:hover {
            opacity: 0.6;
          }
        }

        @media screen and (max-width: 767px) {
          text-align: center;
        }
      }
    }

    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }

  &__copyright {
    margin-top: 50px;
    border-top: 1px solid rgb(255, 255, 255, 0.2);
    padding-top: 15px;

    .text {
      color: rgb(255, 255, 255, 0.5);
      padding: 0px;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    .credit {
      color: rgb(255, 255, 255, 0.5);
      padding: 0px;
      text-align: right;

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      @media (max-width: 767px) {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 17px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  .menus {
    padding-bottom: 15px !important;
  }

  .footer__foot_download {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .downloadLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .downloadLinks>li {
    width: 45%;
  }
}

.socialLinks {
  display: flex !important;
  align-items: flex-start;
  justify-content: center;
  align-content: center;

}

.footerDark {
  background: #000;
  padding: 50px 0;
  padding-bottom: 15px;

  &__widgets {
    padding-bottom: 30px;
  }

  &__foot_line {
    h5 {
      color: $white;
      font-family: $rgular-font;
      font-size: 1.9em;
      line-height: 1.4em;
    }
  }

  &__foot_menu {
    margin-top: 10px;

    ul {
      padding: 0px;
      float: left;
      margin-bottom: 0px;

      li {
        list-style: none;
        float: left;
        margin-right: 18px;
        letter-spacing: 0px;

        a {
          color: $white;
          text-decoration: none;
          transition: 0.5s;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__foot_social {
    margin-top: 17px;

    ul {
      padding: 0px;
      float: left;
      margin-bottom: 0px;

      li {
        list-style: none;
        float: left;
        margin-right: 15px;
        letter-spacing: 0px;

        a {
          color: $white;
          text-decoration: none;
          transition: 0.5s;
          font-size: 1.4em;
          height: 40px;
          width: 40px;
          display: inline-block;
          background: rgba(255, 255, 255, 0.22);
          border: 0.5625px solid rgba(0, 0, 0, 0.1);
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          text-align: center;
          // padding-top: 7px;
          align-items: center;
          transition: 0.5s;

          &:hover {
            background: $white;
            color: $primary;
          }

          i {
            line-height: 31px;
          }

        }
      }
    }
  }

  &__foot_download {
    h6 {
      color: $white;
      font-size: 1em;
      margin-bottom: 15px;
      text-align: right;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    ul {
      padding: 0px;

      li {
        list-style: none;
        margin-bottom: 15px;
        text-align: right;

        a {
          transition: 0.5s;

          &:hover {
            opacity: 0.6;
          }
        }

        @media screen and (max-width: 767px) {
          text-align: center;
        }
      }
    }

    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }

  &__copyright {
    margin-top: 50px;
    border-top: 1px solid rgb(255, 255, 255, 0.2);
    padding-top: 15px;

    .text {
      color: rgb(255, 255, 255, 0.5);
      padding: 0px;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    .credit {
      color: rgb(255, 255, 255, 0.5);
      padding: 0px;
      text-align: right;

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      @media (max-width: 767px) {
        text-align: center;
      }
    }
  }
}