@import '../../styles/variables.scss';

.vcenter1 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    @media screen and (max-width: 990px) {
        align-items: center !important;
    }
}
.app_snap{
    img{
        max-width:100%;
        width: 100%;
        height: auto;
    }
}
.app_text{
    h3 {
        line-height:1.8em;
        @media screen and (max-width: 767px){
           
            line-height: 1.4em;
        }
        @media screen and (min-device-width: 1281px) and (max-device-width: 1600px) {
          font-size: 1.9em;
          line-height: 1.6em;
        }
    }
    p {
        margin-top:15px;
        color: #000;
    }
    &_app_dnw_btn{
        margin-top:15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        a {
            margin:0 10px;
            transition:0.5s;
            &:hover,:focus{
                opacity:0.7;
            }
            @media screen and (max-width: 767px)
             {
                width: 42%;
                display: block;
                float: left;
            }
            img {
                @media screen and (max-width: 767px){
               max-width: 100%;
               }
            }
        }
        @media screen and (max-width: 767px) {
               margin-top: 20px;
        }
    }

    @media screen and (max-width: 820px){
        text-align: center;
    }
}


