.pageHeader {
    background-image: url('/images/phead-bg.webp');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;

    @media (min-width: 1900px) {
        background-size: 100%;
     }
}

.faq_box2 {
    padding: 30px 300px 30px 300px;
    text-align: left;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;

    :global(.accordion-item) {
        border: 0px;
        background: transparent;
        // border-bottom: 1px solid #000;
       
    }

    h2 {
        font-size: 2em;
        line-height: 1.5em;
    }

    :global(.accordion-button) {
        background: transparent;
        color: #000;
        border-bottom: 0.6px solid #4D4D4D;
        padding-left: 0px;

        &:focus {
        border-color:0;
        box-shadow: none;
        }
    }
    
    :global(.accordion-body) {
        @media (max-width: 767px) {
            padding: 0;
            padding-top: 15px;
        }
    }

    :global(.faq-bottom) {
        justify-content: center;
        background: #000;
        margin-top: 60px;
        height: 150px;
        background: radial-gradient(100% 100% at 50% 0%, #99d9b3 0%, rgba(255, 255, 255, 0) 60.73%);
        transform: matrix(1, 0, 0, -1, 0, 0);
        border-radius: 37px;


        h3 {
            font-size: 1.125em;
            color: #000;
        }

        @media (max-width: 767px) {
            margin-top: 30px;
        }
    }

    :global(.faq-bottom-text) {
        transform: matrix(1, 0, 0, -1, 0, 0);
    }

    @media (max-width: 1260px) {
        padding: 30px 50px;
    }

    @media (max-width: 768px) {
        padding: 30px 0px;
    }

    :global(.hvr-float-shadow) {
        &:hover {
            color: #FFF;
            svg {
                path{
                    stroke: #FFF !important;
                }
            }
        } 
    }

    :global(.ant-collapse-header) {
        font-weight: 700;
        border-bottom: 1px solid #4d4d4d;
        padding-left: 0;
    }

    :global(.ant-collapse-item-active) {
        :global(.ant-collapse-header) {
            border-bottom: none;
        }
    }

    :global(.ant-collapse-borderless) {
        background-color: #fff;
        :global(.ant-collapse-item) {
            border-bottom: 1px solid #4d4d4d;
            :global(.ant-collapse-header) {
                border: 0;
                padding: 20px 16px;
                padding-left: 0;
            }
        }
    }

    :global(.ant-collapse-content-box) {
        margin-left: 10px;
    }

    :global(.ant-collapse) {
        font-size: 1rem;
    }
}