/* JCasp CSS starts */
@font-face {
    font-family: 'HarmoniaSansW01-Semibold';
    src: url('./HarmoniaSansW01-Semibold.eot');
    src: url('./HarmoniaSansW01-Semibold.eot?#iefix') format('embedded-opentype'),
        url('./HarmoniaSansW01-Semibold.woff2') format('woff2'),
        url('./HarmoniaSansW01-Semibold.woff') format('woff'),
        url('./HarmoniaSansW01-Semibold.ttf') format('truetype'),
        url('./HarmoniaSansW01-Semibold.svg#HarmoniaSansW01-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HarmoniaSansW01-Regular';
    src: url('./HarmoniaSansW01-Regular.eot');
    src: url('./HarmoniaSansW01-Regular.eot?#iefix') format('embedded-opentype'),
        url('./HarmoniaSansW01-Regular.woff2') format('woff2'),
        url('./HarmoniaSansW01-Regular.woff') format('woff'),
        url('./HarmoniaSansW01-Regular.ttf') format('truetype'),
        url('./HarmoniaSansW01-Regular.svg#HarmoniaSansW01-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roundo-bold';
    src: url('./roundo.bold.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}