.thankyou {
    :global(.ant-modal-content) {
        :global(.ant-modal-close) {
            display: none;
        }
    }

    :global(.ant-modal-footer) {
        justify-content: center !important;
        border-top: 0px;
    }
}
