@import "../../../styles/variables.scss";

.header {
  padding-left: 0;
  padding-right: 0;
  color: $dark;
  align-items: start !important;

  h3 {
    margin: 0;
    font-size: 24px;

    p {
      font-size: 18px;
      color: #6E6E6E;
      font-family: $rgular-font;
      margin: 0;
      margin-top: 5px;
    }
  }

  :global(.btn-close) {
    opacity: 1;
    width: 0.6em;
    height: 0.6em;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    background-size: 10px;
    // margin-top: 5px;
    position: absolute;
    top: 25px;
    right: 25px;

    &:hover {
      border-color: $primary;
    }
  }
}

.modal {
  :global(.modal-content) {
    border: 1px solid $primary;
    padding: 1rem;
    padding-top: 20px;

    h2 {
      text-align: center;
    }
  }
}


.body {
  padding: 0px;

  :global(.artist-infomation),
  :global(.score-information) {
    border: 1px solid $gray-bordered;
    border-radius: 10px;
    padding: 10px;

    label {
      color: $grey-700;

      span {
        color: $dark;
      }
    }
  }

  :global(.artists) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div:nth-child(1),
    div:nth-child(2) {
      flex-basis: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  p {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  :global(.profile-image) {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
  }

}