.checkbox {
  height: 100%;
  word-wrap: break-word;
}
.promotionChk {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.promotionChk::before {
  background-color: #ff6c2c;
}
.promotionChkMain {
  display: flex;
  align-items: center;
}

.checkbox2:before {
  display: none !important;
}
.checkbox1 {
  display: flex !important;
  // justify-content: center !important;
  width: 184px !important;
  height: 184px !important;
  padding:0px !important;
}

.checkbox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}
.iconChks {
  display: flex;

  :global(.checked) {
    background: white !important;
    border-color: rgb(255, 108, 44) !important;
    color: black !important;
    & .checkbox2 > img {
      filter: grayscale(0%);
    }
  }
}
.image {
  fill: #ff6c2c !important;
  filter: grayscale(100%);
}
.checkbox::before {
  top: 15%;
}
.textAreaField {
  border-radius: 6px;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 10px;
  font-size: 16px;
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.venueSelectlabel {
  label {
    width: 100%;
    color: #000;
    font-family: "HarmoniaSansW01-Semibold";
    font-size: 1em;
    margin-bottom: 3px;
  }
  :global(.ant-picker:hover) {
    border-color: hsl(0, 0%, 70%) !important;
  }

  :global(.ant-picker-focused) {
    border: 2px solid #000 !important;
  }

  :global(.timePiker) {
    :global(.ant-picker) {
      width: 100%;
      border: 1px solid;
      border-color: hsl(0, 0%, 80%);
      height: 39px;
      font-size: 19px;
      border-radius: 6px;

      :global(.ant-picker-input) {
        input {
          font-size: 18px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    margin-top: 10px;
  }
}
.datePicker {
  font-size: 20px !important;
  position: relative;
  display: flex !important;
  align-items: center !important;
  background: #fff;
  height: 47px;
  border-radius: 6px !important;
  transition: border 0.3s, box-shadow 0.3s;
  &:hover {
    border:1px solid #d9d9d9;
  }
  input {
    border: none !important;
    font-size: 18px !important;
    &:hover,
    :focus {
      border: none;
    }
  }
}
.gpId {
  & > div {
    background-color: #ff6c2c !important;
    position: absolute !important;
    top: 610 !important;
    left: 596 !important;
  }
}
.makecol{
  @media (max-width: 990px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > div{
        margin-bottom: 10px !important;
    }
  }
  
   :global(.ant-picker-focused){
    box-shadow: 2px solid #000;
    border:2px solid #000;
   }
 

      :global(.b-deselect){
       color: #000 !important;
      }
       :global(.rmdp-panel-body){
           li {
              background-color:#FF6C2C !important ;
           }
       }
       
       :global(.rmdp-day) {
           &:hover {
               :global(.sd) {
                   background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%) !important;
               }
           }
       }
       
       :global(.rmdp-selected) {
           :global(.sd) {
               background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%) !important;
           }
       }
       
     :global(.rmdp-container) :global(.ep-arrow) {
       left: 0 !important;
     }

       :global(.timePiker) {
           :global(.rmdp-container) {
               :global(.ep-arrow) {
                   left: 0 !important;
               }
           }
       
       :global(.rmdp-wrapper) {
           width: 180px !important;
           padding: 10px 0;
           :global(.rmdp-time-picker) {
               div {
                   :global(.rmdp-am) {
                       margin-top: 12px !important;
                   }
               }
               
               :global(.rmdp-arrow-container) {
                   
                   :global(.rmdp-arrow) {
                        width: 12px  !important;
                        height: 12px !important;
                       // border: solid #FF6C2C !important;
                   }
                   
                   &:hover {
                       background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%) !important;
                   }
               }
           }
           }
       } 
       
}   
.variety{
    @media (max-width: 765px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & .varietyOptions{
            width:100%;
        }
    }
  }


.termsChk{
  display:flex;
  flex-direction: row;
  height: 23px;
}
.terms{
  display: block !important;
  width:100%;
}

.venueSearch {
  width: 100;
  text-align: right;
  span {
    border-bottom: 1px solid #ff6c2c;
    padding: 0;
    color: #ff6c2c;
    margin-bottom: 5px;
    cursor: pointer;
  }
} 