@import "../../styles/variables.scss";


.pHead{
  padding: 30px 0px 0px 0px;
  text-align: center;
  h2 {
    color: #fff;
    font-family: $rgular-font;
  }
  p{
    color: #fff;
    font-family: $rgular-font;
    font-size: 1.495em;
  }
}

.genSele {
  border: 0px;
  background: #fff;
  float: left;
  width: 100%;
}

.border_b:focus-visible {
  outline-style: none;
  border: none;
}

.head_b {
  padding: 0px 0px 0px 0px;

  &__search_form {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 610px) {
      flex-direction: column;
      padding-top: 10px;
    }
  
    input {
      background-color: #ffffff;
      border: none;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      padding: 4px 33px;
      background: url("/images/general/search-icon.png");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: 10px;
      width: 50%;

      &:focus,
      :hover {
        border: none;
      }

      @media screen and (max-width: 610px) {
        width: 100%;
      }
    }

    :global .input-wrap {
      width: 50%;

      @media screen and (max-width: 610px) {
        width: 100%;
      }
    }
    .select {
      border-radius: 0 3px 3px 0;
      border-left: 1px solid #e5e5e5;
      margin-top: 8px;
      margin-bottom: 8px;
      box-shadow: none;

      @media screen and (max-width: 610px) {
        border-left: none;
        border-top: 1px solid #e5e5e5;
        padding: 0;
        width: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 990px) {
      width: 100%;
    }
  }
}

.btn_b {
  margin: 20px 0px 20px 0px;
}

.input_b {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 5px 15px;

  label {
    color: #a6a3a3;
  }
}

.artist_b {
  margin: 30px 0px;
  @media screen and (max-width: 767px) {
    padding: 10px;
    margin-top: 0 !important;
  }
}

.thumb {
  position: relative;
  text-align: center;
  color: white;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
    border-radius: 10px;
  }

  img {
    max-width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    width: 100%;
    object-fit: cover;
    max-height: 260px;
    height: auto;

    // @media (max-width: 400px) {
    //   max-height:230px;
    // }

    // @media (max-width: 350px) {
    //   max-height:200px;
    // }

    // @media (max-width: 300px) {
    //   max-height:150px;
    // }

  }

  &__catgrs {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 100%;
    font-size: 0.8em;
    text-align: left;
    padding: 10px;
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 10px;
    display: flex;
    
    span {
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      padding: 5px 15px;
      margin-right: 5px;
    }

    &::-webkit-scrollbar {
      width: 100%;
      height: 2px;
    }

    &::-moz-scrollbar {
      width: 100%;
      height: 2px;
    }

    &::-webkit-scrollbar-thumb {
      // background-color: #FF6C2C;
      border-radius: 5px;
    }

    &::-moz-scrollbar-thumb {
      background-color: #ff6c2c;
      border-radius: 5px;
    }
  }

  &__favrt {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    font-size: 0.8em;
    text-align: left;
    padding: 5px;
    text-align: right;
    transition: 0.5s;

    span {
      // border: 1px solid #000;
      // border-radius: 50%;
      // background: #fff;
      // padding: 10px 8px;
      // cursor: pointer;
      // position: relative;
      border: 1px solid #000;
      border-radius: 50%;
      background: #fff;
      padding: 8px;
      cursor: pointer;
      position: relative;

      &:hover,
      &:focus {
        border-color: #ff6c2c;
        opacity: 0.8;
      }
    }

    img {
      max-width: 100%;
      width: 27px;
    }

    &:hover,
    focus {
      opacity: 0.6;
    }
  }
}

.s__row {
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;

  &__column {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background-color: white;
  }
}
.title {
  display: block;
  max-height: 30px;
  font-size: 20px !important;
  font-weight: 600 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.browse_section_title {
  margin-bottom: 0px;
  
  @media screen and (max-width: 576px) {
    margin-bottom: 10px;
  }
}


.browse_tabs {

  :global .nav-wrapper {
    width: 100%;
  }

  ul {
      background:#E3E3E3;
      padding:8px;
      border-radius: 8px;
      line-height: 1.7em;
      li {
       margin:0 5px;
       a {
          border-radius: 6px;
          color:#000000;
          padding:5px 20px;
          font-size:0.8em;
          
          &:hover{
              background-color:#fff !important;
              color:#000000 !important;
              box-shadow: 17px 11px 8px rgba(0, 0, 0, 0.01), 9px 6px 7px rgba(0, 0, 0, 0.05), 4px 3px 5px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          }
          &:active{
              background-color:#fff !important;
              color:#000000 !important;
              box-shadow: 17px 11px 8px rgba(0, 0, 0, 0.01), 9px 6px 7px rgba(0, 0, 0, 0.05), 4px 3px 5px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
          
          }
        }
       
      }
  }  
  @media screen and (max-width: 991px){
    width: 100%;
    padding: 0px;
    margin-top: 5px;
  }
 
}