@import "variables.scss";

.main_navigation .dropdown-menu ul li a {
    letter-spacing: 0.03em;
    font-size: 0.8em;
    line-height: 1.8em;
}

.main_navigation .dropdown-menu ul h6 {
    font-size: 0.7em;
    line-height: 1.4em;
    padding: 0.25rem 1rem;
}

.main_navigation li a {
    transition: 0.5s;
    color: #000;
}

.main_navigation li a:hover,
.main_navigation li a.active {
    color: #ff6c2c;
}

@media screen and (max-width: 767px) {
    .main_navigation {
        align-items: start !important;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .main_navigation {
        align-items: start !important;
      }
}

@media (min-width: 991px) and (max-width: 1024px) {
    .main_navigation li a {
        padding: 3px !important;
    }

    .main_navigation li a {
        font-size: 0.8em;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .main_navigation li a {
        padding: 3px !important;
    }

    .main_navigation li a {
        font-size: 0.8em;
      }
}

@media screen and (min-device-width: 1281px) and (max-device-width: 1600px) {
    .main_navigation li a {
        padding: 3px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
    .main_navigation li a {
        font-size: 0.8em;
      }
}

.main_navigation {
    font-size: 1em;
    .nav-item {
      margin: 0 2.25em;
  
      @media screen and (max-width: 1130px) {
        margin: 0 1.25em;
      }
    }
}

// =========
.artistD .Atabs .nav-pills .nav-link {
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
}

.artist-white .Atabs .nav-pills .nav-link {
    color: rgba(149, 149, 149, 1);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: $white !important;
  color: $dark !important;
  box-shadow: 17px 11px 8px rgb(0 0 0 / 1%), 9px 6px 7px rgb(0 0 0 / 5%),
    4px 3px 5px rgb(0 0 0 / 9%), 1px 1px 3px rgb(0 0 0 / 10%),
    0px 0px 0px rgb(0 0 0 / 10%);
}

.nav-pilles .nav-link.active, .nav-pills .show > .nav-link {
    color: #000 !important;
    background-color: #fff;
    border-radius: 40px;
}

@media screen and (max-width: 767px) {
    .artistD .Atabs .nav-pills .nav-link {
        padding-left: 0px;
      }
}

@media (min-width: 768px) and (max-width: 990px) {
    .artistD .Atabs .nav-pills .nav-link {
        padding-left: 0px;
      }
}