@import "variables.scss";
.panel-menu::-webkit-scrollbar {
  width: 4px;
}

.panel-menu::-webkit-scrollbar-track {
  // background: rgba(255, 108, 44, 1);
  /* color of the tracking area */
  border-radius: 20px;
}

.panel-menu::-webkit-scrollbar-thumb {
  background-color: rgba(255, 108, 44, 0.7);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  // border: 3px solid #0c607b;
  /* creates padding around scroll thumb */
}

.panel-menu {
  background-color: transparent;
  bottom: 0px;
  left: 0px;
  position: absolute;
  top: 30px;
  width: 230px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding: 0px 8px 0 8px;
  overflow-y: auto;
  transition: 0.5s;
}

.panel-menu.collapsed {
  width: 75px;
}

.panel-menu.collapsed .glyphicon {
  font-size: 22px;
}

.panel-menu.collapsed .nav-label {
  display: none;
}

.panel-menu .navbar-primary-menu,
.panel-menu .navbar-primary-menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.panel-menu .navbar-primary-menu li a {
  display: block;
  padding: 10px 10px;
  text-align: left;
  font-size: 0.9em;
  line-height: 1.3em;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.panel-menu .navbar-primary-menu li a:hover,
.panel-menu .navbar-primary-menu li a:focus,
.panel-menu .navbar-primary-menu li a.active {
  /*background-color: #06D6A0;
    text-decoration: none;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;*/
  background: rgba(255, 186, 122, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.panel-menu .navbar-primary-menu li a img {
  margin-top: -2px;
  // margin-right: 5px;
}

.panel-menu .navbar-brand {
  padding-bottom: 11px;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  display: table;
  border-bottom: 0.8px solid rgba(255, 255, 255, 0.2);
}


.panel-menu ul hr {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.panel-menu .navbar-primary-menu li.sub-menu a {
  font-size: 0.7em;
  line-height: 1em;

  &:hover {
    color: #fff;
  }
}

.panel-menu .navbar-primary-menu li.sub-menu a span div {
  margin-left: 5px;
}

.panel-menu .navbar-primary-menu li.sub-menu > a {
  margin-bottom: 10px;
  display: flex;
  justify-items: center;
  gap: 10px;
  align-items: center;
}

// .panel-menu .navbar-primary-menu li.sub-menu ul {
//   padding-left: 0px;
// }

.panel-menu .navbar-primary-menu li.sub-menu ul li {
  margin-bottom: 0px;
}

.panel-menu .navbar-primary-menu li.sub-menu ul li a {
  letter-spacing: 0.02em;
  display: flex;
  justify-items: center;
  gap: 10px;
  align-items: center;
}

// .panel-menu .navbar-brand {
//     padding-top: 20px;
// }

.panel-menu.collapsed .glyphicon {
  font-size: 22px;
}

.panel-menu .nav-label {
  display: flex;
  justify-content: space-between;
  width: 100%;

  span {
    &.menu-is-closed {
      transition: 0.5s;
    }

    &.menu-is-open {
      transition: 0.5s;
      transform: rotate(180deg);
    }
  }
}

.panel-menu .filter_artist .art-select button {
  background: rgba(255, 186, 122, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}

.panel-menu .navbar-primary-menu {
  float:left;
  width:100%;
  margin-top: 15px;
}

.panel-menu.collapsed .btn-select img {
  width: 30px;
}

.panel-menu.collapsed .art-select .btn-select li div,
.panel-menu.collapsed .art-select .b li div {
  display: none;
}
.panel-menu.collapsed .filter_artist .art-select button,
.panel-menu.collapsed .art-select .b li {
  padding: 10px 10px;
}

.collapsed + .panel-content {
    margin-left: 75px;
}

.panel-content {
    margin-left: 230px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
   border-radius: 40px;
   background: #fff;
   transition: 0.5s;
}

.panel-content ol li {
    font-size: 1em;
    line-height: 1.6em;
    letter-spacing: 0.03em;
    color: rgba(27, 50, 60, 0.75);
    margin-bottom: 10px;
}

.panel-content nav.navbar {
    padding: 12px 30px 12px 20px;
    border-bottom: 1px solid rgba(255, 108, 44, 0.5);
    -webkit-border-top-left-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 51px;
}

.panel-content ol li {
    font-size: 1em;
    line-height: 1.6em;
    letter-spacing: 0.03em;
    color: rgba(27, 50, 60, 0.75);
    margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 990px) {
    .panel-menu .navbar-brand {
        padding-top: 20px;
    }

    .panel-menu.collapsed {
        width: 0 !important;
        padding: 0 !important;
    }
      
    .collapsed + .panel-content {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        FONT-VARIANT: JIS04;
        FONT-VARIANT: JIS04;
        padding: 0;
        border-radius: 0px;
    }

    .panel-content {
        border-radius: 0  !important;
    }

    .panel-content nav.navbar {
        padding: 10px 10px 10px 11px;
        border-radius: 0;
    }
}

@media screen and (max-width: 912px) {
    .panel-menu {
        position: fixed;
        background-image: url("/images/panel-bg.webp");
        background-repeat: no-repeat;
        width: 200px;
        background-size: cover;
        background-position: center;
        padding: 12px;
        top: 65px;
    }

    .panel-content {
        margin-left: 0px !important;
        border-radius: 0;
    }
}

@media (max-width: 768px){
    .panel-menu.collapsed {
        width: 0 !important;
        padding: 0 !important;
    }

    .panel-menu .navbar-brand {
        padding-top: 20px;
    }

    .panel-menu-2 .navbar-brand {
        padding-top: 20px;
    }
    
    .panel-body-2 {
        background-image: none !important;
    }

    .panel-menu-2 {
        background-image: url('/images/panel-bg.webp') !important;
        top: 2px !important;
        border-radius: 0px;
    }

    .collapsed + .panel-content {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        FONT-VARIANT: JIS04;
        FONT-VARIANT: JIS04;
        padding: 0;
        border-radius: 0px;
    }

    .panel-content nav.navbar {
        position: fixed;
        padding: 15px 10px 15px 24px !important;
        border-radius: 0;
      }

      .panel-content-2 {
        margin-left: 0% !important;
      }
}

// =========================================================================

.dropdown-menu {
    border: 1px solid #ff6c2c;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 0.7em;
    right: 0;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu li .dropdown-item:hover {
    background-color: #fff;
    color: #ff6c2c;
}

.secondary-menu .account-dropdown ul.dropdown-menu {
    // padding: 7px 0;
    background: #f7f8fa;
    // max-width: 50%;
    // border: 1px solid #FF6C2C;
    width: fit-content;
    // margin-left: auto;
    margin-right: 10px;
    border: 1px solid $gray-bordered;
    gap: 10px;
  
}

.secondary-menu .navbar-nav .nav-link {
    font-size: 0.7em;
    line-height: 2.1em;
    letter-spacing: 0.02em;
    color: #0c607b;
    padding-top: 0px;
    padding-bottom: 0px;
}

.secondary-menu ul.navbar-nav li {
    border-right: 0.711719px solid rgba(12, 96, 123, 0.1);
    margin-top: 15px;
}

.secondary-menu li.account-dropdown {
    margin-top: 0px !important;
}

.secondary-menu li.account-dropdown ul li {
    margin-top: 0px;
    width: 100%;
}

.secondary-menu ul.navbar-nav li:last-child {
    border-right: 0px;
}


.secondary-menu ul.navbar-nav li a img {
    margin-right: 4px;
}

.secondary-menu .navbar-nav .nav-link {
    font-size: 0.8em;
    line-height: 2.1em;
    letter-spacing: 0.02em;
    color: #000;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .secondary-menu .navbar-nav .nav-link-dark {
    font-size:  0.8em;
    line-height: 2.1em;
    letter-spacing: 0.02em;
    color: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .secondary-menu ul.navbar-nav li a img {
    margin-right: 4px;
  }

.navbar-expand-lg .navbar-nav .dropdown-menu {
  border: 0px;
  padding: 18px 0 18px 0;
  padding-right: 0px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.navbar-nav li .dropdown-menu::before {
    border: 7px solid #f7f8fa;
    border-top-color: #f7f8fa;
    border-right-color: #f7f8fa;
    border-bottom-color: #f7f8fa;
    border-left-color: #f7f8fa;
    border-top-color: #f7f8fa;
    border-right-color: #f7f8fa;
    border-bottom-color: #f7f8fa;
    border-left-color: #f7f8fa;
    border-top-color: #f7f8fa;
    border-right-color: #f7f8fa;
    border-bottom-color: #f7f8fa;
    border-left-color: #f7f8fa;
    border-color: transparent transparent #f7f8fa #f7f8fa;
    box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.1);
    content: "";
    left: 55%;
    position: absolute;
    top: 2px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}



.secondary-menu .account-dropdown ul.dropdown-menu li a {
    font-size: 0.7em;
    line-height: 1.1em;
    letter-spacing: 0.02em;
    color: #000;
    // padding: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.secondary-menu .account-dropdown ul.dropdown-menu li a:hover {
    background: rgba(255, 186, 122, 0.1);
}



.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu.show {
    display: flex;
    flex-direction: column;
}

.dropdown-menu.tags-menu {
    border: 0px;
}

@media screen and (max-width: 767px) {
    .dropdown-menu.show {
        flex-wrap: wrap;
        max-height: 350px;
        overflow-y: scroll;
    }

    .secondary-menu .account-dropdown ul.dropdown-menu {
        position: absolute;
    }

    .secondary-menu #navbarNav {
        flex-basis: auto;
        float: right;
        align-content: flex-end;
        display: flex;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .dropdown:hover .dropdown-menu {
        width: 40vw;
        flex-wrap: wrap;
    }

    .secondary-menu .account-dropdown ul.dropdown-menu {
        position: absolute;
    }

    .secondary-menu #navbarNav {
        flex-basis: auto;
        float: right;
        align-content: flex-end;
        display: flex;
      }
}