@import "variables.scss";


.stepper-card .navigation a {
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    margin-bottom: 10px;
    text-align: left;
}

.stepper-card .navigation a span {
  font-size: 0.9em;
  line-height: 1em;
  align-items: center;
  letter-spacing: 0.02em;
}

.stepper-card .navigation a:hover p span,
.stepper-card .navigation a:focus p span,
.stepper-card .navigation a.active p span {
  text-decoration: none;
  color: rgba(255, 108, 44, 1) !important;
}

.stepper-card .navigation a p.nav-label {
  padding-right: 50px;
  width: 93%;
}

.stepper-card .navigation a p.ic {
  width: auto;
  float: right;
  margin-left: 20px;
}

.stepper-card .navigation a p span.t {
  text-align: right;
  color: rgba(152, 152, 152, 1);
  transition: 0.5s;
}

.stepper-card .navigation a p span.st {
  text-align: right;
  color: rgba(152, 152, 152, 1);
  transition: 0.5s;
}

.stepper-right {
  border-left: 1px solid rgba(43, 81, 177, 0.1);
  padding: 0px 30px;
}

.stepper-right p.note {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}

.stepper-right h3 {
  font-family: $semibold-font;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 7px;
}

.stepper-right p {
  font-size: 1em;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.5);
}

// 
// .stepper-card .navigation a:hover p span,
// .stepper-card .navigation a:focus p span,
// .stepper-card .navigation a.active p span {
//   text-decoration: none;
//   color: rgba(255, 108, 44, 1) !important;
// }
// .stepper-card .navigation a p.nav-label {
//   padding-right: 50px;
//   width: 93%;
// }

// .stepper-card .navigation a p span.st {
//   text-align: right;
//   color: rgba(152, 152, 152, 1);
//   transition: 0.5s;
// }
// .stepper-right {
//   border-left: 1px solid rgba(43, 81, 177, 0.1);
//   padding: 0px 50px;
//   padding-right: 150px;
// }
// .stepper-right p.note {
//   font-size: 0.8em;
//   color: rgba(0, 0, 0, 0.5);
// }
// .stepper-right h3 {
//   font-family: $semibold-font;
//   font-size: 1.5em;
//   line-height: 1.8em;
//   margin-bottom: 7px;
// }
// .stepper-right p {
//   font-size: 1em;
//   line-height: 1.6em;
//   color: rgba(0, 0, 0, 0.5);
//   width: 80%;
// }
// 
@media screen and (max-width: 767px) {
  .stepper-right {
    border-left: 0px;
    padding: 0px 10px;
    margin-top: 25px;
  }

  .stepper-card {
    padding: 0px;
  }

  .stepper-card .navigation a {
    padding: 0px;
  }

  .stepper-card .navigation a p.nav-label {
    padding-right: 4px;
  }


}

@media (min-width: 768px) and (max-width: 990px) {
  .stepper-right {
    padding: 0px 10px !important;
  }
}

@media screen and (min-device-width: 1281px) and (max-device-width: 1600px) {
  .stepper-card .navigation a p.nav-label {
    padding-right: 40px;
    text-align: end;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .stepper-card .navigation a {
    padding: 0px;
  }

  .stepper-card .navigation a p.nav-label {
    font-size: 1em;
    line-height: 1.1em;
  }

  .stepper-card .navigation a {
    text-align: left;
  }

  .stepper-card .navigation a p.ic img {
    width: 60%;
  }
}

.stepper-form {
  border: 1px solid rgba(0, 0, 0, 0.15);
  // width: 85%;
  border-radius: 24px;
  padding: 30px;
  margin-bottom: 10px;
  // min-height:420px;;
  label {
    font-family: $semibold-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
  .muted {
    opacity: 0.5;
  }
  @media screen and (max-width:767px) {
    border: none;
    padding: 0px;
    font-size: 12px !important;
    line-height: 17px;
    width: 100% !important;
  }
}

.stepper-form-element {
  label {
    font-size: 16px;  
    @media (max-width:768px){
      font-size: 14px !important;
    }
  }
}

.stepper-form{
  .stepper-form-element {
    #live-stream-url{
      z-index: 9999;
    }
    #facebook-page{
      z-index: 9999;
    }
    #instagram-username{
      z-index: 9999;
    }
    #website-link{
      z-index: 9999;
    }
    #patreon-link{
      z-index: 9999 !important;
    }
     #spotify-link{
      z-index: 9999;
    }
  }
}