$body-font: 'Cabin-SemiBold';
$rgular-font: "HarmoniaSansW01-Regular";
$semibold-font: "HarmoniaSansW01-Semibold";
$RoundoVariable: "roundo-bold";

$primary: #FF6C2C;
$primary-lighten: rgba(255, 108, 44, 0.2);
$dark: #000000;
$dark-lighten: #212529;
$white: #ffffff;
$white-lighten: rgb(255,255,255,0.5);
$grey-200: #E0E0E0;
$grey-300: rgb(176 176 176);
$grey-400: #E3E3E3;
$grey-500: #626262;
$grey-600: rgba(255, 255, 255, 0.2);
$grey-700: #858585;
$gray-bordered: #CCCCCC;

$mute-gray: rgba(176, 176, 176, 1);
$mute-text: rgb(0,0,0,0.5);