
.unSelectedData {
    width: 261px;
    height: 168px;
     background: #F7F7F7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 35%;

    @media (max-width:767px){
        margin: 12%;
        padding: 20px;
    }
}