@import "../../../styles/variables.scss";

.header {
  margin: var(--bs-modal-header-padding);
  padding-left: 0;
  padding-right: 0;
  color: $dark;
  align-items: start !important;

  h3 {
    margin: 0;
    font-size: 24px;

    p {
      font-size: 18px;
      color: #6E6E6E;
      font-family: $rgular-font;
      margin: 0;
      margin-top: 5px;
    }
  }

  :global(.btn-close) {
    opacity: 1;
    width: 0.6em;
    height: 0.6em;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    background-size: 10px;
    position: absolute;
    top: 25px;
    right: 25px;

    &:hover {
      border-color: $primary;
    }
  }
}

.modal {
  :global(.modal-content) {
    border: 1px solid $primary;
    padding: 1rem;
    padding-top: 0px;
  }

  :global(.modal-dialog) {
    max-width: 600px;
  }
}

.body {
  padding-bottom: 2rem;
  margin-bottom: 0 !important;

  :global(.ant-divider) {
    margin: 0;
    margin-bottom: 10px;
  }

  :global(p) {
    margin-bottom: 0px;
  }

  :global(.notes-list) {
    max-height: 300px;
    overflow-x: auto;
  }

  :global(.note-history) {
    background: #FDF4E6;
    border-left: 6px solid #E79720;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    color: #E79720;

    div:nth-child(1) {
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      flex-direction: column;
    }
  }

  :global(.notes) {
    width: 100%;
    border-radius: 10px;
    padding: 12px;
  }

  :global(button) {
    font-family: $semibold-font;
    font-size: 16px;
    color: #fff;
    background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, $primary 100%);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 5px 15px;
    text-decoration: none;
    transition: 0.5s;
    border: 0px;

    &:hover,
    :focus {
      background: #000;
    }
  }

  :global(.delete) {
    background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #EE4848 100%);
  }

  :global(.justify-content-end) {
    display: flex;
    justify-content: end;
  }

  textarea {
    border: 1px solid #D9D9D9;
    border-radius: 10px;

    &:focus,
    &:focus-within,
    &:focus-visible {
      border-color: $primary;
      outline: $primary;
    }
  }
}