.pageHeader {
    background-image: url('/images/phead-bg.webp');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;

    :global(.pHead) {
        padding: 50px 0;
        text-align: center;
    }

    @media (min-width: 1900px) {
        background-size: 100%;
    }
}

.useGig {

    :global(.h-head) {
        font-size: 1.8em;
        text-align: center;
    }

    :global(.show_tabes) {
        width: 35%;

        @media (min-width: 1400px) {
            width: 35%;
        }

        ul {
            background: linear-gradient(180deg, #8CC6E7 0%, #39A6E3 100%);
            padding: 5px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 40px;

            :global(.nav-pilles) {
                :global(.nav-link) {
                    background: none;
                    border: 0;
                    border-radius: 0.25rem;
                }
            }
        }

        :global(.tab-h) {
            a {
                color: white;
            }
        }

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }


    :global(.guide) {
        position: relative;

        @media (min-width: 1400px) {
            position: relative;
            padding: 50px;
        }
    }

    :global(.path) {
        position: absolute;
        top: 17%;
        width: 80%;
        left: 13%;

        img {
            width: 90%;
        }

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    :global(.sec-1) {
        padding: 80px 80px 0px 80px;
        text-align: center;
        z-index: 99;

        @media (min-width: 1400px) {
            padding: 10px 30px 0px 30px;
        }

        @media screen and (max-width: 768px) {
            padding: 0px;
            text-align: center;
            padding: 10px 20px 0px 20px;
        }

        @media screen and (min-width:767px) {
            padding: 10px 20px 0px 20px;
        }


        p {
            color: #000;
        }
    }
}

.extra_pad {
    padding: 0px 50px;
    margin-top: -10%;
    @media screen and (max-width: 767px) {
        padding: 10px;
    }

    :global(.sec-3) {
        background-image: linear-gradient(to top, rgb(255 199 159 / 0%), rgb(255 255 255)), url(/images/about-us/sec-3-bg.png);
        border-radius: 50px;
        background-size: cover;
        text-align: center;

        h2 {
            font-size: 1.8em;
        }
    }

    :global(.sec-3-p) {
        p {
            color: #000;
        }
    }

    :global(.none) {
        @media screen and (min-width: 700px) and (max-width: 1350px) {
            display: none;
        }
    }

    :global(.card-pad) {
        padding: 2%;

        @media screen and (max-width: 767px) {
            padding: 5%;
        }

        @media screen and (min-width: 700px) and (max-width: 1350px) {
            padding: 3%;
            width: 50%;
        }
    }



    :global(.black-bg) {
        background-color: #222222;
        border-radius: 190px;
        color: white;
        padding: 0;

        @media screen and (max-width: 767px) {
            border-radius: 50px;
            padding: 2%;
        }
    }

    :global(.circle-h) {
        padding-top: 0;

        @media screen and (max-width: 767px) {
            padding-top: 4%;
        }
    }

    :global(.circle-small) {
        position: relative;
        width: 80px;

        :global(.text) {
            position: absolute;
            width: 100%;
            top: 50px;
            font-size: 17px;
            text-align: center;
            font-weight: 400;
            line-height: 16px;
            color: #fff;

            @media screen and (max-width: 767px) {
                top: 25px;
            }
        }

        svg {
            width: 80px;
            height: 90px;
            margin-top: 17%;

            @media screen and (max-width: 767px) {
                width: 80px;
                height: 90px;
                margin-top: -10%;
            }
        }

        :global(.bg) {
            fill: none;
            stroke-width: 6px;
            stroke: white;
        }

        :global(.progress) {
            fill: none;
            stroke-width: 6px;
            stroke: #FF6C2C;
            stroke-linecap: round;
            stroke-dasharray: 333;
            transform-origin: 50% 50%;
        }

        :global(.two) {
            stroke-dashoffset: 140;
            animation: two 3.5s ease-in-out, appear 2s;
        }

        :global(.three) {
            stroke-dashoffset: 160;
            animation: three 2.5s ease-in-out, appear 1s;
        }

        :global(.four) {
            stroke-dashoffset: 300;
            animation: four 3.5s ease-in-out, appear 2s;
        }

        :global(.one) {
            stroke-dashoffset: 110;
            animation: one 2.5s ease-in-out, appear 1s;
        }
    }

    :global(.para-h) {
        margin-top: 20px;

        @media (min-width: 1400px) {
            margin-left: -5%;
            margin-top: 5%;
        }

        @media screen and (max-width: 767px) {
            padding: 4%;
            position: absolute;
            width: 65%;
            margin-left: 20%;
            line-height: 20px;
            margin-top: 0;
        }
    }

    :global(.line-h) {
        hr {
            color: white;
            border: 0;
        }
    }

    :global(.img-bottom) {
        img {
            width: 100%;
            margin-top: 11%;
        }
    }

    :global(.create-posting-text) {
        @media (min-width: 1400px) {
            padding: 150px 100px !important;
            text-align: left;
        }

        @media (min-width: 768px) {
            padding: 50px 30px;
        }

        p {
            color: #000;
            font-size: 1em;
        }
    }

    :global(.para-bottom) {
        @media screen and (max-width: 767px) {
            margin-left: -5%;
        }

        p {
            text-align: start;
            color: #000;
        }
    }
}

.sec_two {
    text-align: center;

    :global(h2) {
        font-size: 2em;
    }

    :global(p) {
        color: #000;
    }

    :global(.cp-1) {
        margin-top: -5%;
        :global(.create-posting-img-1) {
            img {
                width: 100%;
                height: auto;
            }
        }
    
        :global(.create-posting-text-1) {
            padding: 12% 2%;
            text-align: left;
            right: 0;
            align-self: flex-start;
    
            a {
                color: #FF6C2C;
                cursor: default;
            }
    
            :global(.arrow) {
                color: #FF6C2C;
                cursor: pointer;
            }
        }

        @media screen and (max-width: 767px) {
            flex-direction: column;
            :global(.create-posting-text-1) {
                align-self: center;
                margin-top: -45%;
            }
        }
    }
    

    :global(.cp-2) {
        
        margin-top: -25%;

        img {
            max-width: 100%;
            height: auto;
        }

        @media screen and (max-width: 1400px) {
            margin-top: -20%;
        }

        @media screen and (max-width: 1200px) {
            margin-top: -15%;
        }
    }

    :global(.create-posting-img-mobile) {
        display: none;

        @media screen and (max-width: 767px) {
            display: block;
        }
    }

    :global(.create-posting-text-2) {
        padding: 10% 2%;
        text-align: left;
        align-self: flex-start;

        a {
            color: #FF6C2C;
            cursor: default;
        }

        :global(.arrow) {
            color: #FF6C2C;
            cursor: pointer;
        }

        @media screen and (max-width: 767px) {
            align-self: center;
            margin-top: -45%;
        }

        // @media (min-width: 1400px) {
        //     padding: 10px 100px;
        // }

        // @media screen and (max-width: 767px) {
        //     position: relative;
        //     padding: 30px 20px;
        //     text-align: left;
        //     margin-top: -25%;
        // }
    }

    :global(.create-posting-img-desktop) {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    :global(.arrow) {
        text-decoration: none;
        color: #000;
    }

    :global(.create-posting-img-desktop) {
        img {
            max-width: 100%;
            // margin-top: -15%;
        }
    }

    :global(.create-posting-img-3) {
        // padding: 50px 30px !important;

        // @media (min-width: 1400px) {
        //     padding: 0px 30px;
        // }

        // @media (min-width: 768px) {
        //     padding: 50px 30px;
        // }

        img {
            // width: 80%;
            // margin-top: -35%;
            // margin-bottom: -20%;
            max-width: 100%;
            height: auto;
        }
    }

    :global(.cp-3) {
        margin-top: -15%;
        // @media (max-width: 768px) {
        //     margin-top: 15%;
        // }

        @media screen and (max-width: 1100px) {
            margin-top: -10%;
        }
    }

    :global(.create-posting-text-3) {
        // padding: 100px 50px;
        text-align: left;
        padding: 10% 2%;
        align-self: flex-start;
        // position: absolute;
        // right: 0;

        a {
            color: #FF6C2C;
            cursor: default;
        }

        :global(.arrow) {
            color: #FF6C2C;
            cursor: pointer;
        }

        @media (max-width: 767px) {
            margin-top: -25%;
        }

        // @media (min-width: 768px) {
        //     padding: 10px 100px;

        // }

        // @media screen and (max-width: 767px) {
        //     position: relative;
        //     padding: 30px 20px;
        //     text-align: left;
        //     margin-top: -5%;
        // }
    }
}