.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;

    .backdrop {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(255, 248, 248, 0.3);
        opacity: 1;
        z-index: 0;
    }
    .preLoader {
        position: relative;
        color: #fff;
        text-align: center;
        z-index: 10;
        max-width: 50px;
        span {
            display: flex;
            margin: auto;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.layoutLoader {
    height: 90vh;
    display: flex;
    position: relative;
}

.defaultLoader {
    position: relative;
    color: #fff;
    text-align: center;
    z-index: 10;
    max-width: 50px !important;
    img {
        max-width: 100%;
        height: auto;
    }
}
