@import "../../styles/variables.scss";

.modalStyle {

    :global(.modal-dialog){
        max-width: 500px !important;
    }
}

.header {

    h1 {
        margin: 0 auto !important;
        font-size: 1.8em;
    }
    
    button {
        margin-left: 0 !important;
    }
}

.image {
    max-width: 100%;
    height: auto;
}

.button {
    background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #ffb494 0%, $primary 100%);
    border-radius: 100px;
    border: 1px solid transparent;
    color: $white;
    font-family: $semibold-font;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    transition: 0.5s;
    height: auto;
    text-shadow: none;
    box-shadow: none;

    &:hover {
        background: $white;
        color: $primary;
        border-color: $primary;
    }

    &[disabled] {
        background: $white;
        color: $primary;
        border-color: $primary;
        opacity: 0.8;
        
        &:hover {
            background: $white;
            color: $primary;
            border-color: $primary;
        }
    }
}