
@import '../../styles/variables.scss';

.calendar_page {
  margin-top: 20px;
  padding: 30px 30px;
  @media screen and (max-width: 767px) {
    margin-top: 75px;
    padding:  30px 5px;
  }
}
.event {
  display: flex;
  width: 100%;
  font-size: 14px;
  flex-direction: column;
  border-radius: 0px 4px 4px 0px;
  

  div:nth-child(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    span:nth-child(1) {
      font-weight: 700;
      color: #FFF;
      margin-right: 5px;
      padding: 5px;
      font-family: $semibold-font;

      @media screen and (max-width: 580px) {
        padding: 5px 2px;
      }
    }
  }

  div:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 5px;

    @media screen and (max-width: 580px) {
      padding: 0px 2px;
    }
  }

  &:global(.event-type-note) {
    background-color: rgba(249, 212, 157, 0.25);
    border-left: 3px solid #E79720;
    color: #E79720;
    div:nth-child(1) {
      span:nth-child(1) {
        color: #E79720;
      }
    }
      div:nth-child(2) {
        span:nth-child(1) {
          strong{
            svg {
              margin-top: -4px;
              path{
                fill: #E79720;
              }
            }
          }
        }
    }

    @media screen and (max-width: 580px) {
      border-left: 1px solid #E79720;
    }
  }

  &:global(.event-type-posting) {
    background-color: rgba(157, 216, 249, 0.25);
    border-left:3px solid #408BB5;
    color:#408BB5 ;

    div:nth-child(1) {
      span:nth-child(1) {
        color: #408BB5;
      }
    }
    div:nth-child(2) {
      span:nth-child(1) {
        strong{
          svg {
            margin-top: -4px;
            path{
              fill: #408BB5;
            }
          }
        }
      }
    }
    
    @media screen and (max-width: 580px) {
      // max-width: 150px;
      border-left: 1px solid #408BB5;
    }
    
  }

  &:global(.event-type-confirmedEvent) {
    background-color: rgba(157, 177, 249, 0.25);
    border-left: 3px solid #31489A;
    color: rgba(49, 72, 154, 1);
    div:nth-child(1) {
      span:nth-child(1) {
       color: #31489A;
      }
    }
    div:nth-child(2) {
      span:nth-child(1) {
        strong{
          svg {
            margin-top: -4px;
            path{
              fill: #31489A;
            }
          }
        }
      }
    }

    @media screen and (max-width: 580px) {
      border-left: 1px solid #31489A;
    }
  }

  &:global(.event-type-canceledEvent) {
    background-color:rgba(224, 132, 224, 0.25);
    border-left: 3px solid #810381;
    color:#810381;
    div:nth-child(1) {
      span:nth-child(1) {
        color: #810381;
      }
    }
    div:nth-child(2) {
      span:nth-child(1) {
        strong{
          svg {
            margin-top: -4px;
            path{
              fill: #810381;
            }
          }
        }
      }
    }

    @media screen and (max-width: 580px) {
      border-left: 1px solid #810381;
    }
  }

  &:global(.event-type-completedEvent) {
    background-color: rgba(139, 224, 132, 0.25);
    border-left: 3px solid #27941E;
    color:#27941E;
    div:nth-child(1) {
      span:nth-child(1) {
        color: #27941E;
      }
    }
    div:nth-child(2) {
      span:nth-child(1) {
        strong{
          svg {
            margin-top: -4px;
            path{
              fill: #27941E;
            }
          }
        }
      }
    }

    @media screen and (max-width: 580px) {
      border-left: 1px solid #27941E;
    }
  }

  &:global(.event-type-show) {
    background-color: rgba(132, 224, 219, 0.25);
    border-left: 3px solid #0D9790;
    color:#0D9790;
    div:nth-child(1) {
      span:nth-child(1) {
        color: #0D9790;
      }
    }
    div:nth-child(2) {
      align-items: center;
      span:nth-child(1) {
        strong{
          svg {
            margin-top: -4px;
            path{
              fill: #0D9790;
            }
          }
        }
      }
    }

    @media screen and (max-width: 580px) {
      border-left: 1px solid #0D9790;
    }
  }

  &:global(.event-type-show), &:global(.event-type-completedEvent),  &:global(.event-type-canceledEvent), &:global(.event-type-confirmedEvent), &:global(.event-type-posting), &:global(.event-type-note) {
    div:nth-child(1) {
      @media screen and (max-width: 786px) {
        font-size: 0.8rem;
      }

      @media screen and (max-width: 786px) {
        font-size: 0.6rem;
      }
    }
    div:nth-child(2) {
      span:nth-child(1) {
        strong{
          @media screen and (max-width: 786px) {
            svg {
              display: none;
            }
            font-size: 0.8rem;
          }

          @media screen and (max-width: 786px) {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}

.calendar_heading {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.6);

  :global(.filter-1) {
    display: flex;
    align-items: center;

    :global(.schedule) {
      display: flex;
      gap: 5px;
      align-items: center;
      flex-basis: 33%;
      input {
        max-width: 125px;
      } 
    }

    :global(.calendar-info) {
      display: flex;
      gap: 5px;
      flex-basis: 33%;
      justify-content: center;

      :global(.actions) {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        align-items: center;

        button {
          background: #FFFFFF;
          border: 1px solid #B7B7B7;
          border-radius: 50%;
          width: 28px;
          height: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;

          &:hover {
            background: #FFF1EB;
            border: 1px solid #FF6C2C;
          }
        }

        div {
          display: flex;
          gap: 5px;
          align-items: center;
        }
      }

      :global(.today) {
        span {
          height: 100%;
          width: 2px;
          border: 1px solid #D9D9D9;
          transform: rotate(90deg);
          margin: 0px 15px;
          margin-left: 10px;
        }
        button {
          background: #FFFFFF;
          border: 1px solid #EAEAEA;
          border-radius: 200px;
          padding: 4px 16px;

          &:hover {
            background: #FFF1EB;
            border: 1px solid #FF6C2C;
          }
        }
      }
    }
    
    :global(.calendar-filter) {
      display: flex;
      align-items: center;
      flex-basis: 34%;
      justify-content: end;
      position: relative;
    }

    @media screen and (max-width: 1024px) {
      :global(.schedule) {
        display: none;
      }

      :global(.calendar-filter) {
        display: none;
      }

      :global(.calendar-info) {
        flex-basis: 100%;
      }
    }
  }

  :global(.mobile_filter) {
    position: relative;

    :global(.schedule) {
      display: none;
    }

    :global(.calendar-filter) {
      display: none;
    }

    @media screen and (max-width: 1024px) {
      display: flex;
      margin-top: 10px;
      gap: 10px;
      justify-content: center;
      align-items: center;

      :global(.schedule) {
        display: flex;
        gap: 10px;
        align-items: center;
        input {
          max-width: 125px;
        } 
      }

      :global(.calendar-filter) {
        display: flex;
        gap: 10px;
      }
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      :global(.calendar-filter) {
        position: relative;
        width: 100%;
        justify-content: center;
      }

      :global(.schedule) {
        width: 100%;
        justify-content: center;
      }
    }
  }

  :global(.filter-2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    button{
      margin-left: auto;
    }
    @media screen and (max-width: 1024px) {
      justify-content: center;
    }
  }
  
}

.calendar_day_cell {


  :global(.fc-daygrid-day-top) {
    flex-direction: row;
  }

  :global(.fc-daygrid-day-number) {
    font-size: 14px;
    color: #000000;
    padding-left: 15px;
    @media screen and (max-width: 1024px) {
      padding-left: 5px;
    }
  }

  @media screen and (max-width: 1024px) {
    height: 100px;
  }
}

.calendar_view {

  :global(.fc-scrollgrid) {
    border-top: 0px; 
    position: relative;
    border-right-width: 1px;
    border-radius: 30px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;

    // &:before {
    //   content: "";
    //   position: absolute;
    //   top: -1px;
    //   left: -1px;
    //   right: -1px;
    //   bottom: 0;
    //   z-index: -1;
    //   height: 2%;
    //   width: 1px;
    //   z-index: 9999;
    //   background: #FFF;
    // }

    // &:after {
    //   content: "";
    //   position: absolute;
    //   top: -1px;
    //   right: -1px;
    //   bottom: 0;
    //   z-index: -1;
    //   height: 2%;
    //   width: 2px;
    //   z-index: 9999;
    //   background: #FFF;
    // }
  }

  :global(thead) {
    background: #FFE8DE;
    border-right: 1px solid;
    tr {
      height: 60px;

      td:first-child, th:first-child {
        border-start-start-radius: 300px;
        border-end-start-radius: 300px;
      }
  
      td:last-child, th:last-child {
          border-start-end-radius: 300px;
          border-end-end-radius: 300px;
      }

      th {
        vertical-align: middle;
        border: 0px;
      }
    }
    
    :global(.fc-col-header-cell-cushion) {
      color: #74584C;
    }

    
  }

  :global(.fc-theme-standard) {
    td {
      border-right: 0px !important;
      border-bottom: 0px !important;
    }
  }

  @media screen and (max-width: 580px) {
    :global(.fc-list-event) {
      :global(td) {
        padding: 3px 5px !important;
      }
    }
  }
}

.calendar_description{
    height:25px;
    width:100%;
    overflow: scroll;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  color: black;
  border: 1px solid black;
  font-size: small;
  border-radius: 2px;
  // font-family: "HarmoniaSansW01-Regular";
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

  & > small{
    font-size:13px;
    color: white;
    padding: 2px;
  }
}

.calendar_type{
  border-top-right-radius: 10px;
  background-color: #a399b2;
  background-image: linear-gradient(147deg, #a399b2 0%, #4d4855 74%);
}

.show_button {
  font-family: $semibold-font;
  color:#fff;
  background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 5px 15px;;
  text-decoration:none;
  transition:0.5s;
  border:0px;
  &:hover, :focus{
    background:#000;
  }  
  font-size: 1em;
}