.add_show{
    &:hover ,:focus{
        color: #fff;
    }
    @media (max-width: 767px){
       padding: 8px 20px !important;
       margin-bottom: 0px;
       font-size: 0.8em !important;
   }
}

.embedCodeCard {

    :global(.title-2){
        border: 1px solid rgba(255, 108, 44, 0.2);
        max-height: 98px;
        padding: 5px;
        font-size: 16px;
        line-height: 1.5em;
        border-radius: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    :global(.cardRows) {
        display: flex;
        align-items: center !important;
        justify-content: center;
    }

    :global(.title){
        font-family: "HarmoniaSansW01-Semibold";
        font-size: 0.9em;
        line-height: 1.3em;
        height: auto;
        border-bottom: none !important;
        margin-top: 10px;
        float: left;
        width: 100%;
        transition: 0.5s;
    }

    :global(.deleteButton) {

        img{
            float: right;
        }
    }

    @media (max-width: 768px){
        :global(.show_thumb) {
            display: none;
        }
    }
    

}

