
.modal {
    :global(.modal-dialog) {
        max-width: 820px !important;
    }
}

.modal_body {
   
  :global(.dividar){
      padding-bottom: 10px;
      border-top:1px solid #FF6C2C;
  }
  :global(.venueSearch){
    button{
          border: none;
         background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
          padding: 2px 15px;
          color:#fff;
          float: right;
          border-radius: 20px;
        margin-bottom: 5px;
      }
  }
  :global(.icons){
      :global(.addIcon){
          background-color: #FF6C2C;
          border-radius: 7px;
         /* width: 50%; */
         cursor: pointer;
         text-align: center;
         align-items: center;
          
          img {
            cursor: pointer;
        }
      }
    
  }
  :global(.btn-secondary){

    &:hover {
        background: #000;
             color: #fff;
    }
  }
}


.header{
    border: none;
    text-align: center;
    h2 {
        text-align: center;
        align-items: center;
    }
 }
 .modalBody{
     margin: 0;
     
 }
 
 .venueSelect {
     width: 100%;
    }
    .selectFieldModal {
        width: 100%;
        &:hover,:focus {
            border-color: #000;
            box-shadow: #000;
        }
    }
 .request_btn {
     button {
         background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
         -webkit-border-radius: 100px;
         -moz-border-radius: 100px;
         border-radius: 100px;
         border: 1px solid transparent;
         color: #fff;
         font-size: 1.2em !important;
         padding: 8px 38px;
         float: right;
         transition: 0.5s;
         &:hover,:focus {
             background: #000;
             color: #fff;
         }
     }
 }
 .venueSelectlabel{
     label {
         width: 100%;
         color: #000;
         font-family: "HarmoniaSansW01-Semibold";
         font-size: 1em;
         margin-bottom: 3px;
     }
     :global(.ant-picker:hover){
        border-color: hsl(0, 0%, 70%) !important;
     }
     
     :global(.ant-picker-focused){
        border: 2px solid #000 !important;
     }

     :global(.timePiker) {

        :global(.ant-picker){
            width: 100%;
            border: 1px solid;
            border-color: hsl(0, 0%, 80%);
            height: 39px;
            font-size: 19px;
            border-radius: 6px;

            :global(.ant-picker-input){
                 input {
                     font-size: 18px;
                 }
            }
             
        }
     }

     @media (max-width:767px) {
         margin-top: 10px;
     }
 }
 .datePicker {
     // padding: 10px 11px 10px !important; 
     font-size: 20px !important;
     position: relative;
      display: flex !important; 
     align-items: center !important;
     background: #fff;
     // border: 1px solid #d9d9d9;
     border-radius: 6px !important;
     transition: border 0.3s, box-shadow 0.3s;
     // width: 100% !important;
    input {
     border: none !important;
     font-size: 18px !important;
     &:hover ,:focus {
         border: none;
        }
    }
 }
 