.map_and_shows {
   @media screen and (max-width: 768px) {
     flex-direction: column-reverse !important;
   }
 }

.load_artists {
   margin-top: 60px !important;
}

.artist_b {
   @media screen and (max-width: 767px) {
      padding: 10px;
   }
}


.sec_head {
   font-size: 2.20em;

   @media screen and (max-width: 767px) {
      margin: 0px;
   }
}