.main_form{
    width: 100% !important;
    height:100% !important;
    margin-top: 0px;
    font-family: HarmoniaSansW01-Semibold !important;
    font-size: 1.1em !important;
    float:none !important;

    & > fieldset{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > fieldset > div{
        width:50% !important;
        

        @media (max-width: 576px){
            width:100% !important;
            
        }
    }
}

.select_field{
    .inputField {
        font-family: "HarmoniaSansW01-Semibold" !important;

        :global(.ant-select-selector){
            &:focus{
                border: 1px solid #000 !important;
                border-color: #000 !important;
                box-shadow: 0 0 0 1px #000 !important;
            }
            &:focus-visible {
                    outline:2px solid #000;
            }
        }
        :global(.ant-select-focused){
            border: 1px solid #000 !important;
            border-color: #000 !important;
            box-shadow: 0 0 0 1px #000 !important;
        }
    }
    & > *{
        width:100% !important;
        
    }
}

.label{
    font-family: "HarmoniaSansW01-Semibold";
    font-size: 16px !important;
}
.textAreaField {
    font-size: 16px !important;
}