.page {
   //  height: 150vh !important;

    :global(.panel-inner-content) {
        padding: 30px 30px 0px 34px;

        @media screen and (max-width: 767px) {
            padding: 10px 10px;
            padding-top: 75px;
        }
    }
}


.my_account_form {
    width: 60% !important;
    margin-top: 0 !important;
    height: 100% !important;

    :global(.input) {
        height: 98px;
        width: 100%;
        padding: 10px;
        font-size: 16px !important;
        border-radius: 6px;
        position: relative;
        background-color: #fff;
        border: 1px solid #d9d9d9;
    }

    @media (max-width:992px) {
        width: 100% !important;
        margin-top: 10px !important;
    }
    @media (min-width:992px) and (max-width:1280px) {
      width: 85% !important;
   }

    :global(.next.link-button) {
        background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #ffb494 0%, #ff6c2c 100%);
        border-radius: 100px;
        border: 1px solid transparent;
        color: #fff;
        font-family: "HarmoniaSansW01-Semibold";
        font-size: 16px;
        padding: 13px 45px;
        float: right;
        transition: 0.5s;

        @media (max-width:992px) {
            padding: 8px 15px;
           }

         
    }

    :global(.previous_button)
       {
       background: #fff;
       border-radius: 100px;
       border: 1px solid rgba(0, 0, 0, 0.2);
       color: #000;
       font-family: "HarmoniaSansW01-Semibold";
       font-size: 16px;
       padding: 13px 52px;
       float: left;
       transition: 0.5s;
      
       &:hover {
         color: #FFF;
         svg {
            path{
              fill: #FFF !important;
            }
          }
       }
       @media (max-width:992px) {
         padding: 8px 15px;
       }
    }

    :global(.venue-search) {
       width: 100%;
       border-radius: 6px;
       height: 48px;
       border:1px solid #d9d9d9;
       padding: 10px;
    }

    :global(.selectField) {
       font-size: 16px !important;
       height: 48px !important;
       border-radius: 6px !important;
    }

    :global(.css-13cymwt-control) {
      font-size: 16px !important;
      height: 48px !important;
      border-radius: 6px !important;
    }

    :global(.css-1u9des2-indicatorSeparator) {
       border: none !important;
       background: none !important;
    }

    :global(.videoPreview) {
       margin: 20px;

       iframe {
          border-radius: 10px;
       }
    }
    
}

.label{
    font-family: "HarmoniaSansW01-Semibold";
    font-size: 16px !important;

    small {
        color:rgb(0, 0, 0, 0.4) !important;
    }
}

.artistPhoto {
    box-sizing: border-box;
    max-width: 902px;
    height: 229px;
    left: 757px;
    top: 294px;
    background: #FFFFFF;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #FF6C2C;
    border-radius: 16px;
    img {
       max-height: 65px;
       max-width: 65px;
    }
    span {
    color:#FF6C2C;
   }
 }
 .photosList{
    width: 48%;
    height: 70px;
    padding: 16px;
    // margin-right: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background: #F4F4F4;
    border-radius: 12px;
    &__ImageName {
       display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    .image {
       max-width: 40px;
      max-height: 40px;
      img{
         border-radius: 10px;
         height: 45px;
         width: 40px;
      }
    }
    .name {
       p {
        margin: 0;
        padding: 0;
       font-weight: 400;
       width: 116px;
       font-size: 16px;
       line-height: 19px;
       color: #000000;
    }
     span  {
       font-weight: 400;
       font-size: 12px;
       line-height: 15px;
      color: #000000;
      opacity: 0.5;
    }
 }
    }
    @media (max-width:992px) {
       width: 100%;
       margin-right: 0;
    }
 }
 
 .listContainer {
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;

    :global(.photos_List) {
      position: relative;
      border-radius: 40px;
      margin: 20px 0;
         img {
            height: 145px;
            width: 150px;
            border-radius: 10px;

           
         }
         @media  (max-width:520px) {
            margin-left: auto;
            margin-right: auto;
         }

         @media (min-width:600px) and (max-width:900px) {
            margin-left: auto;
            margin-right: auto;
         }
   }
 }
 
 .deleteIcon {
   float: right;
   cursor: pointer;
   margin-left: auto;
   
   position: absolute;
   top: 3%;
   right: 2%;

   svg {
      circle {
         fill: blanchedalmond !important;
      }
   }
 }