@import '../../styles/variables.scss';
.container {
   
   padding-top: 20px;
   :global(.price-range-slider) {
      :global(.range-labels) {
         display: flex;
         gap: 10px;
         span {
            font-weight: 700;
         }
      }

      @media (max-width:767px) {
         margin-bottom: 10px;
         label {
            font-size: 0.8rem;
         }
      }
   }

   :global(.postings){
      padding-bottom: 20px;

      max-height: 80vh;
      overflow-y: scroll;
   }

   :global(.ant-picker-range) {
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      padding: 10px 35px;
      height: 48px;
   }
   :global(.ant-picker-focused) {
      border: 1px solid $primary;
   }

   :global(.ant-picker-active-bar) {
      background: $primary !important;
   }

   :global(.date-filters), :global(.tag-filters) {
      display: flex;
      gap: 10px;
      align-items: center;

      @media (max-width:767px) {
         margin-bottom: 10px;
         label {
            font-size: 0.8rem;
         }
      }
   }

   :global(.actions) {
      display: flex;
      justify-content: end;
   //    button {
   //       padding: 5px 15px;
   //       border: 0;
   //       background: radial-gradient(138.46% 137.77% at 53.14% -61.4%,#ffb494 0,#ff6c2c 100%);
   //       transition: .5s;
   //       text-decoration: none;
   //       color: #fff;
   //       border-radius: 50px;

   //       &:hover {
   //           background: #000;
   //       }
   //   }
   }
   
}