.posting_detail {
    display: flex;
    background: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 20px #eaeaea;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: .3s;
    padding: 10px 0 10px 12px;
    align-items: center;

    &:hover {
        border-color: #ff6c2c;
        color: #ff6c2c;
        box-shadow: 0 4px 20px #ffe3d7;
    }

    :global(.image) {
        flex-basis: 35%;
        img {
            max-width: 100%;
            border-radius: 18px;
            height: auto;
        }
    }

    :global(.description) {
        flex-basis: 65%;
        max-width: 65%;
        padding: 0 15px;
        align-self: normal;

        :global(.date_time) {
            display: flex;
            justify-content: space-between;

            @media (max-width:450px) {
                flex-direction: column;
                gap: 5px;
            }
        }

        :global(.title) {
            h3 {
                padding-top: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        
        :global(.divider) {
            margin: 10px 0%;
        }

        :global(.types) {
            label {
                opacity: 0.64;
                font-weight: 400;
            }

            div {
                font-weight: 700;
            }
        }

        :global(.actions) {
            display: flex;
            justify-content: flex-end;
            // button {
            //     padding: 5px 15px;
            //     border: 0;
            //     background: radial-gradient(138.46% 137.77% at 53.14% -61.4%,#ffb494 0,#ff6c2c 100%);
            //     transition: .5s;
            //     text-decoration: none;
            //     color: #fff;
            //     border-radius: 50px;

            //     &:hover {
            //         background: #000;
            //     }
            // }
        }
    }

    @media (max-width:767px) {
        :global(.image) {
            flex-basis: 25%;
            img {
                max-width: 100px;
                border-radius: 18px;
                height: auto;
            }
        }

        :global(.description) {
            flex-basis: 75%;
        }
    }

    @media (max-width:500px) {
        flex-direction: column;
        gap: 10px;
        :global(.image) {
            display: none;
        }

        :global(.description) {
            flex-basis: 100%;
            max-width: 100%;
        }
    }
}