


.button {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    :global(.confirm){
        width: 25%;
           a {
             border-radius: 40px;
             width: 100%;
             border: none;
             cursor: pointer;
             font-size: 0.8em !important;
             padding: 4px 0px;
             text-align: center;
             color:#fff;
             float:right;
             background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
          }
        }
}

.contain {
  :global(.emailPhone) {
    margin-top: 5px;
    color:rgba(0, 0, 0, 0.6) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    :global(.header) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a{
        color:#000 ;
        word-break: break-all;
      }
    }

    :global(.footer) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a{
        color:#000 ;
        word-break: break-all;
      }
    }
  }

  :global(.brderName){
    border: none !important;
  }

  :global(.bidsNote){
    font-size: 0.8em;
    overflow-y: scroll;
    height: 85px;
  }

}