@import "../../../styles/variables.scss";

.checkbox {
    label {
        display: flex;
        gap: 5px;
        cursor: pointer;
        font-family: $rgular-font;

        span {
            height: 22px;
            width: 22px;
            background-color: $primary;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
        }
    }
}