.testi_box {
    padding: 85px 85px;
    border-radius: 30px;
    h3{
        font-size: 24px;
        text-align: center;
        color: #fff;
    }
    @media screen and (max-width:1024px) {
        padding: 32px 88px;
    }
}

.maintesti_text p {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
    padding: 8px 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 1.6em;
}


.card_j {
    background-image: url(/images/about-us/Rectangle-j.png);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    min-height: 70px;
    background-size: cover;
    img {
        display: inherit !important;
        width: 18px !important;
    }
    h4 {
        color: white;
        margin-bottom: 0;
        display: inline;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            float: left;
            margin-right: 4px;
        }
    }
}

.slide_Icon {
    z-index: 99;
    position: absolute;
    float: right;
    right: 10%;
    bottom: 25px;
    @media  (min-width: 990px) and (max-width:1024px) {
        top: 680px;
   }
   @media (min-width: 768px) and (max-width: 990px) {
    top: 650px;
   }
}
.venue_slider_2 {
   background-image: url(/images/testimonial_bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 30px;
   padding-bottom: 50px;
}
.img_2_2 {
    img {
      margin-top: 40px;
      width: 60%;
    }
}
.img_1_2 {
   img {
    width: 70%;
    margin-left: 200px;
   }
}

.img_2 {
   img {
    width: 57%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 280px;
   }
}

.img_1 {
   img {
     width: 70%;
     margin-bottom: 20px;
  }
}

.logoContainer{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    align-items: center;
    justify-content: space-between;
    margin: 0  35px 0 0;
    &__logo {
      align-items: center;
      max-width: 185px;
    }
    @media (max-width:1280px) {
        margin: 0  30px 0 0;
    }
}
