
.header {

    :global(.btn-close) {
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
      }
}

.modal_body {
    max-height: 600px;
    overflow-y: scroll;
    

    :global(.imageArtist) {
      max-width: 80%;
      img {
        max-width: 80%;
        height: auto;
      }
     }

    :global(.message) {
        min-height: 80px;
        max-height: 80px;
        font-size: 0.8em;
        overflow-y: scroll;
        border-bottom: 1px solid rgba(255, 108, 44, 0.2);
        @media screen and (max-width:767px) {
            height: 40px;
        }
    }

    :global(.button){
       margin-top: 10px;
       display: flex;
       flex-direction: row;
       justify-content: space-between;

      
       :global(.profile){
           width: 25%;
          a {
            border-radius: 40px;
            width: 100%;
            border: none;
            cursor: pointer;
            text-align: center;
            font-size: 0.8em !important;
            padding: 4px 0px;
            color:#fff;
            float:right;
            background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #6A7382 0%, #6A7382 100%);
          }
        }

        :global(.contact){
            width: 25%;
            a {
              border-radius: 40px;
              width: 100%;
              border: none;
              cursor: pointer;
              font-size: 0.8em !important;
              padding: 4px 0px;
              text-align: center;
              color:#fff;
              float:right;
              background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #0060e6 0%, #0060e6 100%);
            }
       }

       :global(.confirm){
        width: 25%;
           a {
             border-radius: 40px;
             width: 100%;
             border: none;
             cursor: pointer;
             font-size: 0.8em !important;
             padding: 4px 0px;
             text-align: center;
             color:#fff;
             float:right;
             background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
          }
        }
 
    }

    :global(.addressImage) {
      img {
        margin-right: 3px;
      }
    }
}