@import "../../styles/variables.scss";

.pageHeader {
  background: #000000;
}

.pageSubHeader {
  font-size: 1.5em !important;
}
.pHead {
  padding: 90px 0;
  text-align: center;
 h1 {
  color: #fff;
  font-family: $rgular-font;
  font-size: 2em;
 }
}

.venue {
  font-size: 1em !important;
  @media (max-width:767px) {
    width: auto !important;
  }
}
.mpop {
  margin-top: -52px !important;
  @media (max-width:992px) {
    margin-top: -32px !important;
  }
}

.contct {
  @media (max-width:767px) {
    margin-bottom: 35px;
  }
}
.accordion_header{
  .questionBorber {
    &:focus {
    z-index: 3;
    border-color:none !important;
    outline: 0;
    box-shadow:none !important;
    }
  }
}

.questionBorber , .collapsed{
   border-bottom-right-radius:0 !important;
   border-bottom-left-radius: 0 !important;
   &:focus {
     border-color: none !important;
     box-shadow: none !important;
   }
}

.sec_head {
  margin-bottom: 55px !important;
  @media (max-width:767px) {
    margin-bottom: 35px !important;
  }
}

.p_name {
  @media screen and (max-width:767px) {
    width: 55% !important;
  }
}

