@import "../../../styles/variables.scss";

.menu_acts {
    a {
        color: $dark;
        transition: 0.5s;
        text-decoration: none;
        margin: 0 15px;

        &:hover,
        :focus {
            color: $primary;
        }
    }

    span {
        opacity: 0.5;
        font-size: 0.9em;
    }

    @media screen and (max-width: 992px) {
        display: none;
    }
}

.register_btn {
    a {
        color: $white;
        background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, $primary 100%);
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        padding: 15px 35px;
        margin-left: 0px;
        text-decoration: none;
        transition: 0.5s;

        &:hover,
        :focus {
            background: #000;
        }
    }

    @media screen and (max-width: 992px) {
        display: none;
    }
}

.gigt_nav {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 992px) {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    :global(.loginMenu) {
        @media (max-width: 992px) {
            display: none;
        }
    }
}

.navbar_brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;

    img {
        max-width: 100%;
    }
}

.active_route{
    color: $primary !important;
}

.main_navigation {
    li {
        a {
            transition: 0.5s;

            &:hover,
            :focus {
                color: $primary;
            }

            a.active {
                color: $primary;
            }
        }

        @media screen and (min-width:990px) and (max-width:1280px) {
            margin: 0px;
        }
    }
}

.dashboardIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.logoutIcon {
    margin-right: 10px;
}

.gigt_navDark {
    background: $dark;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 992px) {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    :global(.loginMenu) {
        @media screen and (max-width: 992px) {
            display: none;
        }
    }

}

.main_navigationDark {
    li {
        a {
            transition: 0.5s;
            color: $white;

            a.active {
                color: $primary;
            }

            &:hover,
            :focus {
                color: $primary !important;
            }

        }

        @media screen and (min-width:990px) and (max-width:1280px) {
            margin: 0px;
        }
    }
}

.menu_actsDark {
    a {
        color: $white;
        transition: 0.5s;
        text-decoration: none;
        margin: 0 15px;

        &:hover,
        :focus {
            color: $primary !important;
        }
    }

    .nav-link {

        &:hover,
        :focus {
            color: $primary !important;
        }
    }

    span {
        font-family: $rgular-font;
        opacity: 0.5;
        color: $white;
        font-size: 0.9em;
    }

    @media screen and (max-width: 992px) {
        display: none;
    }
}

.mobileMenu {
    border: none;

    :global(.navbar-toggler-icon) {
        background-image: url('/images/home/menu.png');
    }

    :global(.navbar-toggler-icon.dark) {
        background-image: url('/images/home/menu-white.png');
    }
}

.submenu {
    margin-top: 1em;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    a {
        color: $dark;
        transition: 0.5s;
        text-decoration: none;
        margin: 0 15px;
        &:nth-child(1) {
            margin-left: 0px;
        }

        &:nth-child(2) {
            margin-right: 0px;
        }
        &:hover,
        :focus {
            color: $primary !important;
        }
    }

    .nav-link {

        &:hover,
        :focus {
            color: $primary !important;
        }
    }

    span {
        font-family: $rgular-font;
        opacity: 0.5;
        color: $dark;
        font-size: 0.9em;
    }

   
    :global(.singup_button) {
        margin-top: 1em;
        a {
            color: $white;
            background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, $primary 100%);
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            padding: 15px 35px;
            margin-left: 0px;
            text-decoration: none;
            transition: 0.5s;
    
            &:hover,
            :focus {
                background: #000;
            }
        }
    }

    @media screen and (min-width: 992px) {
        display: none;
    }
}