
.evented_description {
    overflow-y: scroll;
    height: fit-content;
    font-size: 1em;
    height: 60px;
}

.tagsRow {
    :global(.show_thumb){
       font-family: "HarmoniaSansW01-Semibold";
       font-size: 1.1em;
       line-height: 1.3em;
       height: 100%;
       color: #000;
       float: left;
       transition: 0.5s;
       border: 1px solid rgba(255,108,44,.2);
       border-radius: 21px;
       &:hover {
        color:#FF6C2C;
       }

       img{
        height: 80px;
        padding: 20px;
       }
    }

    :global(.message-hold) {
        @media (min-width:992px) and (max-width:1280px){
            width: 50% !important;
        }
       
    }
}

.add_show {
    &:hover ,:focus{
        color: #fff;
    }
}