

.modalContentApprove {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    
    margin:auto;

    :global(.modal-footer){
        button {
            padding: 6px 25px;
        }
       :global(.btn-success){
           font-size: 16px;
       }
       :global(.btn-secondary){
        border: none;
    }
    }
}

.main_modal{
    width: 100%;
    display: flex;
    flex-direction: column;
    // background-color:aquamarine;
    justify-content: flex-start;

    & > div{
        width: fit-content;
        margin:auto;
        margin-top:20px;
        
    }
}