.modal {
    
  :global(.modal-dialog) {
      width: 650px !important;
      margin-top: 100px;

      @media (max-width:767px) {
        width: auto !important;
    }
     
  }

  

}

.modal_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;

    :global(.copyIcon) {
        border: 1px solid #ff6c2c;
        height: fit-content;
        cursor: pointer;
        padding: 10px;
        border-radius: 100px;
        margin-left: 10px;
        @media (max-width:767px) {
            margin: 10px 0px 10px 10px ;
        }
    }

    button {
        margin-left: 10px;
        svg {
            border-radius: 100px;
        }
        @media (max-width:767px) {
            margin-bottom: 10px;
            margin-left: 10px;
        }
    }
}

.header {
    padding-bottom: 0px ;
    align-items: center;

    h2 {
        padding-bottom: 0px;
    }
}