@import "../../styles/variables.scss";

.venue_card {
    width: 100%;
    background: $white;
    border: 1px solid $gray-bordered;
    box-shadow: 0 4px 20px #cccccc4f;
    border-radius: 20px;
    transition: .5s;
    padding: 20px;
    min-height: 180px;

    display: flex;
    gap: 20px;

    :global(.venue_image) {
        flex-basis: 25%;
        align-self: center;
        img {
            max-width: 100%;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            margin-right: 10px;
            width: 100%;
            max-width: 130px;
            object-fit: cover;
            max-height: 180px;
            height: auto;
        }
    }

    :global(.venue_detail) {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex-basis: 75%;
        justify-content: space-between;
        overflow: hidden scroll;

        :global(.venue_title) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-family: $semibold-font;
            font-size: 18px;
            flex-wrap: nowrap;
            gap: 5px;

            :global(.venue_name) {
                flex-basis: 90%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
                color: $dark;

                &:hover {
                    color: $primary;
                }
            }

            span {
                flex-basis: 10%;
                cursor: pointer;

                &:hover,
                &:focus {
                    svg {
                        circle {
                            stroke: $primary;
                        }

                        path {
                            fill: $primary;
                        }
                    }

                    opacity: 0.8;
                }

                @media screen and (max-width:500px) {
                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            @media screen and (max-width:500px) {
                font-size: 14px;
            }
        }

        :global(.venue_desc) {
            max-height: 50px;
            overflow: hidden scroll;
            font-size: 14px;
            &::-webkit-scrollbar {
                width: 4px;
            }

            @media screen and (max-width:500px) {
                font-size: 10px;
            }
        }

        :global(.venue_phone_location) {
            display: flex;
            gap: 5px;
            width: 100%;

            :global(.venue_location),
            :global(.venue_phone) {
                flex-basis: 50%;
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: flex-start;

                svg {
                    min-width: 33px;
                    @media (max-width:500px) {
                        min-width: 25px;
                    }
                }

                :global(.location),
                :global(.phone) {
                    flex-wrap: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 12px;
                    max-height: 35px;
                    overflow: hidden scroll;
                    &::-webkit-scrollbar {
                        width: 4px;
                    }
                }
            }

            @media (max-width:500px) {
               flex-direction: column;
            }
        }
    }

    &:hover {
        border-color: $primary;
        background-color: #FFF8F6;
    }

    @media (max-width:500px) {
        flex-direction: column;
        :global(.venue_image) {
            flex-basis: 100%;
        }

        :global(.venue_detail) {
            flex-basis: 100%;
            width: 100%;
        }
     }
}