@import '../../styles/variables.scss';

.container {

   padding-top: 20px;

   :global(.postings) {
      padding-bottom: 20px;

      max-height: 80vh;
      overflow-y: scroll;
   }

   ul {
      background: #E3E3E3 !important;
      padding: 8px;
      border-radius: 8px;
      line-height: 1.7em;
      margin-bottom: 20px;

      li {
         margin: 0 5px;

         a {
            border-radius: 6px;
            color: #000000;
            padding: 5px 20px;
            font-size: 0.8em;

            &:hover {
               background-color: #fff !important;
               color: #000000 !important;
               box-shadow: 17px 11px 8px rgba(0, 0, 0, 0.01), 9px 6px 7px rgba(0, 0, 0, 0.05), 4px 3px 5px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            }

            &:active {
               background-color: #fff !important;
               color: #000000 !important;
               box-shadow: 17px 11px 8px rgba(0, 0, 0, 0.01), 9px 6px 7px rgba(0, 0, 0, 0.05), 4px 3px 5px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

            }
         }

      }
   }

   @media (max-width:767px) {
      padding-top: 20px;
   }
}