.show_indi_cards{
    padding-left: 0 !important;


    :global(.foots) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.artist_Name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .artist {
        font-size: 0.9em;
        color: #858585;
        margin-right: 6px;
    }
    .name {
        color: #000;
        font-family: "HarmoniaSansW01-Semibold";
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover ,:focus {
            color: #ff6c2c;
        }
    }
    
}
.format_Name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .artist {
        font-size: 0.9em;
        color: #858585;
        margin-right: 6px;
    }
    .name {
        color: #000;
        font-family: "HarmoniaSansW01-Semibold";
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}
.venue_name{
    font-family: "HarmoniaSansW01-Semibold";
    font-size: 1em;
    margin-top: 10%;
    margin: 10px 0px;
    float: left;
    align-items: center;
    transition: 0.5s;
    color:#000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
    color:#000; 
    &:hover ,:focus {
        color: #ff6c2c;
     }
    }
   
}

.topHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6%;
    color: #858585;
    font-size: 0.8em;

    @media (max-width:440px) {
        flex-direction: column;
        align-items: flex-start;

        div{
            margin-top: 5px;
        }
    }
}

.image {
    img {
        max-width: 100%;
        height: auto;
        @media (max-width:580px) {
            display: none;
        }
    }
}


.show_meta {
    align-self: normal;
}
.sshare {
    float: left;
}

.shareIcon {
    &:hover {
      border-radius: 100%;
      background-color: #ff6c2c;
      stroke: white;
    }
  }

  .deleteIcon {
      float:right;
      margin-left: auto;
  }