.header {
    border: none;
}

.modal_body{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    :global(.display-table){
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid gray !important;
       
        div{
            width: 100%;
        }
        input {
            padding-left: 10px;
            width: 100%;
            border: none !important;
            font-size: 20px;
            position: relative;
            &:focus-visible {
                outline: none !important;
            }
        }
    }
    :global(.googleMap){
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 300px;
        border: 1px solid gray;
         border-radius: 50%;
        border:  10px solid #f1f1f1;

        div:nth-child(1){
            height: 100% !important;
            width: 100% !important;
            border-radius: 50% !important;
            
          }

    }

    :global(.submitbutton){
        margin-top: 20px;
        
        button {
            border: none;
            background-color:#FF6C2C;
            color: #fff;
            border-radius: 6px;
            padding: 10px 50px;
            &:hover ,:focus {
            background-color:#000;
            color: #fff;
            }
        }
    }

}