.add_show{
    &:hover ,:focus{
        color: #fff;
    }
    @media (max-width: 767px){
       padding: 8px 20px !important;
       margin-bottom: 0px;
       font-size: 0.8em !important;
   }
}

.embedCodeCard {

    :global(.title-2){
        border: 1px solid rgba(255, 108, 44, 0.2);
        max-height: 98px;
        padding: 5px;
        font-size: 16px;
        line-height: 1.5em;
        border-radius: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    :global(.cardRows) {
        display: flex;
        align-items: center !important;
        justify-content: center;
    }

    :global(.title){
        font-family: "HarmoniaSansW01-Semibold";
        font-size: 0.9em;
        line-height: 1.3em;
        height: auto;
        border-bottom: none !important;
        margin-top: 10px;
        float: left;
        width: 100%;
        transition: 0.5s;
    }

    :global(.deleteButton) {

        img{
            float: right;
        }
    }

}

.tagsRow {

    :global(.title) {
        font-family: "HarmoniaSansW01-Semibold";
        font-size: 1em;
        line-height: 1.3em;
        height: auto;
        border-bottom:none;
        margin-top: 8px;
        float: left;
        width: auto;
        transition: 0.5s;
    }

    :global(.tagContent) {
        border-bottom: 1px solid rgba(255, 108, 44, 0.2);

        :global(.EleTag) {

            @media (min-width:992px)and  (max-width:1280px) {
                padding: 0px 12px;
            }
        }
    }

    :global(.Header) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid rgba(255, 108, 44, 0.2);
    }

    :global(.approve-btn) a {
        // border: none;
        // cursor: pointer;
        // margin: 0;
        // margin-top: 5px;
        // font-size: 0.8em !important;
        // padding: 4px 26px;
        // color: #fff;
        // float: right;
        // background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);

        // &:hover ,:focus {
        //     background: #000;

        // }
    }
}