@import '../../styles/variables.scss';

.account_box{
   padding:0px 150px 100px 150px;
   @media screen and (max-width: 1280px)
  {
    padding: 0px;
    }
    @media (min-width: 576px){
        flex: 0 0 auto;
        width: 50%;
    }

}
.abLbl {
  @media (max-width: 576px){
   h3{
     font-size: 26px !important;
     
  }
  }
  p {
    color:#8D8D8D;
    font-size: 16px;
  }
  text-align:center;
  font-size: 24px;
}
.fbSign {
    text-align: center;
    margin-top: 40px;
    padding: 0;
    img{
      max-width:100%;
    }
    @media screen and (max-width: 767px) {
    margin-top: 20px;
    font-size: large;
      }
}
.orline{
    color:#8D8D8D;
    text-align:center;
    margin:20px 0;
}
.formB {
   
    img{
     max-width:100%;
    }
    &_fieldH { 
      
      @media screen and (max-width: 767px) {
        font-size: 16px;
          }
      font-size: 16px;
        margin-bottom:20px;
        float:left;
        width: 100%;
        label {
            text-align:left;
            width:100%;
            float:left;
            color:#000;
            font-family: $rgular-font;
            font-size:0.8em;
            margin-bottom:3px;
        }
        .input{
            width:100%;
            height:52px;
            float:left;
            border: 1px solid rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            padding:10px 15px; 
            font-size:0.8em;
            :focus-visible{
                    border-color:rgba(255, 180, 148, 1);
                }
        }
        .button {
             font-family: $semibold-font;
             color:#fff;
             background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
             -webkit-border-radius: 100px;
             -moz-border-radius: 100px;
             border-radius: 100px;
             padding:16px 69px;
             text-decoration:none;
             transition:0.5s;
             border:0px;
             &:hover, :focus{
                background:#000;
             }
        }
        .formLnk {
            text-decoration:none;
            color:rgb(0,0,0,0.5);
            transition:0.5s;
            font-size:0.9em;
        }
        a{
            &:hover, :focus{
                color: #FF6C2C;;
            }
        }
    }
}  
.about{
    font-size: 10px;
} 


.lineThrough {
 
    display: flex;
    flex-direction: row;
  }
  .lineThrough:before, .lineThrough:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  .lineThrough:before {
    margin-right: 10px
  }
  .lineThrough:after {
    margin-left: 10px
  }
  .borderDiv{
    @media screen and (min-width: 767px) {
      width:515px;
    line-height: 19px;
    font-size: 25px;
    
  }
    @media screen and (max-width: 767px) {
    font-size: 20px;
    
  }
    font-size: 30px;
  }
  .lineThrough{
  font-size: smaller;
  }
  .main_box{
    display: flex;
    justify-content: center;
  }
  .lineThrough {
    @media screen and (min-width: 767px) {
    font-size: 15px;
    
  }
  }

  .submitBtn{
    display:flex;
    justify-content: center;
  }





