@import "../../styles/variables.scss";

.bids_box {
    width: 100%;
    background: $white;
    border: 1px solid $gray-bordered;
    box-shadow: 0px 4px 20px #eaeaea;
    border-radius: 10px;
    padding: 10px 0px;
    margin-bottom: 15px;
    transition: 0.5s;
    padding-left: 12px;

    max-height: 400px;
    overflow: hidden scroll;

    &::-webkit-scrollbar {
        width: 4px;
    }
}

.bid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    font-family: $rgular-font;

    :global(.bid__desc) {
        display: flex;
        gap: 10px;
        img {
            width: 100%;
            max-width: 115px;
            height: auto;
            border-radius: 10px;
        }

        :global(.bid__information){
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            :global(.bid__information__name) {
                display: flex;
                justify-content: space-between;
                width: 100%;

                label {
                    color: $primary;
                }

                @media screen and (max-width: 450px) {
                    flex-direction: column;
                    gap: 10px;
                }
            }

            p {
                max-height: 75px;
                overflow: hidden scroll;
                &::-webkit-scrollbar {
                    width: 4px;
                }
            }
            
        }

        @media screen and (max-width: 450px) {
            flex-direction: column;
            img {
                display: none;
            }
        }
    }

    :global(.bid__info) {
        display: flex;
        justify-content: space-around;
        gap: 10px;

        label {
            color: $mute-text;
        }

        :global(.email), :global(.phone) {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            a {
                color: $dark;
            }
        }

        @media screen and (max-width: 450px) {
            flex-direction: column;
            gap: 10px;
            
            :global(.email), :global(.phone) {
                flex-basis: 100%;
            }
        }
    }

    :global(.bid__actions) {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}