
.artistlocale{
   display: none;
   @media screen and (max-width:767px) {
    display: block;
   }
   @media (min-width:768px) and (max-width:992px) {
      display: block;
     }
}

.textAreaField{
   border-radius: 6px;
   width: 100%;
   position: relative;
   background-color: #fff;
   border: 1px solid #d9d9d9;
   padding: 10px;
   font-size: 16px;
   @media screen and (max-width:767px) {
      font-size: 14px;
   }
}
.uploadSongs{
   box-sizing: border-box;
   height: 229px;
   // width: 100%;
   top: 294px;
   background: #FFFFFF;  
   border: 1px dashed #FF6C2C;
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.artistPhoto {
   box-sizing: border-box;
   max-width: 902px;
   height: 229px;
   left: 757px;
   top: 294px;
   background: #FFFFFF;
   display: flex;
   cursor: pointer;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px dashed #FF6C2C;
   border-radius: 16px;
   img {
      max-height: 65px;
      max-width: 65px;
   }
   span {
   color:#FF6C2C;
  }
}
.photosList{
   width: 48%;
   height: 70px;
   padding: 16px;
   margin-right: 10px;
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
   background: #F4F4F4;
   border-radius: 12px;
   &__ImageName {
      display: flex;
      overflow: hidden;
      flex-direction: row;
      align-content: space-between;
      align-items: center;
      justify-content: space-between;
      .image {
         max-width: 60px;
         max-height: 50px;
      img{
         border-radius: 10px;
            max-height: 50px;
            max-width: 60px;
      }
      }
      .name {
         p {
            margin: 0;
            padding: 0;
         font-weight: 400;
         width: 250px;
         font-size: 16px;
         line-height: 19px;
         color: #000000;
      }
    span  {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
     color: #000000;
     opacity: 0.5;
   }
}
   }
   @media (max-width:992px) {
      width: 100%;
      margin-right: 0;
   }
}

.listContainer {
   width: 100%;
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   padding: 20px 0;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;

   :global(.photos_List) {
      position: relative;
      border-radius: 10px;
      margin: 20px 0;
         img {
            height: 180px;
            width: 250px;
            border-radius: 10px;

           
         }
         @media  (max-width:520px) {
            margin-left: auto;
            margin-right: auto;
         }

         @media (min-width:600px) and (max-width:900px) {
            margin-left: auto;
            margin-right: auto;
         }
   }
}
.deleteIcons {
   float: right;
   cursor: pointer;
}

.deleteIcon {
   float: right;
   cursor: pointer;
   margin-left: auto;
   
   position: absolute;
   top: 3%;
   right: 2%;

   svg {
      circle {
         fill: blanchedalmond !important;
      }
   }
}

.cityStContry {
 span {
    font-size: 15px !important;
 }
}

.deactiveMainFiled {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 20px;

   :global(.de-active) {
      margin-top: 20px;
      button {
         background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #ffb494 0%, #ff6c2c 100%);
         border-radius: 100px;
         border: 1px solid transparent;
         color: #fff;
         font-family: "HarmoniaSansW01-Semibold";
         font-size: 16px;
         padding: 10px 52px;
         float: right;
         transition: 0.5s;
         &:hover ,:focus {
            background: #000;
            color: white;
         }
      }
      p {
         text-align: center;
         font-size: 1em;
         line-height: 1.6em;
         color: rgba(0, 0, 0, 0.5);
         width: 100%;
      }  
    }
   :global(.Remove) {

      button {
         padding: 10px 52px;
         background: white;
         border-radius: 100px;
         color: #DA2424;
         border-color: #DA2424;
         border: 1px solid;

         &:hover ,:focus {
            background-color: #DA2424;
            color: white;
         }
      }
   }
}

.videoBox {
   display: flex;
   justify-content: center;
   align-items: center;
   // margin: 20px;
   margin-top: 20px;
   :global(.frameVideo) {
      border-radius: 20px;
      width: 268px;

      @media (max-width:767px) {
         width: auto;
         margin: 0px;
         margin-top: 20px;
      }
   }
}

.preview_file {
   width: 50%;
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   padding: 20px 0;
   flex-wrap: wrap;
   align-content: space-between;
   justify-content: space-between;


   :global(.preview-container) {
      width: 100%;
      height: 70px;
      padding: 16px;
      margin-right: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      background: #F4F4F4;
      border-radius: 12px;
      position: relative;
   }

}
.uploaded {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.gigVanity {
 padding-top: 7px;
   :global(.ant-input-group){
       
         :global(.ant-input-group-addon) {
            font-size: 16px !important;
            border: none !important;
            padding-right: 0 !important;
         }

         :global(.ant-input) {
            font-size: 16px !important;
            border: none !important;
            padding-left: 0px !important;
            box-shadow: none !important;

            &:focus {
               box-shadow: none !important;
            }
         }
   }

}