.pageHeader {
    background-image: url('/images/phead-bg.webp');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;

    :global(.pHead) {
        padding: 50px 0;
        text-align: center;
    }

    @media (min-width: 1900px) {
        background-size: 100%;
    }
}

.about_us_top {
    position: relative;


    :global(.organize-gig-left) {
        position: absolute;
        top: 50%;
        opacity: 0.3;
    }

    :global(.organize-gig-right) {
        position: absolute;
        top: 5%;
        right: 0;
        opacity: 0.3;
    }

    :global(.about-us-head) {
        padding: 0px 50px 0px 50px;

        @media (min-width: 1520px) and (max-width: 1940px) {
            padding: 30px 30px 0px 30px;
        }

        @media screen and (max-width: 775px) {
            padding: 0px;
            text-align: justify;
        }

        h2 {
            text-align: center;
            font-size: 1.9em;
            line-height: 30px;
        }

        p {
            text-align: center;
            color: #000;
        }
    }

    :global(.about-us-btn) {
        padding-top: 40px;
    }
}

.colored {
    padding: 0px 10px;

    :global(.about-us-second) {
        justify-content: center;
        // background: #000;
        margin-top: 60px;
        background-image: linear-gradient(10deg, hsl(261deg 100% 84%) 0%, hsl(167deg 75% 91%) 32%, hsl(120deg 100% 100%) 80%, hsl(0deg 0% 100%) 100%);
        border-radius: 40px;

        @media screen and (max-width: 775px) {
            margin-top: 0px;
            // padding: 0px;
        }
    }

    :global(.a-heading) {
        padding: 0px 100px 0px 150px;

        h2 {
            font-size: 2em;
            line-height: 35px;
        }

        @media screen and (max-width: 767px) {
            padding: 0px;
            text-align: center;
        }

        @media screen and (min-width:768px) and (max-width: 776px) {
            padding: 0px 50px 0px 50px;
        }

        @media (min-width: 776px) and (max-width: 1240px) {
            padding: 0px 50px 0px 55px;
        }
    }

    :global(.a-para) {
        padding: 0px 150px 0px 50px;

        p {
            color: #000;
            font-size: 1em;

            @media screen and (max-width: 775px) {
                font-size: 0.9em;
            }
        }

        @media screen and (max-width: 775px) {
            padding: 0px;
        }

        @media (min-width: 775px) and (max-width: 1240px) {
            padding: 0px 70px 0px 0px;
        }
    }

    :global(.card-deck) {
        margin: 0px 40px 0px 40px;
        padding-bottom: 15%;

        @media screen and (max-width: 1225px) {
            padding-bottom: 20%;
        }

        @media screen and (max-width: 768px) {
            margin: 0px;
            padding-bottom: 20%;
        }

        // @media (min-width: 515px) and (max-width: 1240px) {
        //     padding-bottom: 20%;
        // }
    }

    :global(.card) {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        border-radius: 40px;
        margin: 50px;

        @media (max-width: 775px) {
            border-radius: 20px;
            margin: 5px;
            height: 200px;
        }

        @media (min-width: 776px) and (max-width: 1240px) {
            margin: 0;
        }
    }

    :global(.flex-size-1) {
        flex: 1;
        text-align: right;
    }

    :global(.card-body) {
        flex: 1 1 auto;
        padding: 1rem 1rem;
        margin-top: -30%;
        padding: 27px;

        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-end;

        // @media (min-width: 1520px) and (max-width: 1940px) {
        //     padding: 1rem 1rem;
        //     margin-top: -15%;
        //     padding: 40px;
        // }

        // @media (min-width: 515px) and (max-width: 1240px) {
        //     padding: 1rem 1rem;
        //     margin-top: -10%;
        // }

        h2 {
            font-size: 2em;
        }

        @media screen and (max-width: 768px) {
            margin-top: -40%;
        }

        @media screen and (max-width: 600px) {
            margin-top: -40%;
        }
        
    }

    :global(.a-design-l) {
        img {
            position: absolute;
            margin-left: -30%;

            @media screen and (max-width: 975px) {
                margin-left: -40%;
            }
        }

        @media screen and (max-width: 775px) {
            display: none;
        }
    }

    :global(.a-design-r) {
        img {
            float: right;
            margin-top: -10%;
        }

        @media screen and (max-width: 775px) {
            display: none;
        }
    }
}

.photoss {

    :global(.a-concert) {
        padding: 20px;

        img {
            width: 100%;
            margin-top: -25%;
            padding: 0px;
            border-radius: 60px;
            height: auto;

            @media screen and (max-width: 775px) {
                width: 80%;
                height: 230px;
                margin-top: -18%;
                padding: 0px;
                border-radius: 20px;
            }
        }

    }

    :global(.box-f) {
        @media screen and (max-width: 775px) {
            display: flex;
            text-align: center;
        }
    }

    :global(.white-dots) {
        margin-top: -15%;

        @media screen and (max-width: 775px) {
            display: none;
        }
    }
}

.about_us_mission {
    position: relative;

    padding-top: 50px;

    @media screen and (max-width: 775px) {
        padding-top: 0px;
    }

    :global(.blue-l) {
        padding-top: 5%;
        position: absolute;

        @media screen and (max-width: 775px) {
            display: none;
        }
    }

    :global(.beige-r) {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -10%;
        padding-left: 5%;
        
        @media screen and (max-width: 1240px) {
            display: none;
        }

        img {
            height: auto;
        }
    }

    :global(.mission) {
        padding: 0px 80px 20px 80px;

        h2 {
            font-size: 1.8em;
        }

        p {
            color: #000;
        }

        :global(.rectangle) {
            margin-top: 50px;
            height: 5px;
            width: 30px;
            background-color: #FF6C2C;
        }

        hr {
            margin: 0;
        }

        @media screen and (max-width: 775px) {
            padding: 10px !important;
        }

        @media (min-width: 515px) and (max-width: 1240px) {
            padding: 0px 40px 20px 40px;
        }
    }

    :global(.vision) {
        padding: 0px 80px 20px 80px;

        h2 {
            font-size: 1.8em;
        }

        p {
            color: #000;
        }

        :global(.rectangle) {
            margin-top: 50px;
            height: 5px;
            width: 30px;
            background-color: #FF6C2C;
        }

        hr {
            margin: 0;
        }

        @media screen and (max-width: 775px) {
            padding: 10px !important;
        }

        @media (min-width: 515px) and (max-width: 1240px) {
            padding: 0px 40px 20px 40px;
        }
    }
}

.back_g {
    padding: 0px 80px 80px 80px;

    @media screen and (max-width: 775px) {
        padding: 0px;
    }

    :global(.curious) {
        background-image: url(/images/about-us/curious.png);
        width: 100%;
        background-repeat: no-repeat;
        border-radius: 40px;
        justify-content: center;
        background-size: cover;

        h2 {
            padding: 40px 20px 10px 20px;
            font-size: 1.8em;

            @media screen and (max-width: 775px) {
                padding: 20px 20px 10px 20px;
                font-size: 1.8em;
            }
        }

        p {
            padding: 0px 20px 0px 20px;
            color: #000;
            font-size: 1.2em;
        }

        @media (max-width: 767px) {
            border-radius: 70px;
        }
    }

    :global(.about-btn) {
        float: left;
        margin-bottom: 20px;
        margin-top: 40%;
        margin-left: -10%;
        // float: left;

        @media (min-width: 515px) and (max-width: 750px) {
            margin-bottom: 20px;
            float: left;
            margin-left: 15px;
            margin-top: 0;
        }

        @media (min-width: 750px) and (max-width: 1300px) {
            float: left;
            margin-bottom: 20px;
            margin-top: 70%;
            margin-left: -120%;
        }


        @media (max-width: 516px) {
            margin-bottom: 20px;
            margin-top: 0%;
            margin-left: 5%;
        }

        :global(.button) {
            color: #fff;
            background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            padding: 14px 70px;
            text-decoration: none;
            transition: 0.5s;
            border: 0px;
            font-family: "HarmoniaSansW01-Semibold";

            &:hover,
            :focus {
                background: #000;
            }
        }
    }

}

.storySection {
    :global(.freckles) {
        margin-top: 23%;

        @media screen and (max-width: 775px) {
            display: none;
        }
    }

    :global(.blue-party) {
        img {
            width: 100%;
            margin-top: -15%;
            height: auto;
        }
    }

    :global(.about-bottom) {
        h2 {
            font-size: 1.8em;
        }

        p {
            color: #000;
        }
    }
}