.modalStyle {

    :global(.GigExperience){
        h2 {
            text-align: center;
            
            font-size: 1.2em;
        }
    }

    :global(.des) {
        p {
            text-align: justify;
            font-size: 0.9em;
            color:rgb(0, 0, 0, 0.4);
        }
    }
}

.header {

    h1 {
        margin: 0 auto !important;
        font-size: 1.8em;
    }
    
    button {
        margin-left: 0 !important;
    }
}
.main_form{
    width: 100% !important;
    height:100% !important;
    margin-top: 0px;
    font-size: 1.1em !important;
    float:none !important;

    & > fieldset{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > fieldset > div{
        width:100% !important;
        

        @media (max-width: 576px){
            width:100% !important;
            
        }
    }
    :global(.field-row){
        margin-bottom: 8px !important;
    }
}

.select_field{
    .inputField {
        font-family: "HarmoniaSansW01-Semibold" !important;

        :global(.ant-select-selector){
            border: 2px solid #1B1B1B !important;
            box-shadow: none !important;
            &:focus{
                border: 1px solid #000 !important;
                border-color: #000 !important;
                box-shadow: 0 0 0 1px #000 !important;
            }
            &:focus-visible {
                border: 2px solid #1B1B1B !important;
                box-shadow: none !important;
            }
        }
        :global(.ant-select-focused){
            border: 2px solid #1B1B1B !important;
            box-shadow: none !important;
        }
    }
    & > *{
        width:100% !important;
        
    }
}

.label{
    font-family: "HarmoniaSansW01-Semibold";
    font-size: 16px !important;
}
.textAreaField {
    font-size: 16px !important;
}