@import "../../styles/variables.scss";

.show_filter {
    display: flex;
    width: 100%;
    gap: 2%;

    div:nth-child(1) {
        flex-basis: 60%;
    }

    div:nth-child(2) {
        flex-basis: 40%;
    }

    input {
        background-color: $white;
        border: 1px solid $grey-200;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        padding: 10px 35px;
        background: url('/images/general/search-icon.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 10px;
        width: 100%;
        max-width: 100%;
    }

    ul {
        background: $grey-400;
        padding: 5px;
        border-radius: 8px;
        line-height: 1.7em;

        li {
            margin: 0 3px;

            a {
                border-radius: 6px;
                color: $dark;
                padding: 5px 20px;
                font-size: 0.8em;

                &:hover {
                    background-color: $white !important;
                    color: $dark !important;
                    box-shadow: 17px 11px 8px rgba(0, 0, 0, 0.01), 9px 6px 7px rgba(0, 0, 0, 0.05), 4px 3px 5px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
                }

                &:active {
                    background-color: $white !important;
                    color: $dark !important;
                    box-shadow: 17px 11px 8px rgba(0, 0, 0, 0.01), 9px 6px 7px rgba(0, 0, 0, 0.05), 4px 3px 5px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

                }
            }

        }
    }

    @media screen and (max-width:1342px) {
        div:nth-child(1) {
            flex-basis: 55%;
        }

        div:nth-child(2) {
            flex-basis: 45%;
        }
    }

    @media screen and (max-width:1280px) {
        flex-direction: column;

        div:nth-child(1) {
            margin-bottom: 15px;
        }

        div {
            flex-basis: 100%;
        }
    }
}

.swap_row {

    @media (min-width: 768px) and (max-width: 990px) {
        display: flex;
        flex-direction: column-reverse;
    }

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.search_form {
    width: 49%;
    float: left;

    input {
        background-color: $white;
        border: 1px solid $grey-200;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        padding: 10px 35px;
        background: url('/images/general/search-icon.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 10px;
        width: 100%;
        max-width: 100%;
    }

    @media screen and (max-width:767px) {
        width: 100%;
    }

    @media (min-width:768px) and (max-width:990px) {
        width: 100%;
    }

    &__srchCnt {
        color: rgba(176, 176, 176, 1);
        margin: 10px 0;

        span {
            color: $dark;
        }

        @media (min-width:1025px) and (max-width:1280px) {
            font-size: 0.9em;
        }

        @media screen and (min-device-width: 1281px) and (max-device-width: 1600px) {
            font-size: 0.9em;
        }
    }
}


.show_tabs {
    width: 49%;
    float: right;

    ul {
        background: $grey-400;
        padding: 5px;
        border-radius: 8px;
        line-height: 1.7em;

        li {
            margin: 0 5px;

            a {
                border-radius: 6px;
                color: $dark;
                padding: 5px 20px;
                font-size: 0.8em;

                &:hover {
                    background-color: $white !important;
                    color: $dark !important;
                    box-shadow: 17px 11px 8px rgba(0, 0, 0, 0.01), 9px 6px 7px rgba(0, 0, 0, 0.05), 4px 3px 5px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
                }

                &:active {
                    background-color: $white !important;
                    color: $dark !important;
                    box-shadow: 17px 11px 8px rgba(0, 0, 0, 0.01), 9px 6px 7px rgba(0, 0, 0, 0.05), 4px 3px 5px rgba(0, 0, 0, 0.09), 1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

                }
            }

        }
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    @media (min-width: 768px) and (max-width: 990px) {
        width: 100%;
    }
}


.shows_card {
    float: left;
    width: 100%;
    max-height: 730px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 7px;

    &__card {
        // display:block;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: $white;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

    @media screen and (max-width: 912px) {
        max-height: 365px;
    }

    @media screen and (max-width: 600px) {
        max-height: 435px;
    }

}


.show_indi_card {
    float: left;
    width: 100%;
    background: $white;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 4px 20px #EAEAEA;
    border-radius: 10px;
    padding: 10px 0px;
    margin-bottom: 15px;
    transition: 0.5s;
    padding-left: 12px;

    &:hover,
    :focus {
        border-color: $primary;
        color: $primary;
        box-shadow: 0px 4px 20px #FFE3D7;

        .date_time {
            color: $dark !important;

            div:nth-child(1) img {
                content: url('/images/home/calendar-black.png');
            }

            div:nth-child(2) img {
                content: url('/images/home/clock-black.png');
            }
        }
    }

    &__show_thumb {
        position: relative;
        text-align: center;
        color: white;

        img {
            max-width: 100%;
            border-radius: 10px;
            object-fit: cover;
            max-height: 135px;
            width: 100%;
            height: auto;
        }

        span {
            position: absolute;
            bottom: 3px;
            left: 10px;
            // width: 100%;
            font-size: 0.8em;

            img {
                margin-bottom: 0px;
                width: 20px;
            }
        }
    }

    &__show_meta {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .mt {
            font-size: 0.9em;
            color: $grey-700;

            @media screen and (min-width: 1281px) and (max-width: 1600px) {
                font-size: -0.4em;
            }
        }

        .artname {
            color: $dark;
            font-family: $semibold-font;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                color: $primary;
            }
        }

        .sfonts {
            font-size: 0.75em;
        }

        .calc {
            // display:flex;
            margin-right: 20px;
            float: left;
            width: auto;

            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }

        .clock {
            text-align: right;

            @media screen and (max-width: 1140px) {
                width: 100%;
            }
        }

        .title {
            font-family: $semibold-font;
            font-size: 1em;
            // line-height:1.1em;
            height: 40px;
            border-bottom: 1px solid rgba(255, 108, 44, 0.2);
            margin: 5px 0px;
            float: left;
            width: 100%;
            transition: 0.5s;
            color: black;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                color: $primary;
            }
        }
    }
}

.dateTime {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between
}

.new {
    min-width: 50%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.thumbImg {
    border-radius: 10px !important;
}


.show_count {
    color: rgba(176, 176, 176, 1);
    font-size: 1em;
    margin: 5px 0;

    span {
        color: $dark;
    }
}

.date_time {
    display: flex;
    align-items: center;
    gap: 10%;
    color: $grey-700;
    font-size: 1em;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
    }
}