@import '../../styles/variables.scss';

.account_box{
   padding:0px 150px 100px 150px;
   display: flex;
   justify-content: center;
   
   @media screen and (max-width: 1280px)
  {
    padding: 0px;
    }
    @media (min-width: 576px){
        flex: 0 0 auto;
        width: 50%;
    }

}
.abLbl {
    @media (max-width: 576px){
     h3{
       font-size: 26px !important;
       
    }
    }
    p {
      color:#8D8D8D;
      font-size: 16px;
    }
    text-align:center;
    font-size: 24px;
  }
.fbSign {
    text-align: center;
    margin-top: 40px;
    padding:0;
    img{
      max-width:100%;
    }
    @media screen and (max-width: 767px) {
    margin-top: 20px;
      }
}
.orline{
    color:#8D8D8D;
    text-align:center;
    margin:20px 0;
}
.formB {
   
    img{
     max-width:100%;
    }
    &_fieldH { 
        margin-bottom:20px;
        float:left;
        width: 100%;
        font-size:14px;
        label {
            text-align:left;
            width:100%;
            float:left;
            color:#000;
            font-family: $rgular-font;
            font-size:14px;
            margin-bottom:3px;
        }
        .input{
            width:100%;
            float:left;
            border: 1px solid rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            padding:10px 15px;
            font-size:14px;
            :focus-visible{
                    border-color:rgba(255, 180, 148, 1);
                }
        }
        .button {
             font-family: $semibold-font;
             font-size: 16px;
             color:#fff;
             background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
             -webkit-border-radius: 100px;
             -moz-border-radius: 100px;
             border-radius: 100px;
             padding:16px 70px;
             text-decoration:none;
             transition:0.5s;
             border:0px;
             &:hover, :focus{
                background:#000;
             }
        }
        .formLnk {
            text-decoration:none;
            color:rgb(0,0,0,0.5);
            transition:0.5s;
            font-size:0.9em;
        }
        a{
            &:hover, :focus{
                color: #FF6C2C;;
            }
        }
    }
}   

.formFl{
    display: flex;
    flex-direction: row;
    width: 100%;
    &__firstInput{
        margin-right: 10px;
        width: 50%;
        @media  (max-width:797px) {
            margin: 0;
          width: 100%;
       }
    }
    &__lastInput{
        width: 50%;
        @media  (max-width:797px) {
            margin: 0;
          width: 100%;
       }
    }
    div{
        @media  (max-width:797px) {
            width: 100%;
        }
    }
    @media  (max-width:797px) {
        flex-direction: column;
        width: 100%;
    }
    @media (max-width:1280px) {
        width: 100%;
    }
}
.mainBox{
    align-items: center;
    justify-content: center;
}

.lineThrough {
    display: flex;
    flex-direction: row;
    font-size: 14px;
  }
  .lineThrough:before, .lineThrough:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  .lineThrough:before {
    margin-right: 10px
  }
  .lineThrough:after {
    margin-left: 10px
  }

.makeOffer{
    margin-bottom: 0;
    font-size: 13px;
}
.formFl__firstInput{
    @media  (max-width:797px) {
        margin-bottom: 20px; ;
    }
}
.borderDiv{
    @media screen and (min-width: 767px) {
        min-width:515px;
    //   width:515px;
    line-height: 19px;
    
  }
    line-height: 19px;
    @media screen and (max-width: 767px) {
    font-size: 20px;
    
  }
    font-size: 24px;
  }

.fbSign{
    padding:0;
}

.centerDiv{
  display: flex;
  justify-content: center;
}