.join_bg {
    background-image: url(/images/about-us/join-bg.png);
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 5%;
    display: flex;
    p {
        padding: 18px 0px 10px 10px;
        color: #fff;
        margin: 0;
    }
    h3 {
        padding: 30px 10px 0px 0px;
        color: white;
        margin: 0;
      }
}
.letestReview {
    padding-bottom: 0px;
    @media (min-width: 768px) and (max-width: 990px) {
    padding: 50px;
   }
    @media (min-width: 990px) and (max-width:1024px){
        padding: 100px 150px 100px 150px !important;
    }
    @media screen and (max-width:767px) {
        display: none;
    }
}
.abLbl{
   text-align: center;
   P {  
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #8D8D8D;
    @media screen and (max-width:767px){
        font-size: 18px;
    }
   }
   @media screen and (max-width:767px) {
    text-align:left;
    font-size: 20px;
   }
}