.modal {

    :global(.modal-dialog){
        max-width: 600px !important;
        top: 95px !important;
        @media (max-width:767px) {
            width: 100%;
        }
    }

    :global(.modal-body) {
        height: 300px;
    }

    :global(.contact_details){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
     
    :global(.borberBottom){
        width: 100%;
        height: 10px;
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
    }
    :global(.emailPhone) {
        color:#FF6C2C ;
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            margin-right: 10px;
            cursor: pointer;
            margin-bottom: 5px;
            a {
                color:#FF6C2C ;
            }
            span{
                color: #000;
            }
        }
    }
}