
.header {

    h1 {
        margin: 0 auto !important;
        font-size: 1.8em;
    }
    
    button {
        margin-left: 0 !important;
    }
}
.main_form{
    width: 100% !important;
    height:100% !important;
    margin-top: 0px;
    // font-family: HarmoniaSansW01-Semibold !important;
    // font-size: 1.1em !important;
    float:none !important;

    & > fieldset{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > fieldset > div{
        width:100% !important;
        

        @media (max-width: 576px){
            width:100% !important;
            
        }
    }
    :global(.field-row){
        margin-bottom: 16px !important;
    }

    // :global(.button) {

    //     :global(.submit){
    //         border-radius: 100px;
    //         background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #ffb494 0%, #ff6c2c 100%);
    //         border: 1px solid transparent;
    //         color: #fff;
    //         font-family: "HarmoniaSansW01-Semibold";
    //         font-size: 16px;
    //         padding: 10px 50px;
    //         float: right;
    //         transition: 0.5s;
    //         border: none;
    //         &:hover ,:focus{
    //             color: #fff;
    //             background: #000;
    //         }
    //     }

    //     :global(.cancel) {
    //         color: white;
    //         background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #5c636a 0%, #a9a9a9 100%);
    //         border-radius: 100px;
    //         padding: 10px 45px;
    //         margin-left: 0px;
    //         text-decoration: none;
    //         transition: 0.5s;
    //         font-size: 16px;
    //         float: right;
    //         border: none;
    //         margin-right: 10px;
    //         &:hover ,:focus {
    //             color: #fff;
    //             background: #000;
    //         }
    //     }
    // }

}

.select_field{
    .inputField {
        font-family: "HarmoniaSansW01-Semibold" !important;

        :global(.ant-select-selector){
            border: 2px solid #1B1B1B !important;
            box-shadow: none !important;
            &:focus{
                border: 1px solid #000 !important;
                border-color: #000 !important;
                box-shadow: 0 0 0 1px #000 !important;
            }
            &:focus-visible {
                border: 2px solid #1B1B1B !important;
                box-shadow: none !important;
            }
        }
        :global(.ant-select-focused){
            border: 2px solid #1B1B1B !important;
            box-shadow: none !important;
        }
    }
    & > *{
        width:100% !important;
        
    }
}

.label{
    font-family: "HarmoniaSansW01-Semibold";
    font-size: 16px !important;

    small {
        color:rgb(0, 0, 0, 0.4) !important;
    }
}
.textAreaField {
    width: 100%;
    padding: 10px;
    font-size: 16px !important;
    border-radius: 6px;
    position: relative;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    font-size: 16px !important;
}