@import '../../styles/variables.scss';

.btn_b {
    margin: 20px 0px 70px 0px;
  }
 .main_row{
    align-items: end;
 } 

.EleTag{
    color: #000;
    background: white;
    border: 1px solid #E6E6E6;
    margin: 7px 10px;
    text-align: center;
    padding: 5px 30px;
    // background: rgba(239, 156, 80, 0.08);
    // -webkit-border-radius: 100px;
    // -moz-border-radius: 100px;
    border-radius: 100px;
    float: left;
}
 .button {
    font-family: $semibold-font;
    color:#fff;
    background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 10px 50px;
    text-decoration:none;
    transition:0.5s;
    border:0px;
    &:hover, :focus{
       background:#000;
    }
    @media screen and (max-width: 767px) {
        padding: 5px 30px;
   }
}
.artist_cta {
    border:1px solid #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color:#fff;
    padding:10px 20px;
    text-decoration:none;
    margin-left:20px;
    font-family: $semibold-font;
    transition:0.5s;
    justify-content: center;
    text-align: center;
    &__light {
        border-color:black;
        color: black;
    }  
    &:hover,:focus{
        background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
        border-color: #FF6C2C;
        color: white;
   }
   @media screen and (max-width: 767px) {
           padding: 5px 30px;
      }
   
}

.scrollBar {
    max-height: 500px;
    overflow-y: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-moz-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #FF6C2C;
        border-radius: 5px;
      }
    &::-moz-scrollbar-thumb {
        background-color: #FF6C2C;
        border-radius: 5px;
      }
}
.scrollBar_dark{
    max-height: 500px;
    overflow-y: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
    &::-webkit-scrollbar {
        width: 5px;
        background: linear-gradient(
            126.94deg
            , #2D2D2D 6.87%, #161616 71.46%);
        }
        &::-webkit-scrollbar-thumb {
            background-color: #FF6C2C;
            border-radius: 5px;
        }
        &::-moz-scrollbar-thumb {
            background-color: #FF6C2C;
            border-radius: 5px;
        }
}
.avrage{
    align-items: flex-start;
}
.avrage_Rating{
    // display: flex;
    flex-direction: column;
    
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            float: left;
            margin-right: 4px;
        }
    }
}

.ratingAveragelight{
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
    @media (max-width:768px){
        justify-content: center;
    }
    div{
        p {
            margin-bottom: 0px;
        }
    }
}
.darkCard{
    width: fit-content;
    background: #1D1D1D;
    border-radius: 20px;
    padding: 20px;
    margin-right: 0px;
    h2 , h4{
        color: #fff;
        margin: 0;
    }
    div {
        h5{
            margin-top:5px;
            color: #fff;
        }
    }
}
.ratingAverage{
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
    p{
        color: #fff;
    }
    .progress{
        margin: 10px;
        height: 5px;
        padding: 0;
        background: #2B2B2B;
        &__progressBar{
            background:#FF6C2C; 
        }
    }
    @media (max-width:768px){
        justify-content: center;
    }
}
.line{
    width: 0;
    height: 90px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    border-left: 2px solid #D9D9D9;
    @media (max-width :768px){
        display: none;
    }
}
.line2{
    width: 0;
    height: 90px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    border-left: 2px solid #2B2B2B;
    @media (max-width :768px){
        display: none;
    }
}
.progress{
    margin: 10px;
    height: 5px;
    padding: 0;
    background: #D9D9D9;
    &__progressBar{
        background:#FF6C2C; 
    }
}
.progress{
    margin: 10px;
    height: 5px;
    padding: 0;
    background: #D9D9D9;
    &__progressBar{
        background:#FF6C2C; 
    }
}
.load_more {
    a {
        padding: 10px 30px;
        border: 1px solid #bababa;
        font-family: $semibold-font;
        font-size: 1.1em;
        line-height: 1.6em;
        transition: 0.5s;
        text-decoration: none;
        color: #000000;
        border-radius: 50px;
        float:right;
        &:hover, :focus {
            background: #ff6c2c;
            color: #fff;
        }
            @media (max-width:766px){
               display: none;
            }
        @media screen and (min-width: 768px) and (max-width:1280px){
            font-size: 0.9em;
            padding: 10px 15px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
            padding: 0px;
    }
}
.load_more1{
    a {
        padding: 10px 30px;
        border: 1px solid #bababa;
        font-family: $semibold-font;
        font-size: 1.1em;
        line-height: 1.6em;
        transition: 0.5s;
        text-decoration: none;
        color: #fff;
        border-radius: 50px;
        float:right;
        &:hover, :focus {
            background: #ff6c2c;
        }
        @media (max-width:1280px){
            font-size: 0.9em;
            }
            @media (max-width:766px){
               display: none;
            }
        @media screen and (min-width: 768px) and (max-width:1024px){
            padding: 10px 20px;
        }
        
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
            padding: 0px;
    }

}
.load_moreM{
    a{
        padding: 10px 30px;
        border: 1px solid #bababa;
        font-family: "HarmoniaSansW01-Semibold";
        font-size: 1.1em;
        line-height: 1.6em;
        transition: 0.5s;
        text-decoration: none;
        color: #000000;
        border-radius: 50px;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.load_moreReting {
    // margin-left: 5px;
    a {
       padding: 10px 30px;
       border: 0px;
       background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
       font-family: $semibold-font;
       font-size: 1.1em;
       line-height: 1.6em;
       transition: 0.5s;
       text-decoration: none;
       color: #fff;
       border-radius: 50px;
       &:hover, :focus {
        background: #000;
        color: #fff;
        border: 1px solid #fff;
        }
    @media (max-width: 768px) {
        width: 100%;
    }
       @media screen and (min-width: 768px) and (max-width:1024px) {
        padding: 10px 20px;
        font-size: 0.9em;
        }     
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 130px;
        padding: 2px;
    }
}
.displayNone{
    @media screen and (min-width: 768px) and (max-width: 992px) {
        width:20px
    }
    @media screen and (min-width: 992px) and (max-width: 1280px) {
        width:20px
    }
    
}
.review_Ratinglight{
    display: flex;
    flex-direction: column;
    background: rgb(230, 230, 230);
    border-radius: 20px;
    padding: 30px;
    height: 180px;
    background-size: cover;
}
.review_RatingDark{
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(90.48% 90.48% at 50.08% 25.52%, #1D1D1D 0%, #000000 100%);
    border-radius: 20px;
    padding: 30px;
    margin-right: 20px;
    height: 180px;
    background-size: cover;
    h4{
        color: #fff;
    }
    p{
        color: #fff !important;
    }
}
.sliderIcon{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 0px;
}

.comment {
    // width: 300px;
   height: 120px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.section_pad {
    padding: 50px 0px 20px 0px;
    @media screen and (max-width:1280px) {
        padding: 20px 0px;
    }
}

.boxes {
    :global(.statBx > .tt) {
        font-size: 0.75em;
    }

    :global(.boxes) {
        display: flex;
        justify-content: end;
        gap: 3%;

        div {
            flex: 1;
            max-width: 136px;
            white-space: nowrap;
        }
        @media screen and (max-width:768px) {
            justify-content: center;
            padding: 0px 10px;
        }
    }
}

.profileHeaderImage {
    img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: auto;
        
        @media screen and (max-width:1024px) {
            max-height: 147px;
            content: url('/images/artist-detail/artist-profile-background-image-mobile.png');
        }
    }
}

.profileHeader {
    
    border-radius: 20px;
    display: flex;
    border: 1px solid #e6e6e6;
    background-color: #FFF;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 20px 50px;
    box-shadow: 0px 2px 10px #EEEEEE;

    :global(.general) {
        flex-basis: 50%;
        display: flex;
        :global(.profileImage) {
            flex-basis: 20%;
            align-self: center;
            margin-top: -8em;

            @media screen and (max-width:1580px) {
                margin-top: -4em;
            }

            @media screen and (max-width:1280px) {
                margin-top: -8em;
            }
        }

        :global(.profileSummary) {
            flex-basis: 80%;
            padding-left: 1em;
    
            :global(.city) {
                color: #FF6C2C;
                font-size: 1.10em;
            }
    
            :global(.name) {
                font-size: 1.5em;
                font-family: $rgular-font;
            }
    
            :global(.join) {
                font-size: 0.9em;
                margin-top: 0.5em;
            }
    
            :global(.social) {
                display: flex;
                align-items: center;
                gap: 1em;
                margin-top: 1em;
                a {
                    width: 40px;
                    height: 40px;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                a:hover {
                    border-color: #ff6c2c;
                }
            }
        }

        @media screen and (max-width:550px) {
            flex-direction: column;
            :global(.profileImage) {
                margin-top: -2em;
                align-self: flex-start;
                margin-bottom: 1em;
            }
        }
    }

    :global(.summary) {
        flex-basis: 50%;

        :global(.statBx > .tt) {
            font-size: 0.75em;
        }
    
        :global(.boxes) {
            display: flex;
            justify-content: end;
            gap: 3%;
            div {
                flex: 1;
                max-width: 136px;
                white-space: nowrap;
                :global(.statBx) {
                    background-color: #efefef;
                    border-radius: 8px;
                    color: #1d1d1d;
                    padding: 12px;
                    text-align: left;
                    :global(.n) {
                        font-family: $rgular-font;
                        font-size: 1.8em;
                    }

                    :global(.tt) {
                        font-size: 0.8em;
                    }
                }
                
            }
            @media screen and (max-width:768px) {
                justify-content: center;
                padding: 0px 10px;
            }
        }
    }

    @media screen and (max-width:1050px) {
        flex-direction: column;
        :global(.general) {
            margin-bottom: 1em;
        }
        :global(.summary) {
            :global(.boxes) {
                justify-content: center;
                margin-bottom: 1em;
            }
        }
    }

    @media screen and (max-width:550px) {
        padding: 20px 20px;
        :global(.summary) {
            :global(.boxes) {
                justify-content: start;
            }
        }
    }

}

.profileHeaderDark {
    background-color: #0F0F0F;
    box-shadow: 0px 2px 10px #0F0F0F;
    border-color: #0F0F0F;
    background-image: url('/images/profileV.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;

    :global(.general) {
        :global(.profileSummary) {
            :global(.name) {
                color: #FFFFFF;
            }

            :global(.join) {
                color: #FFFFFF;
                opacity: 0.5;
            }

            :global(.social) {
                a {
                    background: rgba(255, 255, 255, 0.04);
                    border: 1px solid rgba(255, 255, 255, 0.08);
                }
            }
        }
    }

    :global(.summary) {
        :global(.boxes) {
            div {
                :global(.statBx) {
                    background-color: #1D1D1D;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.profileHeaderwhite {
    background-color: #FFF;
    box-shadow: 0px 2px 10px #EEEEEE;
}

.artist_detail_page {
    :global(.borderGray) {
        border-bottom: 0.6px solid #858585;
        // display: flex;
        align-items: center;

        a {
            margin-left: auto;
        }
    }

    :global(.nav-pills > .nav-item > a){
        text-align: center;
    }
    :global(.nav-pills > .nav-item > .nav-link.active):before {
        content: "";
        height: 2px;
        width: 45px;
        display: inline-block;
        border-bottom: 2px solid;
        position: absolute;
        bottom: -9px;
    }
}


.artist_review_section {
    display: flex;
    margin-top: 2em;
    :global(.avarage_rating) {
        background-color: #F8F8F8;
        border: 1px solid #E6E6E6;
        border-radius: 24px;
        padding: 20px 25px;
        height: 147px;
        width: 170px;

        div:nth-child(1) {
            font-family: $rgular-font;
            font-style: normal;
            font-weight: 400;
            font-size: 2.1em;
        }

        div:nth-child(2) {
            span {
                height: 18px;
                padding: 2px;
            }
        }

        div:nth-child(3) {
            font-style: normal;
            font-weight: 400;
            font-size: 0.8em;
        }
    }

    :global(.avarage_rating_line) {
        width: 5em;
        padding:30px 25px;
        display: flex;
        justify-content: center;
        div {
            border-right: 0.6px solid #AAAAAA;
            height: 100%;
            width: 1px;
        }
    }

    :global(.rating_progress) {
        div {
            display: flex;
            gap: 10px;
            justify-content: start;
            align-items: center;
            background-color: transparent;
            color:  #000000;
            line-height: 2;
            position: relative;

            :global(.progress) {
                span:nth-child(1) {
                    width: 400px;
                    height: 4px;
                    background-color: #D9D9D9;
                    opacity: 0.33;
                    border-radius: 20px;
                }

                span:nth-child(2) {
                    height: 4px;
                    background-color: #FF6C2C;
                    border-radius: 20px;
                    width: 0%;
                    position: absolute;
                }
            }

            div:nth-child(1), div:nth-child(3) {
                font-size: 0.8em; 
                flex-basis: 10%; 
            }
        }
        
    }

    :global(.rating_buttons) {
        flex: 1;
        display: flex;
        gap: 2%;
        justify-content: end;
        align-items: end;
    }

    :global(.rating_progress.dark) {
        div {
            color: #FFFFFF;
        }
    }

    :global(.avarage_rating.dark) {
        background: radial-gradient(81.48% 81.48% at 29.08% 18.52%, #1D1D1D 0%, #0D0D0D 94.27%);
        border: 1px solid #00000000;
        color: #FFFFFF;
    }
}

.artist_review_mobile_section {
    display: none;
    @media screen and (max-width:1024px) {
        display: block;
        :global(.first) {
            display: flex;
            gap: 1%;
            justify-content: space-around;
            h4 {
                font-size: 1.5em;
                flex-basis: 70%;
                line-height: 1.7;
            }

            :global(.avarage_rating) {
                background-color: #F8F8F8;
                border: 1px solid #E6E6E6;
                border-radius: 24px;
                padding: 5px 15px;
                height: 102px;
                width: 124px;
        
                div:nth-child(1) {
                    font-family: $rgular-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 2.1em;
                }
        
                div:nth-child(2) {
                    span {
                        height: 18px;
                        padding: 0px;
                    }
                }
        
                div:nth-child(3) {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 0.8em;
                    margin-top: 5px;
                }
            }

            :global(.avarage_rating.dark) {
                background: radial-gradient(81.48% 81.48% at 29.08% 18.52%, #1D1D1D 0%, #0D0D0D 94.27%);
                border: 1px solid #00000000;
                color: #FFFFFF;
            }
        }

        :global(.second) {
            display: flex;
            justify-content: center;
            :global(.rating_progress) {
                div {
                    display: flex;
                    gap: 10px;
                    justify-content: start;
                    align-items: center;
                    background-color: transparent;
                    color:  #000000;
                    line-height: 2;
                    position: relative;
        
                    :global(.progress) {
                        span:nth-child(1) {
                            width: 400px;
                            height: 4px;
                            background-color: #D9D9D9;
                            opacity: 0.33;
                            border-radius: 20px;

                            @media screen and (max-width:400px) {
                                width: 280px;
                            }
                        }
        
                        span:nth-child(2) {
                            height: 4px;
                            background-color: #FF6C2C;
                            border-radius: 20px;
                            position: absolute;
                        }
                    }
        
                    div:nth-child(1), div:nth-child(3) {
                        font-size: 0.8em; 
                        flex-basis: 15%; 

                        @media screen and (max-width:360px) {
                            flex-basis: 30%; 
                        }
                    }
                }
                
            }

            :global(.rating_progress.dark) {
                div {
                    color: #FFFFFF;
                    padding: 0;
                }
            }
        }
    }
}

.artist_review_desktop_section {
    padding-bottom: 50px;
    @media screen and (max-width:1024px) {
        display: none;
    }
}

.downloadbutton {
   text-align: center; 

   :global(.btn:disabled) {
       border-color: #000;
       background-color: #000;
       cursor: not-allowed !important;
       pointer-events: visible; 
   }

   button {
      width: 33%;
      
      @media screen and (max-width:1300px) {
        width: auto;
    }
    @media screen and (max-width:360px) {
       padding: 10px 12px;
       width: 100%;
       font-size: 0.9em;
    }
    @media (min-width:577px) and (max-width:710px) {
        padding: 10px 12px;
        width: 100%;
        font-size: 0.9em;
     }
   }

}