@import "../../styles/variables.scss";

.dashboard {
   display: flex;
   padding: 20px;

   :global(.folders) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;

      :global(.folder) {
         color: #fff;
         width: 180px;
         height: 180px;
         cursor: pointer;

         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;

         div:nth-child(1) {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-family: $semibold-font;
            background-size: 100% ;
            @media (max-width:580px) {
               font-size: 14px;
            }
         } 
         
         :global(.orange) {
            background: url("/images/general/or-fold.svg");
         }

         :global(.green) {
            background: url("/images/general/green-fold.svg");
         }

         :global(.grey) {
            background: url("/images/general/grey-fold.svg");
         }

         :global(.magenta) {
            background: url("/images/general/magenta-fold.svg");
         }

         :global(.skyblue) {
            background: url("/images/general/skyblue-fold.svg");
         }

         @media (max-width:580px) {
            width: 100px;
            height: 100px;
         }
      }

      :global(.disabled) {
         cursor: not-allowed;
         pointer-events: none;
      }

      @media (max-width:1024px) {
         justify-content: space-between;
      }
   }
}
