@import '../../styles/variables.scss';

.notfound_background {
    background-image: url("/images/general/404.png");
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto 12px;

    :global(.section) {
        height: 52vh;
        margin: 20px auto;

        @media screen and (max-width: 767px) {
            height: 40vh;
        }
    }
    img {
        height: auto;
    }

    h2 {
        font-size: 4rem;
        font-weight: 500;
        color: #6A7382;
        margin-top: 15px;
        
        @media screen and (max-width: 767px) {
            font-size: 2rem;
        }
    }

    p {
        color: #6A7382;
    }

    :global(.backImage) {
        color: transparent;
        position: absolute;
        right: 5%;
        top: 0px;
        width: auto;
        max-height: 250px;

        @media screen and (max-width: 767px) {
            max-height: 150px;
            right: 2%;
        }
    }
}