@import "../../../styles/variables.scss";

.header {
    padding-left: 0;
    padding-right: 0;
    color: $dark;
    align-items: start !important;

    h3 {
        margin: 0;
        font-size: 24px;

        p {
            font-size: 18px;
            color: #6E6E6E;
            font-family: $rgular-font;
            margin: 0;
            margin-top: 5px;
        }
    }

    :global(.btn-close) {
        opacity: 1;
        width: 0.6em;
        height: 0.6em;
        border: 1px solid #D9D9D9;
        border-radius: 50%;
        background-size: 10px;
        position: absolute;
        top: 25px;
        right: 25px;

        &:hover {
            border-color: $primary;
        }
    }
}

.modal {

    :global(.modal-dialog) {
        max-width: 500px !important;
    }

    :global(.modal-content) {
        border: 1px solid $primary;
        padding: 1rem;
        padding-top: 20px;

        h2 {
            text-align: center;
        }
    }

    :global(.text-green) {
        color: #40A74E;
        width: 100%;
        text-align: center;
    }

    :global(.text-dark) {
        color: $dark !important;
    }

    :global(.is-link) {
        cursor: pointer;
        &:hover {
            color: $primary !important;
        }
    }
}

.body {
    padding: 0px;

    p {
        display: flex;
        gap: 5px;
        align-items: center;
        // justify-content: center;
    }

    a {
        color: $primary;
    }

    :global(.text-muted) {
        color: #8d8d8d;
    }
}

.fbSign {
    text-align: center;
    padding: 0;

    img {
        max-width: 100%;
    }

    @media screen and (max-widtu: 767px) {
        margin-top: 20px;
        font-size: large;
    }
}

.orline {
    color: #8D8D8D;
    text-align: center;
    margin: 20px 0;
}

.lineThrough {
    display: flex;
    flex-direction: row;
    font-size: smaller;

    @media screen and (min-width: 767px) {
        font-size: 15px;
    }
}

.lineThrough:before,
.lineThrough:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.lineThrough:before {
    margin-right: 10px
}

.lineThrough:after {
    margin-left: 10px
}