@import "../../../styles/variables.scss";

.layoutContainer {
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-color: $light;
    background-image: url("/images/verticle-grid.svg"),
        url("/images/verticle-logo.svg");
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
    background-size: 250px, 100px;
    @media (max-width: 768px) {
        height: auto;
    }
    .layoutWrapper {
        display: flex;
        justify-content: center;
        height: calc(100% - 100px);
    }
    &__formContainer {
        margin-left: auto;
        margin-right: auto;
    }
    &__logoContainer {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        img {
            width: 175px;
        }
    }
    &__authFooter {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 22px;
        padding-bottom: 22px;
    }
}
