@import "../../styles/variables.scss";

.testi_box {
  padding: 30px 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-image: url("/images/testimonial_bg.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  &__maintesti {
    text-align: center;
    max-width: 100%;
    margin-top: 50px;
    img {
      // max-width: 50% !important;
      margin-top: 30px;
      max-width: 50%;
      @media screen and (max-width: 1280px) {
        max-width: 100%;
      }
    }
  }

  &__maintesti_name {
    color: #fff;
    font-family: $semibold-font;
    text-align: center;
    font-size: 1.5em;
    margin-top: 0px;
  }

  &__maintesti_text {
    margin-top: 30px;
    p {
      // background-image: url("/images/quotes.png");
      // background-repeat: no-repeat;
      // background-size: auto;
      // background-position: top left;
      padding: 20px 10px;
      text-align: center;
      color: #fff;
      font-size: 1.5em;
      line-height: 1.6em;
      @media screen and (max-width: 990px) {
        font-size: 1em;
      }
    }

    p:before {
      content: url("/images/quotes.png");
      margin-right: 10px;
    }
  }
  &__maintesti_reviews {
    margin-top: 0px;
    .overlapTh {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-bottom: 0px;
      border-bottom: 1px solid rgb(255, 255, 255, 0.2);
      @media screen and (max-width: 1280px) {
        padding-bottom: 20px;
      }
      .ovethums {
        width: 25%;
        float: left;
        text-align: right;

        @media screen and (max-width: 1280px) {
          width: 100%;
        }
        ul {
          list-style: none;
          float: right;
          margin-left: -20px;

          @media screen and (max-width: 1280px) {
            float: none;
            margin: 0 auto;
            display: table;
          }

          li {
            list-style: none;
            float: left;
            margin-left: -20px;
            margin-top: 5px;
          }
        }
      }
      .rating {
        width: 25%;
        float: left;
        margin-left: 10px;
        text-align: left;
        @media screen and (max-width: 1280px) {
          width: 100%;
          text-align: center;
        }
        ul {
          float: left;
          margin-bottom: 0;
          padding-left: 0px;
          @media screen and (max-width: 1280px) {
            float: left;
            margin: 0 auto;
            display: table;
          }
          li {
            list-style: none;
            float: left;
            margin-right: 4px;
          }
        }
        P {
          color: #fff;
          font-size: 0.8em;
          float: left;
          @media (min-width: 768px) and (max-width: 1280px) {
            text-align: center;
          }
        }
        span {
          color: #fff;
          font-size: 1.2em;
          margin-left: 5px;
          float: left;
        }
      }
    }
  }

  &__maintesti_cta {
    text-align: center;
    margin-top: 30px;
    p {
      color: #fff;
      font-size: 0.8em;
      .artist_cta {
        border: 1px solid #fff;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        color: #fff;
        padding: 15px 50px;
        text-decoration: none;
        margin-left: 20px;
        font-family: $semibold-font;
        transition: 0.5s;
        &:hover,
        :focus {
          background: radial-gradient(
            138.46% 137.77% at 53.14% -61.4%,
            #ffb494 0%,
            #ff6c2c 100%
          );
          border-color: #ff6c2c;
        }
        @media screen and (max-width: 767px) {
          padding: 5px 30px;
          
        }
      }
    }
  }
  @media screen and (max-width: 1280px) {
    background-size: cover;
  }
}
.about {
  font-size: 1rem !important;
  min-height: 120px;
}

.main_box {
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
    .smallIcons{
        max-width: 40px !important;
        max-height: 40px !important;
    }
    .rating{
        margin-top: 10px !important;
    }
}
@media screen and (max-width: 500px) {
  .overlapTh {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .about {
    min-height: 220px;
  }
  .testi_box__maintesti_name {
    min-height: 75px !important;
    
  }
  .testi_box__maintesti{
    margin-top: 0 !important;
  }

  .rating{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
