@import "../../../styles/variables.scss";

.header {
  margin: 0 !important;
  padding-left: 0;
  padding-right: 0;
  color: $dark;
  align-items: start !important;

  h3 {
    margin: 0;
    font-size: 24px;

    p {
      font-size: 18px;
      color: #6E6E6E;
      font-family: $rgular-font;
      margin: 0;
      margin-top: 5px;
    }
  }

  :global(.btn-close) {
    opacity: 1;
    width: 0.6em;
    height: 0.6em;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    background-size: 10px;
    // margin-top: 5px;

    position: absolute;
    top: 25px;
    right: 25px;

    &:hover {
      border-color: $primary;
    }
  }
}

.modal {
  :global(.modal-content) {
    border: 1px solid $primary;
    padding: 1rem;
    padding-top: 20px;

    h2 {
      text-align: center;
    }
  }

  :global(.modal-dialog) {
    max-width: 600px !important;
  }
}

.body {
  margin-bottom: 0 !important;
  padding: 0 !important;

  :global(p) {
    margin-bottom: 0px;
  }

  :global(.notes) {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
  }

  :global(.show_details) {

    display: flex;

    :global(.image_section) {
      flex-basis: 30%;
      position: relative;

      img {
        border-radius: 10px;
        height: auto;
      }
    }

    :global(.description) {
      flex-basis: 70%;

      :global(.links) {
        display: flex;
        gap: 5px;
        justify-content: space-between;

        div:nth-child(1),
        div:nth-child(2) {
          flex-basis: 50%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          a {
            color: $primary;
          }

        }

        div:nth-child(2) {
          text-align: right;
        }
      }

      :global(.information) {
        display: flex;
        gap: 5px;

        div:nth-child(1),
        div:nth-child(2) {
          flex-basis: 50%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          label {
            font-size: 0.8rem;
            color: rgba(176, 176, 176, 1)
          }
        }
      }

      :global(.date_info) {
        div:nth-child(1) {
          label {
            font-size: 0.8rem;
            color: rgba(176, 176, 176, 1)
          }
        }
      }
    }

    :global(.custom_divider) {
      color: $primary;
      margin: 5px 0px;
    }
  }


  :global(.earnings) {
    display: flex;
    // gap: 2px;
    // padding-right: 10px;
    align-items: center;

    label {
      // flex-basis: 35%;
      color: #000;
      font-weight: 700;
    }

    div {
      flex-basis: 75%;
    }
  }

  :global(.promoteOnJCasp) {
    padding-left: 10px;

    img {
      max-width: 30px;
      padding-right: 10px;
    }
  }


  :global(.actions) {
    display: flex;
    gap: 10px;

    div:nth-child(1) {
      flex-basis: 33%;
    }

    div:nth-child(2),
    div:nth-child(3) {
      flex-basis: 33%;
      float: right;

      img {
        border: 1px solid $primary;
        border-radius: 100%;
        padding: 5px;
        cursor: pointer;
        height: 40px;
        width: 40px;
        margin-left: 35%;
      }
    }

    @media (max-width:580px) {
      flex-wrap: wrap;
    }
  }

  :global(button) {
    width: 100%;
  }

  :global(.share) {
    background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFF 0%, #398DFF 100%);
    cursor: pointer;
    float: right;
  }

  @media screen and (max-width: 580px) {
    :global(.show_details) {
      flex-direction: column;
      gap: 10px;

      :global(.description) {
        flex-basis: 100%;
        padding: 0px;
        max-width: 100%;
      }
    }

    :global(.earnings) {
      padding-right: 0px;
      align-items: center;
      margin-bottom: 10px;

      label {
        flex-basis: 35%;
        color: #000;
        font-weight: 700;
      }

      div {
        flex-basis: 65%;
      }
    }

    :global(.promoteOnJCasp) {
      padding-left: 0px;

      img {
        max-width: 30px;
        padding-right: 10px;
      }
    }
  }
}