.form {
    :global(.fieldH){
        label{
            font-family: "HarmoniaSansW01-Semibold";
            font-size: 16px !important;    
        }
        :global(.input) {
            font-family: "HarmoniaSansW01-Semibold";
            font-size: 16px !important;    
        }
        
    }
   
}