@import "../../../styles/variables.scss";

.event_info {
  width: 100%;
  margin-bottom: 50px;
  float: left;
  width: 100%;
  overflow-x: hidden;

  &_title {
    padding: 0px;

    h4 {
      font-size: 1em;
    }
  }

  &_reminder {
    width: auto;
    float: left;

    a {
      font-size: 0.9em;
      font-family: $semibold-font;
      color: $dark;
      text-decoration: none;
      transition: 0.5s;

      :hover,
      :focus {
        color: $primary;
      }
    }

    img {
      max-width: 70%;
    }
  }

  &_share {
    width: auto;
    float: left;

    ul li {
      list-style: none;
      float: left;
      margin-right: 10px;

      a {
        height: 30px;
        width: 30px;
        // display:block;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #848484;
        padding: 6px 6px;
        margin: 0 auto;
        transition: 0.5s;

        :hover,
        :focus {
          opacity: 0.6;
        }

        img {
          max-width: 15px;
        }
      }
    }
  }

  &_head {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  }

  &_address {
    padding-top: 20px;
    padding-bottom: 30px;

    p,
    a {
      color: #555555;
      font-family: $rgular-font;
      font-size: 1em;
      line-height: 1.2;
      text-decoration: none;
      transition: 0.5s;

      :hover,
      :focus {
        color: $primary;
      }
    }
  }
}

.upComingShare {
  border: none;
  background-color: transparent;
}

.event_info_meta {
  justify-content: space-between;
}

.event_info_address_location {
  display: flex;
  flex-direction: row;
  //   background-color: $primary;
  //   align-self: center;
  align-items: center;
  //   justify-content: center;
}

.event_info_address_location>span>p {
  margin: 0;
}

.event_info_reminder {
  display: flex;
}

.PlayIcon {
  top: 36%;
}

.WhiteIcon {
  width: 20px;
  height: 20px;

  @media (max-width:768px) {
    width: 20px;
    height: 20px;
  }

  @media (max-width:530px) {
    width: 30px;
    height: 30px;
  }
}

.clockPosition {
  margin-left: 10px;
  float: left;
}

.sshare {
  float: right;
}

.shareIcon {
  &:hover {
    border-radius: 100%;
    background-color: $primary ;
    stroke: white;
  }
}

.list {
  overflow-x: scroll;
  overflow-y: hidden;
  padding-right: 10px;

  &::-webkit-scrollbar {
    height: 3px;
    background: #D9D9D9;
    margin-top: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    height: 3px;
    border-radius: 5px;
    margin-top: 5px;
  }

  &::-moz-scrollbar-thumb {
    background-color: $primary;
    height: 3px;
    border-radius: 2px;
    margin-top: 5px;
  }
}

.sliderIcon {
  a {
    svg {

      width: 50px;
    }
  }
}

.nextIcon {
  float: right;
  stroke: $primary;

  rect {
    stroke: $primary;
  }
}

.prevIcon {
  stroke: $primary;

  rect {
    stroke: $primary;
  }
}

.venusCardIcon {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  width: 100%;
  align-items: center;
  gap: 2%;

  &__clIcon {
    padding: 0 2px;
    margin: 0;
  }

  &__clockPosition {
    padding: 0 5px;
  }

  &__sshare {
    padding: 0;
  }

  @media only screen and (max-width: 1600px) {
    &__clIcon {
      svg {
        display: none;
      }
    }

    &__clockPosition {
      svg {
        display: none;
      }
    }
  }
}


.CardImage {
  display: flex;
  flex-direction: row;

  img {
    margin-top: 0;
    height: auto;
    max-width: 100%;
  }
}