.modal_body {
   
  :global(.dividar){
      padding-bottom: 10px;
      border-top:1px solid #FF6C2C;
  }
  :global(.venueSearch){
    a {
        border-bottom: 1px solid #FF6C2C;
        padding: 0px 0px;
        color:#FF6C2C;
        float: right;
        margin-bottom: 5px;
        
        &:hover {
            color:#FF6C2C;
        }
      }
    }
  :global(.icons){
      :global(.addIcon){
          background-color: #FF6C2C;
          margin-top: 12px;
          border-radius: 7px;
          width: 100%;
          cursor: pointer;
          text-align: center;
          align-items: center;
          
          img {
            cursor: pointer;
        }
      }
    
  }

  :global(.btn-secondary){
    &:hover {
        background: #000;
             color: #fff;
    }
  }
   :global(.DatesContainer){
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       margin-top: 10px;
   }

  :global(.Multidates) {
      background: #FFB494;
      color: #fff;
      border-radius: 100px;
      font-size: 0.9em;
      padding: 5px;
      margin: 5px;
  }

    :global(.b-deselect){
        color: #000 !important;
    }
    :global(.rmdp-panel-body){
        li {
           background-color:#FF6C2C !important ;
        }
    }

    :global(.rmdp-day) {
        &:hover {
            :global(.sd) {
                background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%) !important;
            }
        }
    }

    :global(.rmdp-selected) {
        :global(.sd) {
            background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%) !important;
        }
    }

    :global(.timePiker) {
        :global(.rmdp-container) {
            :global(.ep-arrow) {
                left: 0 !important;
            }
        }

    :global(.rmdp-wrapper) {
        width: 180px !important;
        padding: 10px 0;
        :global(.rmdp-time-picker) {
            div {
                :global(.rmdp-am) {
                    margin-top: 12px !important;
                }
            }
            
            :global(.rmdp-arrow-container) {
                
                :global(.rmdp-arrow) {
                     width: 12px  !important;
                     height: 12px !important;
                    // border: solid #FF6C2C !important;
                }
                
                &:hover {
                    background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%) !important;
                }
            }
        }
        }
    } 
 
}


.header{
    border: none;
    text-align: center;
    h2 {
        text-align: center;
        align-items: center;
    }
 }
 .modalBody{
     margin: 0;
     
 }
 
 .venueSelect {
     width: 100%;
    }
    .selectFieldModal {
        width: 100%;
        &:hover,:focus {
            border-color: #000;
            box-shadow: #000;
        }
    }
 .request_btn {
     button {
         background: radial-gradient(138.46% 137.77% at 53.14% -61.4%, #FFB494 0%, #FF6C2C 100%);
         -webkit-border-radius: 100px;
         -moz-border-radius: 100px;
         border-radius: 100px;
         border: 1px solid transparent;
         color: #fff;
         font-size: 1em !important;
         padding: 8px 38px;
         float: right;
         transition: 0.5s;
         &:hover,:focus {
             background: #000;
             color: #fff;
         }
     }
 }
 .venueSelectlabel{
     label {
         width: 100%;
         color: #000;
         font-family: "HarmoniaSansW01-Semibold";
         font-size: 1em;
         margin-bottom: 3px;
     }
     :global(.ant-picker:hover){
        border-color: hsl(0, 0%, 70%) !important;
     }
     
     :global(.ant-picker-focused){
        border: 2px solid #000 !important;
     }

     :global(.timePiker) {

        :global(.ant-picker){
            width: 100%;
            border: 1px solid;
            border-color: hsl(0, 0%, 80%);
            height: 39px;
            font-size: 19px;
            border-radius: 6px;

            :global(.ant-picker-input){
                 input {
                     font-size: 18px;
                 }
            }
             
        }
     }

     @media (max-width:767px) {
         margin-top: 10px;
     }
 }
 .datePicker {
     // padding: 10px 11px 10px !important; 
     font-size: 20px !important;
     position: relative;
      display: flex !important; 
     align-items: center !important;
     background: #fff;
     // border: 1px solid #d9d9d9;
     border-radius: 6px !important;
     transition: border 0.3s, box-shadow 0.3s;
     // width: 100% !important;
    input {
     border: none !important;
     font-size: 18px !important;
     &:hover ,:focus {
         border: none;
        }
    }
 }
 